Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni

finding the directory name
  tests/Jenkins/utilities.sh
Owners: @fstagni

added noSQL SSL parameter
  FrameworkSystem/Client/ComponentInstaller.py
Owners: @fstagni, @atsareg

replacements
  tests/Jenkins/dirac_ci.sh
Owners: @fstagni

style
  Resources/MessageQueue/Utilities.py
  Resources/MessageQueue/test/Test_StompMQConnection.py
  WorkloadManagementSystem/ConfigTemplate.cfg
  tests/Jenkins/utilities.sh
Owners: @wkrzemien, @fstagni, @atsareg

Ensure numOfProc is an int
  WorkloadManagementSystem/PilotAgent/pilotCommands.py
Owners: @fstagni, @atsareg

Change maxNumProc short char to m to not conflict with -P/--path
  WorkloadManagementSystem/PilotAgent/pilotTools.py
Owners: @fstagni, @atsareg

add performance tests
  Core/DISET/RequestHandler.py
  requirements.txt
  tests/Performance/Service/config.cfg
  tests/Performance/Service/test_scripts/service.py
  tests/Performance/webserver/config.cfg
  tests/Performance/webserver/test_scripts/web.py
Owners: @fstagni, @atsareg

fix indentation
  tests/Performance/Service/test_scripts/service.py
Owners: @fstagni

minor fixes and style
  Core/Utilities/MJF.py
  Core/Utilities/Subprocess.py
  Core/Utilities/TimeLeft/MJFTimeLeft.py
  Core/Utilities/TimeLeft/TimeLeft.py
  Workflow/Modules/ModuleBase.py
  WorkloadManagementSystem/Client/DIRACbenchmark.py
  WorkloadManagementSystem/scripts/dirac-wms-cpu-normalization.py
Owners: @fstagni, @atsareg

add documentation
  tests/Performance/webserver/test_scripts/web.py
Owners: @fstagni

minor + style
  ConfigurationSystem/Client/Config.py
  ConfigurationSystem/private/ConfigurationClient.py
  ConfigurationSystem/private/Refresher.py
  WorkloadManagementSystem/DB/PilotAgentsDB.py
Owners: @fstagni, @atsareg

avoid repetition
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

andrew not Ricardo
  WorkloadManagementSystem/scripts/dirac-wms-cpu-normalization.py
Owners: @fstagni, @atsareg

removed dangerous script
  WorkloadManagementSystem/DB/TaskQueueDB.py
  WorkloadManagementSystem/scripts/dirac-admin-kill-pilot.py
  WorkloadManagementSystem/scripts/dirac-admin-reoptimize-jobs.py
  WorkloadManagementSystem/scripts/dirac-wms-get-queue-cpu-time.py
Owners: @fstagni, @atsareg

removed old agents from configTemplate
  WorkloadManagementSystem/ConfigTemplate.cfg
Owners: @fstagni, @atsareg

style
  WorkloadManagementSystem/Service/JobStateSyncHandler.py
Owners: @fstagni, @atsareg

debug level
  tests/Integration/Resources/Storage/Test_Resources_GFAL2StorageBase.py
Owners: @fstagni

added parametric job
  WorkloadManagementSystem/Service/JobManagerHandler.py
  tests/System/unitTestUserJobs.py
  tests/Utilities/testJobDefinitions.py
Owners: @fstagni, @atsareg

setting new way
  tests/Jenkins/dirac-cfg-update-server.py
Owners: @fstagni

pylint and style
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

setting/unsetting errexit
  tests/Jenkins/utilities.sh
Owners: @fstagni

style
  TransformationSystem/Client/test/Test_Client_TaskManagerPlugin.py
Owners: @phicharp, @fstagni

Job may not have a pilot (yet)
  WorkloadManagementSystem/DB/PilotAgentsDB.py
  tests/Integration/WorkloadManagementSystem/Test_Client_WMS.py
Owners: @fstagni, @atsareg

fix pycodestyle
  tests/System/unitTestUserJobs.py
Owners: @fstagni

added AUTHORS.rst file
  AUTHORS.rst
Owners: @fstagni, @atsareg

minor changes
  AUTHORS.rst
  README.rst
Owners: @fstagni, @atsareg

v6r19p16 notes
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre15 notes
  release.notes
Owners: @fstagni, @atsareg

v6r19p16, v6r20-pre15
  releases.cfg
Owners: @fstagni, @atsareg

convert string to number
  FrameworkSystem/Client/ComponentInstaller.py
Owners: @fstagni, @atsareg

improve the system adminstrator service
  Core/Utilities/Time.py
  FrameworkSystem/Service/SystemAdministratorHandler.py
Owners: @fstagni, @atsareg

move the pylint ignore to the correct place
  FrameworkSystem/Client/ComponentInstaller.py
Owners: @fstagni, @atsareg

pylint fix
  Core/Utilities/Time.py
Owners: @fstagni, @atsareg

Add /var/run/shutdown_time mechanism
  WorkloadManagementSystem/JobWrapper/Watchdog.py
Owners: @fstagni, @atsareg

getting the DB from the extension, if it exists
  .gitignore
  FrameworkSystem/Service/ProxyManagerHandler.py
Owners: @fstagni, @atsareg

add error log
  FrameworkSystem/Service/SystemAdministratorHandler.py
Owners: @fstagni, @atsareg

Move local shutdown time check to MJF utility
  Core/Utilities/MJF.py
  WorkloadManagementSystem/JobWrapper/Watchdog.py
Owners: @fstagni, @atsareg

Remove left over debug message
  WorkloadManagementSystem/JobWrapper/Watchdog.py
Owners: @fstagni, @atsareg

simple fixes
  ResourceStatusSystem/Client/ResourceStatus.py
  ResourceStatusSystem/DB/ResourceManagementDB.py
  ResourceStatusSystem/DB/ResourceStatusDB.py
  ResourceStatusSystem/Utilities/CSHelpers.py
  ResourceStatusSystem/Utilities/RSSCacheNoThread.py
Owners: @fstagni, @atsareg

mostly style
  Core/scripts/dirac-compile-externals.py
  ResourceStatusSystem/DB/ResourceManagementDB.py
  ResourceStatusSystem/DB/ResourceStatusDB.py
  ResourceStatusSystem/Utilities/CSHelpers.py
Owners: @fstagni, @atsareg
