Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni

Glue2: check if Share is CE or something else, no warning if share found but is not CE
  Core/Utilities/Glue2.py
Owners: @fstagni, @atsareg

Glue2: Make things less verbose in default log level
  Core/Utilities/Glue2.py
Owners: @fstagni, @atsareg

saving output of runLocal when it fails (for DEBUG purposes)
  Interfaces/API/Dirac.py
Owners: @fstagni, @atsareg

fix
  Interfaces/API/Dirac.py
Owners: @fstagni, @atsareg

Update SiteDirector.py
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

v6r19p21 notes
  release.notes
Owners: @fstagni, @atsareg

using keyed parameters
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

doc update
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/WorkloadManagement/Agents/SiteDirector/index.rst
Owners: @andresailer

v6r20-pre22 notes
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre23, v6r19p22
  release.notes
  releases.cfg
Owners: @fstagni, @atsareg

style
  ResourceStatusSystem/Command/FreeDiskSpaceCommand.py
  Resources/Storage/StorageElement.py
Owners: @fstagni, @atsareg, @chaen

style
  AccountingSystem/Service/DataStoreHandler.py
Owners: @fstagni, @atsareg

added InstallingAndConfiguringBasics page
  docs/source/AdministratorGuide/InstallingAndConfiguringBasics/index.rst
  docs/source/AdministratorGuide/SetupStructure/index.rst
  docs/source/AdministratorGuide/Systems/index.rst
  docs/source/AdministratorGuide/index.rst
Owners: @andresailer

doc update wrt pilots3
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/WorkloadManagement/Agents/SiteDirector/index.rst
  docs/source/AdministratorGuide/Systems/WorkloadManagement/Pilots/Pilots3.rst
  docs/source/AdministratorGuide/Systems/WorkloadManagement/index.rst
Owners: @andresailer

pylints
  AccountingSystem/Service/DataStoreHandler.py
Owners: @fstagni, @atsareg

fix bug in printout
  Interfaces/API/DiracAdmin.py
  Interfaces/scripts/dirac-admin-get-banned-sites.py
Owners: @fstagni, @atsareg

avoid scary exceptions
  Core/Utilities/TimeLeft/MJFTimeLeft.py
Owners: @fstagni, @atsareg

making sure to remove previous dirs
  Interfaces/API/Dirac.py
Owners: @fstagni, @atsareg

Added error log messages
  Resources/Computing/CREAMComputingElement.py
Owners: @atsareg

Bug fixed in getting user DN
  WorkloadManagementSystem/private/ConfigHelper.py
Owners: @fstagni, @atsareg

More informative log message
  Core/DISET/private/BaseClient.py
Owners: @fstagni, @atsareg

autopep8
  Core/DISET/private/BaseClient.py
Owners: @fstagni, @atsareg

Create ProcessPool only when all the CE parameters are available
  Resources/Computing/PoolComputingElement.py
Owners: @atsareg

Changed PoolCE constructor interface
  Resources/Computing/test/Test_PoolComputingElement.py
Owners: @atsareg

some doc about how dirac handle a request
  Core/DISET/RequestHandler.py
  Core/DISET/ServiceReactor.py
  Core/DISET/private/BaseClient.py
  Core/DISET/private/Service.py
  docs/requirements.txt
  docs/source/DeveloperGuide/Internals/Core/ClientServer.rst
  docs/source/DeveloperGuide/Internals/Core/complete_client-server.uml
  docs/source/DeveloperGuide/Internals/Core/simplified_client-server.uml
  docs/source/conf.py
Owners: @fstagni, @atsareg, @andresailer

removed useless/outdated functions
  Core/Utilities/Network.py
  Core/Utilities/__init__.py
Owners: @fstagni, @atsareg

added call for getting spacetoken usage
  ResourceStatusSystem/Service/PublisherHandler.py
Owners: @fstagni, @atsareg

fixes
  FrameworkSystem/Agent/SystemLoggingDBCleaner.py
  FrameworkSystem/Agent/TopErrorMessagesReporter.py
  ResourceStatusSystem/Service/PublisherHandler.py
Owners: @fstagni, @atsareg

Doc: more DMS doc
  docs/source/AdministratorGuide/Resources/Catalogs/index.rst
  docs/source/AdministratorGuide/Resources/Storages/index.rst
  docs/source/AdministratorGuide/Resources/index.rst
  docs/source/AdministratorGuide/Systems/DataManagement/concepts.rst
  docs/source/AdministratorGuide/Systems/DataManagement/dfc.rst
  docs/source/AdministratorGuide/Systems/DataManagement/fts.rst
  docs/source/AdministratorGuide/Systems/DataManagement/index.rst
  docs/source/AdministratorGuide/Systems/RequestManagement/index.rst
Owners: @andresailer

DOC: generate documentation for __init__ as well
  docs/Tools/MakeDoc.py
Owners: @andresailer

Docs: add developper doc for SE and FC
  Resources/Storage/StorageElement.py
  docs/source/AdministratorGuide/Resources/Catalogs/index.rst
  docs/source/AdministratorGuide/Resources/Storages/index.rst
  docs/source/AdministratorGuide/Systems/DataManagement/dfc.rst
  docs/source/AdministratorGuide/Systems/DataManagement/fts.rst
  docs/source/AdministratorGuide/Systems/ResourceStatus/install.rst
  docs/source/DeveloperGuide/AddingNewComponents/Resources/Catalog.rst
  docs/source/DeveloperGuide/AddingNewComponents/Resources/Storage.rst
  docs/source/DeveloperGuide/AddingNewComponents/Resources/index.rst
Owners: @chaen, @andresailer

autopep8
  Resources/Computing/PoolComputingElement.py
Owners: @atsareg

Shorten a long line
  Core/DISET/private/BaseClient.py
Owners: @fstagni, @atsareg

change DB condition to count all waiting pilot jobs
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

improve the documentation
  docs/source/AdministratorGuide/InstallingWebAppDIRAC/index.rst
Owners: @andresailer

version of coverage taken from python-coveralls
  requirements.txt
Owners: @fstagni, @atsareg

Docs: dms doc
  .gitignore
  docs/source/AdministratorGuide/Resources/Catalog/index.rst
  docs/source/AdministratorGuide/Resources/Storage/index.rst
  docs/source/AdministratorGuide/Resources/index.rst
Owners: @fstagni, @atsareg, @andresailer

correct the script options
  tests/System/dirac-test-production.py
Owners: @fstagni

add Accounting documentation
  docs/source/AdministratorGuide/Systems/Accounting/index.rst
Owners: @andresailer

Doc: more DMS doc
  docs/source/AdministratorGuide/Resources/Catalogs/index.rst
  docs/source/AdministratorGuide/Resources/Storages/index.rst
  docs/source/AdministratorGuide/Resources/index.rst
  docs/source/AdministratorGuide/Systems/DataManagement/concepts.rst
  docs/source/AdministratorGuide/Systems/DataManagement/dfc.rst
  docs/source/AdministratorGuide/Systems/DataManagement/fts.rst
  docs/source/AdministratorGuide/Systems/DataManagement/index.rst
  docs/source/AdministratorGuide/Systems/RequestManagement/index.rst
Owners: @andresailer
