Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

use the correct color map
  Core/Utilities/Graphs/QualityMapGraph.py
Owners: @fstagni, @atsareg

change the mapping
  MonitoringSystem/Client/Types/BaseType.py
  MonitoringSystem/Client/Types/ComponentMonitoring.py
  MonitoringSystem/Client/Types/WMSHistory.py
Owners: @zmathe

remove pylint-ignore
  Core/Utilities/Graphs/QualityMapGraph.py
Owners: @fstagni, @atsareg

added more tests
  tests/System/client_core.sh
  tests/System/client_dms.sh
  tests/System/client_test.sh
Owners: @fstagni

trying several locations
  tests/Workflow/Integration/Test_UserJobs.py
Owners: @fstagni

Jenkins location
  tests/Workflow/Integration/Test_UserJobs.py
Owners: @fstagni

just style
  WorkloadManagementSystem/Client/Matcher.py
Owners: @fstagni, @atsareg

try..except
  tests/Jenkins/dirac-cfg-update.py
  tests/Utilities/testJobDefinitions.py
  tests/Workflow/Regression/Test_RegressionUserJobs.py
Owners: @fstagni

v6r19p11 notes
  release.notes
Owners: @fstagni, @atsareg

v6r19p12
  release.notes
Owners: @fstagni, @atsareg

v6r19p12
  releases.cfg
Owners: @fstagni, @atsareg

v6r19p12 notes
  release.notes
Owners: @fstagni, @atsareg

WebAppDIRAC v3r1p1
  releases.cfg
Owners: @fstagni, @atsareg

DMS: real implementation of getOccupancy for the StorageElement,GFAL2_SRM and DIP storages
  Core/Utilities/File.py
  Core/Utilities/test/Test_File.py
  ResourceStatusSystem/Command/FreeDiskSpaceCommand.py
  Resources/Storage/DIPStorage.py
  Resources/Storage/GFAL2_SRM2Storage.py
  Resources/Storage/StorageBase.py
  Resources/Storage/StorageElement.py
Owners: @fstagni, @atsareg, @chaen

removed duplicate
  tests/System/client_core.sh
Owners: @fstagni

removed duplicate file
  tests/System/client_dms.sh
  tests/System/client_test.sh
Owners: @fstagni

comment
  tests/System/client_dms.sh
Owners: @fstagni

AccountingSystem/DB/test/Test_AccountingDB.py
  AccountingSystem/DB/test/Test_AccountingDB.py
Owners: @fstagni, @atsareg

AccountingSystem/DB/test/Test_AccountingDB.py
  AccountingSystem/DB/test/Test_AccountingDB.py
Owners: @fstagni, @atsareg

mostly style
  AccountingSystem/DB/test/Test_AccountingDB.py
Owners: @fstagni, @atsareg

fix wrong indentation
  Core/scripts/dirac-distribution.py
Owners: @fstagni, @atsareg

fixing test for ES 6
  Core/Utilities/ElasticSearchDB.py
  tests/Integration/Test_ElasticsearchDB.py
Owners: @fstagni, @atsareg

style
  AccountingSystem/DB/test/Test_AccountingDB.py
Owners: @fstagni, @atsareg

v6r20-pre11
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre11
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre11
  releases.cfg
Owners: @fstagni, @atsareg

removing filtered query
  tests/Integration/Test_ElasticsearchDB.py
Owners: @fstagni

adapting tests to ES 6+
  Core/Utilities/ElasticSearchDB.py
  tests/Integration/Test_ElasticsearchDB.py
Owners: @fstagni, @atsareg

just added couple of tests
  tests/Integration/WorkloadManagementSystem/Test_dirac-jobexec.sh
  tests/Integration/WorkloadManagementSystem/createJobXMLDescriptions.py
Owners: @fstagni

debug message
  WorkloadManagementSystem/JobWrapper/JobWrapper.py
  tests/Integration/WorkloadManagementSystem/createJobXMLDescriptions.py
Owners: @fstagni, @atsareg

just added some debug message
  WorkloadManagementSystem/Service/JobManagerHandler.py
Owners: @fstagni, @atsareg

fix
  WorkloadManagementSystem/JobWrapper/JobWrapper.py
  WorkloadManagementSystem/JobWrapper/test/Test_JobWrapper.py
Owners: @fstagni, @atsareg

Test: better dms integration tests for SE plugins
  tests/Integration/Resources/Storage/Test_Resources_GFAL2StorageBase.py
Owners: @fstagni

Docs: fix a formating error
  docs/source/DeveloperGuide/Internals/Core/index.rst
Owners: @andresailer

fix types test
  Core/Utilities/ExecutorDispatcher.py
Owners: @fstagni, @atsareg

refactoring code
  ConfigurationSystem/Client/Helpers/Resources.py
  DataManagementSystem/Agent/FTS3Agent.py
  DataManagementSystem/Client/FTS3Job.py
  DataManagementSystem/Client/FTS3Operation.py
Owners: @fstagni, @atsareg, @phicharp, @chaen

reload conf before agent cycle
  DataManagementSystem/Agent/FTS3Agent.py
  DataManagementSystem/Client/FTS3Job.py
  DataManagementSystem/private/FTS3Utilities.py
Owners: @phicharp, @chaen

use ResourceStatus client instead of an RPC call
  DataManagementSystem/Client/FTS3Job.py
  DataManagementSystem/private/FTS3Utilities.py
Owners: @phicharp, @chaen

adding missing FTS3Job and FTS3File statuses
  DataManagementSystem/Client/FTS3File.py
  DataManagementSystem/Client/FTS3Job.py
Owners: @phicharp, @chaen

fixing FTS3
  ConfigurationSystem/Client/Helpers/Resources.py
  DataManagementSystem/Client/FTS3Job.py
  DataManagementSystem/Client/FTS3Operation.py
  DataManagementSystem/private/FTS3Utilities.py
Owners: @fstagni, @atsareg, @phicharp, @chaen

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni
