Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni

use WebAppDIRAC v3r1p2
  releases.cfg
Owners: @fstagni, @atsareg

setup monitoring database
  tests/Jenkins/dirac-cfg-update-dbs.py
Owners: @fstagni

little doc for lcgBundles
  docs/source/UserGuide/GettingStarted/InstallingClient/index.rst
Owners: @andresailer

just typos
  ResourceStatusSystem/Agent/SummarizeLogsAgent.py
Owners: @fstagni, @atsareg

increase the size of varchar
  AccountingSystem/Client/Types/DataOperation.py
  AccountingSystem/Client/Types/Job.py
Owners: @fstagni, @atsareg

increase the size of the DiskOccupancy column
  FrameworkSystem/DB/InstalledComponentsDB.py
Owners: @fstagni, @atsareg

removed unused old methods
  ResourceStatusSystem/Client/ResourceManagementClient.py
Owners: @fstagni, @atsareg

better understanding of numberOfProcessors
  ResourceStatusSystem/Agent/SummarizeLogsAgent.py
  WorkloadManagementSystem/PilotAgent/pilotCommands.py
Owners: @fstagni, @atsareg

style
  WorkloadManagementSystem/Agent/MultiProcessorSiteDirector.py
  WorkloadManagementSystem/DB/TaskQueueDB.py
  tests/Integration/WorkloadManagementSystem/Test_TaskQueueDB.py
Owners: @fstagni, @atsareg

fix TypeError
  tests/System/unitTestUserJobs.py
Owners: @fstagni

allowing possibility to specify a maxNumberOfProcessors
  WorkloadManagementSystem/PilotAgent/pilotCommands.py
  WorkloadManagementSystem/PilotAgent/pilotTools.py
Owners: @fstagni, @atsareg

fix bugs
  docs/source/DeveloperGuide/CodingConvention/index.rst
  tests/Jenkins/dirac-cfg-update-dbs.py
  tests/Jenkins/install.cfg
Owners: @andresailer, @fstagni

pep8 and fix bugs
  FrameworkSystem/Client/WebAppCompiler.py
  tests/Jenkins/dirac-cfg-update-dbs.py
Owners: @fstagni, @atsareg

apply pylint
  AccountingSystem/Client/Types/DataOperation.py
  AccountingSystem/Client/Types/Job.py
  FrameworkSystem/DB/InstalledComponentsDB.py
Owners: @fstagni, @atsareg

remove not used imports
  FrameworkSystem/DB/InstalledComponentsDB.py
  tests/Jenkins/dirac-cfg-update-dbs.py
Owners: @fstagni, @atsareg

Pass optional extra flags to getExecutable function
  WorkloadManagementSystem/Agent/MultiProcessorSiteDirector.py
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

cosmetics
  AccountingSystem/Client/Types/DataOperation.py
  AccountingSystem/Client/Types/Job.py
  tests/Jenkins/dirac-cfg-update-dbs.py
Owners: @fstagni, @atsareg

dirac-distribution dosumentation
  docs/source/DeveloperGuide/DevelopmentModel/ReleaseProcedure/index.rst
Owners: @andresailer

limiting application status to 255
  AccountingSystem/Client/Types/WMSHistory.py
  WorkloadManagementSystem/DB/JobDB.py
  WorkloadManagementSystem/DB/JobLoggingDB.py
Owners: @fstagni, @atsareg

RMS: fix a bug in the ReplicateAndRegister preventing requests to be retried
  DataManagementSystem/Agent/RequestOperations/ReplicateAndRegister.py
Owners: @phicharp, @chaen

fixed upload of pilot JSON file
  ConfigurationSystem/Service/ConfigurationHandler.py
  Core/DISET/HTTPDISETConnection.py
  WorkloadManagementSystem/Utilities/PilotCStoJSONSynchronizer.py
Owners: @fstagni, @atsareg

style
  ConfigurationSystem/Service/ConfigurationHandler.py
  Core/DISET/HTTPDISETConnection.py
  WorkloadManagementSystem/Utilities/PilotCStoJSONSynchronizer.py
Owners: @fstagni, @atsareg

using port, if present
  WorkloadManagementSystem/Utilities/PilotCStoJSONSynchronizer.py
Owners: @fstagni, @atsareg

doc for using PilotCStoJSONSynchronizer
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Configuration/Services/Server/index.rst
  docs/source/AdministratorGuide/Systems/WorkloadManagement/Pilots/Pilots3.rst
Owners: @andresailer

DMS,RSS: implement generic interface for getting the occupancy of storages and use it in RSS
  Core/Utilities/File.py
  Core/Utilities/test/Test_File.py
  DataManagementSystem/Service/StorageElementHandler.py
  ResourceStatusSystem/Agent/CacheFeederAgent.py
  ResourceStatusSystem/Command/DowntimeCommand.py
  ResourceStatusSystem/Command/FreeDiskSpaceCommand.py
  ResourceStatusSystem/Command/SpaceTokenOccupancyCommand.py
  ResourceStatusSystem/Policy/Configurations.py
  ResourceStatusSystem/Policy/FreeDiskSpacePolicy.py
  ResourceStatusSystem/Policy/test/Test_RSS_Policy_FreeDiskSpacePolicy.py
  ResourceStatusSystem/Policy/test/Test_RSS_Policy_SpaceTokenOccupancyPolicy.py
  Resources/Storage/DIPStorage.py
  Resources/Storage/GFAL2_SRM2Storage.py
  Resources/Storage/GFAL2_StorageBase.py
  Resources/Storage/StorageBase.py
  Resources/Storage/StorageElement.py
  WorkloadManagementSystem/Service/SandboxStoreHandler.py
Owners: @fstagni, @atsareg, @phicharp, @chaen

DFC: compatibility with MySQL 5.7
  DataManagementSystem/DB/FileCatalogWithFkAndPsDB.sql
Owners: @phicharp, @chaen

improve the documents
  docs/source/DeveloperGuide/DevelopmentModel/ReleaseProcedure/index.rst
Owners: @andresailer

fixing finding XML file
  Interfaces/API/Job.py
Owners: @fstagni, @atsareg

autopep8
  Interfaces/API/Job.py
Owners: @fstagni, @atsareg

doc
  Interfaces/API/Job.py
Owners: @fstagni, @atsareg

removed changes in indentation
  WorkloadManagementSystem/DB/PilotAgentsDB.sql
Owners: @fstagni, @atsareg

xmlFile not script
  Interfaces/API/Job.py
Owners: @fstagni, @atsareg

fix bug
  ConfigurationSystem/Service/ConfigurationHandler.py
Owners: @fstagni, @atsareg

fix one more bug
  ConfigurationSystem/Service/ConfigurationHandler.py
Owners: @fstagni, @atsareg

v6r19p14 notes
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre13 notes
  release.notes
Owners: @fstagni, @atsareg

Bug fix
  ConfigurationSystem/Service/ConfigurationHandler.py
Owners: @fstagni, @atsareg

v6r19p14, Externals v6r6p5
  releases.cfg
Owners: @fstagni, @atsareg

style
  WorkloadManagementSystem/PilotAgent/pilotCommands.py
Owners: @fstagni, @atsareg

better control of return code
  tests/Jenkins/dirac_ci.sh
  tests/Jenkins/utilities.sh
Owners: @fstagni
