Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

fix condition for correct initialization of SE obj
  DataManagementSystem/Client/FTS3Job.py
  DataManagementSystem/Client/FTS3Operation.py
Owners: @phicharp, @chaen

removing voName arg from _checkSEaccess func
  DataManagementSystem/Client/FTS3Operation.py
Owners: @phicharp, @chaen

use dict of fts server name and url instead of server url list
  ConfigurationSystem/Client/Helpers/Resources.py
  DataManagementSystem/Agent/FTS3Agent.py
  DataManagementSystem/private/FTS3Utilities.py
  DataManagementSystem/private/test/Test_FTS3Utilities.py
Owners: @fstagni, @atsareg, @phicharp, @chaen

fix NoneType exception in ReplicateAndRegister
  DataManagementSystem/Agent/RequestOperations/ReplicateAndRegister.py
Owners: @phicharp, @chaen

removing shifter proxy
  DataManagementSystem/Agent/FTS3Agent.py
Owners: @phicharp, @chaen

adding shifter proxy
  DataManagementSystem/Agent/FTS3Agent.py
  DataManagementSystem/Client/FTS3Job.py
  DataManagementSystem/Client/FTS3Operation.py
  DataManagementSystem/private/FTS3Utilities.py
Owners: @phicharp, @chaen

fetch vo name from group and use ftsSSLRequests instead of pyCurl
  DataManagementSystem/Client/FTS3Job.py
  DataManagementSystem/Client/FTS3Operation.py
Owners: @phicharp, @chaen

tests logging improved
  tests/System/client_core.sh
  tests/System/unitTestUserJobs.py
Owners: @fstagni

removed TaskQueueDirector and pilotDirectors
  WorkloadManagementSystem/Agent/TaskQueueDirector.py
  WorkloadManagementSystem/private/DIRACPilotDirector.py
  WorkloadManagementSystem/private/GridPilotDirector.py
  WorkloadManagementSystem/private/LCGPilotDirector.py
  WorkloadManagementSystem/private/PilotDirector.py
  WorkloadManagementSystem/private/gLitePilotDirector.py
Owners: @fstagni, @atsareg

removed Queues.py
  WorkloadManagementSystem/DB/TaskQueueDB.py
  WorkloadManagementSystem/private/Queues.py
Owners: @fstagni, @atsareg

style
  Resources/Computing/PilotBundle.py
Owners: @atsareg

removed PilotRequirements table
  WorkloadManagementSystem/Agent/MultiProcessorSiteDirector.py
  WorkloadManagementSystem/Agent/PilotStatusAgent.py
  WorkloadManagementSystem/Agent/SiteDirector.py
  WorkloadManagementSystem/DB/PilotAgentsDB.py
  WorkloadManagementSystem/DB/PilotAgentsDB.sql
  WorkloadManagementSystem/Service/WMSAdministratorHandler.py
Owners: @fstagni, @atsareg

continue-ing when nothing to submit
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

style
  WorkloadManagementSystem/DB/PilotAgentsDB.py
  WorkloadManagementSystem/Service/WMSAdministratorHandler.py
Owners: @fstagni, @atsareg

style
  WorkloadManagementSystem/DB/TaskQueueDB.py
Owners: @fstagni, @atsareg

refactoring code
  DataManagementSystem/Client/FTS3File.py
  DataManagementSystem/Client/FTS3Job.py
  DataManagementSystem/Client/FTS3Operation.py
  docs/source/AdministratorGuide/Systems/DataManagement/fts3.rst
Owners: @phicharp, @chaen, @andresailer

describe the web.cfg congiguration file
  docs/source/AdministratorGuide/InstallingWebAppDIRAC/index.rst
Owners: @andresailer

added installES function
  tests/Jenkins/utilities.sh
Owners: @fstagni

run in background
  tests/Jenkins/utilities.sh
Owners: @fstagni

demonize
  tests/Jenkins/utilities.sh
Owners: @fstagni

installing and killing ES
  tests/Jenkins/dirac_ci.sh
  tests/Jenkins/utilities.sh
Owners: @fstagni

just indent
  tests/Jenkins/utilities.sh
Owners: @fstagni

allowing connections without security
  ConfigurationSystem/Client/Utilities.py
  MonitoringSystem/DB/MonitoringDB.py
Owners: @fstagni, @atsareg, @zmathe

using local instance
  tests/Jenkins/dirac_ci.sh
  tests/Jenkins/install.cfg
Owners: @fstagni

attempting to connect with useSSL=False in case of failures
  Core/Base/ElasticDB.py
Owners: @fstagni, @atsareg

fixing the tests
  MonitoringSystem/Client/MonitoringClient.py
  tests/Integration/Monitoring/Test_MonitoringReporter.py
  tests/Integration/Monitoring/Test_MonitoringSystem.py
Owners: @zmathe, @fstagni

just fixing pyCodeStyle
  tests/Integration/Monitoring/Test_MonitoringSystem.py
  tests/Integration/Test_ElasticsearchDB.py
Owners: @fstagni

pycodestyle
  MonitoringSystem/DB/MonitoringDB.py
  tests/Integration/Monitoring/Test_MonitoringReporter.py
  tests/Integration/Monitoring/Test_MonitoringSystem.py
Owners: @zmathe, @fstagni

Rename Tags to Tag so that other queue tags are found.
  WorkloadManagementSystem/Agent/MultiProcessorSiteDirector.py
Owners: @fstagni, @atsareg

Use all queue tags, not just processor ones, when matching job
  WorkloadManagementSystem/Agent/MultiProcessorSiteDirector.py
Owners: @fstagni, @atsareg

Externals v6r6p4
  releases.cfg
Owners: @fstagni, @atsareg

v6r19p13 notes
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre12 notes
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre12
  releases.cfg
Owners: @fstagni, @atsareg

v6r19p13
  releases.cfg
Owners: @fstagni, @atsareg

style
  WorkloadManagementSystem/Agent/MultiProcessorSiteDirector.py
Owners: @fstagni, @atsareg

adding tests
  WorkloadManagementSystem/DB/TaskQueueDB.py
  tests/Integration/WorkloadManagementSystem/Test_TaskQueueDB.py
Owners: @fstagni, @atsareg

style
  WorkloadManagementSystem/DB/TaskQueueDB.py
  tests/Integration/WorkloadManagementSystem/Test_TaskQueueDB.py
Owners: @fstagni, @atsareg

added foreign keys
  WorkloadManagementSystem/DB/TaskQueueDB.py
  tests/Integration/WorkloadManagementSystem/Test_TaskQueueDB.py
Owners: @fstagni, @atsareg

FOREIGN KEY on delete
  WorkloadManagementSystem/DB/TaskQueueDB.py
Owners: @fstagni, @atsareg

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni
