Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

ignore .pytest_cache
  .gitignore
Owners: @fstagni, @atsareg

exit on errors
  tests/Jenkins/dirac_ci.sh
  tests/Jenkins/utilities.sh
Owners: @fstagni

exit on errors
  tests/Jenkins/dirac_ci.sh
Owners: @fstagni

doc and style
  WorkloadManagementSystem/DB/JobLoggingDB.py
Owners: @fstagni, @atsareg

no need for user and password here
  Core/Base/ElasticDB.py
  tests/Jenkins/install.cfg
Owners: @fstagni, @atsareg

just grouping imports
  DataManagementSystem/Agent/FTS3Agent.py
Owners: @phicharp, @chaen

added FTS option
  tests/Jenkins/dirac-cfg-update-server.py
Owners: @fstagni

temporary disabling errexit mode
  tests/Jenkins/utilities.sh
Owners: @fstagni

disabling errexit mode
  tests/Jenkins/utilities.sh
Owners: @fstagni

disabling errexit mode
  tests/Jenkins/utilities.sh
Owners: @fstagni

resetting correctly
  tests/Jenkins/utilities.sh
Owners: @fstagni

conf with no ssl
  Core/Base/ElasticDB.py
  Core/Utilities/ElasticSearchDB.py
Owners: @fstagni, @atsareg

debug and style
  FrameworkSystem/Client/ComponentInstaller.py
  FrameworkSystem/scripts/dirac-restart-component.py
  tests/Jenkins/utilities.sh
Owners: @fstagni, @atsareg

removing FTS from tests (only FTS3)
  tests/Jenkins/utilities.sh
Owners: @fstagni

FTS: FailedSize as BIGINT
  DataManagementSystem/Client/FTSJob.py
Owners: @phicharp, @chaen

FTS: bigger bring online timeout (3 days)
  DataManagementSystem/Client/FTSJob.py
Owners: @phicharp, @chaen

do not ask CPUTime option
  WorkloadManagementSystem/Agent/SiteDirector.py
  WorkloadManagementSystem/PilotAgent/pilotCommands.py
  WorkloadManagementSystem/PilotAgent/pilotTools.py
Owners: @fstagni, @atsareg

using 2048 chars for errors
  DataManagementSystem/DB/FTS3DB.py
Owners: @phicharp, @chaen

large simplifications/removed old gLite CEs stuff
  WorkloadManagementSystem/Agent/PilotStatusAgent.py
  WorkloadManagementSystem/PilotAgent/pilotCommands.py
  WorkloadManagementSystem/Service/WMSAdministratorHandler.py
  WorkloadManagementSystem/Service/WMSUtilities.py
Owners: @fstagni, @atsareg

merged PilotMonitorAgent in PilotStatusAgent
  WorkloadManagementSystem/Agent/PilotMonitorAgent.py
  WorkloadManagementSystem/Agent/PilotStatusAgent.py
Owners: @fstagni, @atsareg

removed DiracSiteAgent
  WorkloadManagementSystem/Agent/DiracSiteAgent.py
Owners: @fstagni, @atsareg

better cast
  WorkloadManagementSystem/PilotAgent/pilotCommands.py
Owners: @fstagni, @atsareg

style
  DataManagementSystem/DB/FTS3DB.py
  WorkloadManagementSystem/Agent/PilotStatusAgent.py
Owners: @phicharp, @chaen, @fstagni, @atsareg

more compact code
  WorkloadManagementSystem/Agent/PilotStatusAgent.py
Owners: @fstagni, @atsareg

style
  DataManagementSystem/DB/FTS3DB.py
  WorkloadManagementSystem/Agent/PilotStatusAgent.py
Owners: @phicharp, @chaen, @fstagni, @atsareg

Allow setting from address in proxy expiry e-mails
  FrameworkSystem/DB/ProxyDB.py
Owners: @fstagni, @atsareg

style
  FrameworkSystem/Client/SecurityLogClient.py
Owners: @fstagni, @atsareg

fix for comparison
  ResourceStatusSystem/Agent/SummarizeLogsAgent.py
Owners: @fstagni, @atsareg

corrected synchronizer for sites
  ResourceStatusSystem/Utilities/Synchronizer.py
Owners: @fstagni, @atsareg

style
  FrameworkSystem/Client/ComponentInstaller.py
  tests/Jenkins/dirac-cfg-update-server.py
Owners: @fstagni, @atsareg

v6r19p15 notes
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre14
  release.notes
  releases.cfg
Owners: @fstagni, @atsareg

v6r20-pre14 notes
  release.notes
Owners: @fstagni, @atsareg

fix test
  WorkloadManagementSystem/Agent/test/Test_Agent_WorkloadManagementSystem.py
Owners: @fstagni, @atsareg

installing ES at the beginning of the test
  tests/Jenkins/dirac_ci.sh
  tests/Jenkins/utilities.sh
Owners: @fstagni

added possibility to specify a SSL option
  ConfigurationSystem/Client/Utilities.py
  Core/Base/ElasticDB.py
  tests/Jenkins/install.cfg
Owners: @fstagni, @atsareg

fixed location
  tests/Jenkins/dirac_ci.sh
  tests/Jenkins/utilities.sh
Owners: @fstagni

fix
  tests/Jenkins/utilities.sh
Owners: @fstagni

syntax
  tests/Jenkins/utilities.sh
Owners: @fstagni

debug
  tests/Jenkins/utilities.sh
Owners: @fstagni

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni
