Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

mostly style
  WorkloadManagementSystem/Client/Limiter.py
  WorkloadManagementSystem/Service/MatcherHandler.py
  tests/Integration/WorkloadManagementSystem/Test_Client_WMS.py
Owners: @fstagni, @atsareg

using MB as unit base
  ResourceStatusSystem/Command/FreeDiskSpaceCommand.py
Owners: @fstagni, @atsareg

added documentation
  ResourceStatusSystem/Agent/CacheFeederAgent.py
  ResourceStatusSystem/Command/AccountingCacheCommand.py
  ResourceStatusSystem/Command/CEAvailabilityCommand.py
  ResourceStatusSystem/Command/Command.py
  ResourceStatusSystem/Command/DIRACAccountingCommand.py
  ResourceStatusSystem/Command/FreeDiskSpaceCommand.py
  ResourceStatusSystem/Command/GGUSTicketsCommand.py
  ResourceStatusSystem/Command/GOCDBSyncCommand.py
  ResourceStatusSystem/Command/PilotCommand.py
  ResourceStatusSystem/Command/TransferCommand.py
  ResourceStatusSystem/Command/VOBOXAvailabilityCommand.py
Owners: @fstagni, @atsareg

fix unit tests
  MonitoringSystem/DB/MonitoringDB.py
  MonitoringSystem/Service/MonitoringHandler.py
Owners: @zmathe

fixing paths for getting the size
  DataManagementSystem/Service/StorageElementHandler.py
  WorkloadManagementSystem/Client/WMSClient.py
  WorkloadManagementSystem/Service/SandboxStoreHandler.py
Owners: @phicharp, @chaen, @fstagni, @atsareg

SARA->GRIDKA
  tests/System/client_dms.sh
Owners: @fstagni

fix the integration tests
  MonitoringSystem/DB/MonitoringDB.py
  tests/Integration/Monitoring/Test_MonitoringReporter.py
  tests/Integration/Monitoring/Test_MonitoringSystem.py
Owners: @zmathe, @fstagni

minor
  TransformationSystem/Client/TaskManager.py
  tests/System/unitTestUserJobs.py
  tests/Utilities/testJobDefinitions.py
Owners: @phicharp, @fstagni

just message
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

style
  TransformationSystem/Client/TaskManager.py
  tests/System/unitTestUserJobs.py
Owners: @phicharp, @fstagni

v6r10p17 notes
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre16
  release.notes
  releases.cfg
Owners: @fstagni, @atsareg

WebAppDIRAC v3r1p4, Externals v6r6p6
  releases.cfg
Owners: @fstagni, @atsareg

use objectLoader
  FrameworkSystem/Service/ProxyManagerHandler.py
Owners: @fstagni, @atsareg

remove gLite-wms usage
  WorkloadManagementSystem/Service/WMSAdministratorHandler.py
  WorkloadManagementSystem/Service/WMSUtilities.py
Owners: @fstagni, @atsareg

don't run CleanFTSDBAgent
  tests/Jenkins/utilities.sh
Owners: @fstagni

corrected test
  tests/Integration/Monitoring/Test_MonitoringSystem.py
Owners: @fstagni

not look into c extensions
  .pylintrc
Owners: @fstagni, @atsareg

mostly style
  Core/Security/X509Chain.py
Owners: @fstagni, @atsareg

v6r10p17 notes
  release.notes
Owners: @fstagni, @atsareg

v6r19p17 notes
  release.notes
Owners: @fstagni, @atsareg

Use the REST VOMS server interface
  Core/Security/VOMSService.py
Owners: @fstagni, @atsareg

Dropped FS, MPI, Boinc DIRAC packages
  releases.cfg
Owners: @fstagni, @atsareg

Externals v6r6p7
  releases.cfg
Owners: @fstagni, @atsareg

Implementation with the external pip command
  Core/scripts/dirac-externals-requirements.py
Owners: @fstagni, @atsareg

Allow for client type installation
  Core/scripts/dirac-externals-requirements.py
Owners: @fstagni, @atsareg

autopep8 and docs
  Core/Security/VOMSService.py
Owners: @fstagni, @atsareg

just style
  WorkloadManagementSystem/Agent/StatesMonitoringAgent.py
  tests/System/unitTestUserJobs.py
Owners: @fstagni, @atsareg

Several fixes after debugging
  Core/Security/VOMSService.py
Owners: @fstagni, @atsareg

New class to encapsulate VOMS to CS syncing
  ConfigurationSystem/Client/VOMS2CSSyncronizer.py
Owners: @fstagni, @atsareg

Usin VOMS2CSSynchronizer
  ConfigurationSystem/Agent/VOMS2CSAgent.py
Owners: @fstagni, @atsareg

Pass AutoXXX options in the constructor
  ConfigurationSystem/Client/VOMS2CSSyncronizer.py
Owners: @fstagni, @atsareg

VOMS to CS syncing command line
  ConfigurationSystem/scripts/dirac-admin-voms-sync.py
Owners: @fstagni, @atsareg

Several fixes after debugging
  ConfigurationSystem/Agent/VOMS2CSAgent.py
Owners: @fstagni, @atsareg

add dirac operation system
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

formating
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

correct Roles definition
  ConfigurationSystem/Client/VOMS2CSSyncronizer.py
Owners: @fstagni, @atsareg

mostly style
  Resources/Computing/CREAMComputingElement.py
  Resources/Computing/HTCondorCEComputingElement.py
  Resources/Computing/SSHComputingElement.py
Owners: @atsareg

autopep8
  ConfigurationSystem/Client/VOMS2CSSyncronizer.py
Owners: @fstagni, @atsareg

Report suspended users
  ConfigurationSystem/Agent/VOMS2CSAgent.py
Owners: @fstagni, @atsareg

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni
