Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

autopep8
  ConfigurationSystem/scripts/dirac-admin-voms-sync.py
Owners: @fstagni, @atsareg

Implementation with the external pip command
  Core/scripts/dirac-externals-requirements.py
Owners: @fstagni, @atsareg

Allow for client type installation
  Core/scripts/dirac-externals-requirements.py
Owners: @fstagni, @atsareg

autopep8
  Core/scripts/dirac-externals-requirements.py
Owners: @fstagni, @atsareg

RequiredExternals notes
  docs/source/DeveloperGuide/DevelopmentModel/DIRACProjects/index.rst
Owners: @andresailer

pylint fixes
  ConfigurationSystem/Agent/VOMS2CSAgent.py
  ConfigurationSystem/Client/VOMS2CSSyncronizer.py
Owners: @fstagni, @atsareg

fixes
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

Removed obsoleted UsersAndGroups agent
  ConfigurationSystem/Agent/UsersAndGroups.py
Owners: @fstagni, @atsareg

pylint fixes
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

Formatting
  Core/Security/VOMSService.py
Owners: @fstagni, @atsareg

formatting
  ConfigurationSystem/scripts/dirac-admin-voms-sync.py
Owners: @fstagni, @atsareg

fix pylint
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

variable can be boolean as well
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

change the name of the command argument
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

correction format
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

Renamed VOMS2CSSyncronizer -> VOMS2CSSynchronizer
  ConfigurationSystem/Agent/VOMS2CSAgent.py
  ConfigurationSystem/Client/VOMS2CSSynchronizer.py
  ConfigurationSystem/scripts/dirac-admin-voms-sync.py
Owners: @fstagni, @atsareg

Generate all lower case names
  ConfigurationSystem/Client/VOMS2CSSynchronizer.py
Owners: @fstagni, @atsareg

typo fix
  docs/source/UserGuide/Tutorials/JDLsAndJobManagementBasic/index.rst
Owners: @andresailer

mostly style
  FrameworkSystem/Service/SystemAdministratorHandler.py
  MonitoringSystem/Client/MonitoringReporter.py
Owners: @fstagni, @atsareg, @zmathe

pylint
  FrameworkSystem/Service/MonitoringHandler.py
Owners: @fstagni, @atsareg

change the switches and fix the typos
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

small fix
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

fix typos
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

style
  FrameworkSystem/Service/MonitoringHandler.py
  FrameworkSystem/Service/SystemAdministratorHandler.py
Owners: @fstagni, @atsareg

only TrustedHost can use upload
  FrameworkSystem/Client/ComponentInstaller.py
Owners: @fstagni, @atsareg

pylint fixes
  AccountingSystem/DB/AccountingDB.py
  ConfigurationSystem/Agent/Bdii2CSAgent.py
  ConfigurationSystem/scripts/dirac-admin-add-resources.py
  Core/Utilities/ProcessMonitor.py
Owners: @fstagni, @atsareg

just pylint
  AccountingSystem/DB/AccountingDB.py
  Core/Utilities/MySQL.py
  Core/Utilities/ProcessMonitor.py
Owners: @fstagni, @atsareg

just order of imports
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

minor fixes
  FrameworkSystem/Service/MonitoringHandler.py
  Resources/Computing/HTCondorCEComputingElement.py
Owners: @fstagni, @atsareg

style
  Resources/Computing/GlobusComputingElement.py
  Resources/Computing/SSHComputingElement.py
Owners: @atsareg

style
  Resources/Computing/GlobusComputingElement.py
Owners: @atsareg

v6r20-pre17
  __init__.py
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre17
  releases.cfg
Owners: @fstagni, @atsareg

NEW: small adaptations here and there for diracos
  Core/Security/VOMS.py
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

Pep8
  Core/Security/VOMS.py
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

pylint fix
  ConfigurationSystem/Agent/VOMS2CSAgent.py
Owners: @fstagni, @atsareg

Changed prompt to commit changes
  ConfigurationSystem/scripts/dirac-admin-voms-sync.py
Owners: @fstagni, @atsareg

Oh ! once more pyint
  ConfigurationSystem/Agent/VOMS2CSAgent.py
Owners: @fstagni, @atsareg

v6r20-pre18, v6r19p18
  releases.cfg
Owners: @fstagni, @atsareg

Correct dirac-install for diracos
  Core/scripts/dirac-install.py
Owners: @fstagni, @atsareg

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni
