Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

minor
  tests/Integration/AccountingSystem/Test_DataStoreClient.py
  tests/Integration/ResourceStatusSystem/Test_ResourceManagement.py
Owners: @fstagni

Fix typo
  Core/Utilities/MJF.py
Owners: @fstagni, @atsareg

style
  Resources/Computing/BatchSystems/Condor.py
  Resources/Computing/BatchSystems/GE.py
  Resources/Computing/BatchSystems/Host.py
  Resources/Computing/BatchSystems/SLURM.py
  Resources/Computing/BatchSystems/Torque.py
  Resources/Computing/CREAMComputingElement.py
  Resources/Computing/LocalComputingElement.py
  Resources/Computing/SSHComputingElement.py
Owners: @atsareg

Run autopep8
  Core/Utilities/MJF.py
  WorkloadManagementSystem/JobWrapper/Watchdog.py
Owners: @fstagni, @atsareg

style
  AccountingSystem/scripts/dirac-accounting-decode-fileid.py
  Core/DISET/MessageClient.py
  DataManagementSystem/DB/FileCatalogComponents/DirectoryFlatTree.py
  Interfaces/scripts/dirac-admin-get-pilot-info.py
Owners: @fstagni, @atsareg, @phicharp, @chaen

better developer doc
  docs/Tools/buildDiracDOC.py
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingServices/index.rst
  docs/source/DeveloperGuide/DevelopmentEnvironment/DeveloperInstallation/editingCode.rst
  docs/source/DeveloperGuide/DevelopmentEnvironment/DeveloperInstallation/interactingWithProductionSetups.rst
  docs/source/DeveloperGuide/DevelopmentEnvironment/DeveloperInstallation/stuffThatRun.rst
  docs/source/DeveloperGuide/DevelopmentModel/ContributingCode/index.rst
Owners: @andresailer

style (removed E402)
  Interfaces/scripts/dirac-admin-add-group.py
  Interfaces/scripts/dirac-admin-get-job-pilots.py
  Interfaces/scripts/dirac-admin-get-pilot-info.py
  Interfaces/scripts/dirac-admin-get-pilot-logging-info.py
  Interfaces/scripts/dirac-admin-pilot-summary.py
  setup.cfg
Owners: @fstagni, @atsareg

several updates to documentation
  docs/source/AdministratorGuide/MultiVO/index.rst
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingAgents/index.rst
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingCommands/dirac-my-great-script.py
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingCommands/dirac-ping-info.py
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingDatabases/AtomDB.py
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingDatabases/index.rst
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingExecutors/PingPongExecutor.py
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingExecutors/PingPongMindHandler.py
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingServices/HelloHandler.py
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingServices/index.rst
  docs/source/DeveloperGuide/AddingNewComponents/TestingAgents/index.rst
Owners: @andresailer

fix when no previous history
  ResourceStatusSystem/Agent/SummarizeLogsAgent.py
Owners: @fstagni, @atsareg

Change type({}) to dict
  WorkloadManagementSystem/JobWrapper/Watchdog.py
Owners: @fstagni, @atsareg

renamed some integration tests files for pytest auto-discovery
  tests/Integration/DataManagementSystem/FC_scaling_test.py
  tests/Integration/DataManagementSystem/Test_Client_DFC.py
  tests/Integration/DataManagementSystem/Test_Client_FTS.py
  tests/Integration/DataManagementSystem/Test_Client_FTS3.py
  tests/Integration/DataManagementSystem/Test_DataIntegrityDB.py
  tests/Integration/DataManagementSystem/Test_FileCatalogDB.py
  tests/Integration/Framework/FIXME_Test_LoggerClient.py
  tests/Integration/Framework/FIXME_fillLoggingDB.py
  tests/Integration/Framework/NotRun_Test_ComponentInstallUninstall.py
  tests/Integration/Framework/Test_ComponentInstallUninstall.py
  tests/Integration/Framework/Test_InstalledComponentsDB.py
  tests/Integration/Framework/Test_LoggerClient.py
  tests/Integration/Framework/Test_LoggingDB.py
  tests/Integration/Framework/fillLoggingDB.py
  tests/Integration/Monitoring/Test_MonitoringReporter.py
  tests/Integration/Monitoring/Test_MonitoringSystem.py
  tests/Integration/RequestManagementSystem/Test_Client_Req.py
  tests/Integration/ResourceStatusSystem/Test_FullChain.py
  tests/Integration/ResourceStatusSystem/Test_Publisher.py
  tests/Integration/ResourceStatusSystem/Test_ResourceStatus.py
  tests/Integration/ResourceStatusSystem/Test_SiteStatus.py
  tests/Integration/Resources/Storage/Test_Resources_GFAL2StorageBase.py
  tests/Integration/TransformationSystem/Test_Client_Transformation.py
  tests/Integration/TransformationSystem/Test_TS_DFC_Catalog.py
  tests/Integration/WorkloadManagementSystem/Test_JobDB.py
  tests/Integration/WorkloadManagementSystem/Test_JobLoggingDB.py
  tests/Performance/DFCPerformance/FIXME_Test_FC_scaling.py
Owners: @fstagni

when the request comming from the web server, then forward the properties
  Core/DISET/AuthManager.py
Owners: @fstagni, @atsareg

happy pycodestyle
  tests/Integration/DataManagementSystem/Test_Client_DFC.py
  tests/Integration/DataManagementSystem/Test_Client_FTS3.py
  tests/Integration/DataManagementSystem/Test_FileCatalogDB.py
  tests/Integration/Framework/NotRun_Test_ComponentInstallUninstall.py
  tests/Performance/DFCPerformance/FIXME_Test_FC_scaling.py
Owners: @fstagni

remove non use import
  Core/DISET/AuthManager.py
Owners: @fstagni, @atsareg

Configuration: log the exception when not able to write the configuration file
  ConfigurationSystem/private/ConfigurationData.py
Owners: @fstagni, @atsareg

Bug fixed
  ConfigurationSystem/Client/VOMS2CSSynchronizer.py
Owners: @fstagni, @atsareg

Execute VOMS query with VO admin proxy
  ConfigurationSystem/scripts/dirac-admin-voms-sync.py
Owners: @fstagni, @atsareg

v6r19p18
  release.notes
Owners: @fstagni, @atsareg

pylint
  ConfigurationSystem/Client/VOMS2CSSynchronizer.py
  ConfigurationSystem/scripts/dirac-admin-voms-sync.py
Owners: @fstagni, @atsareg

v6r20-pre18
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre19
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre19
  releases.cfg
Owners: @fstagni, @atsareg

Fix typo in monitoring activity name
  DataManagementSystem/Agent/RequestOperations/RemoveReplica.py
Owners: @phicharp, @chaen

removed BulkSubmissionTransaction flag (True by default)
  WorkloadManagementSystem/Client/WMSClient.py
  WorkloadManagementSystem/DB/JobDB.py
  WorkloadManagementSystem/Service/JobManagerHandler.py
  docs/source/AdministratorGuide/Configuration/ConfReference/Operations/JobScheduling/index.rst
Owners: @fstagni, @atsareg, @andresailer

pilot 3 optional from SiteDirector
  WorkloadManagementSystem/Agent/SiteDirector.py
  WorkloadManagementSystem/Utilities/PilotCStoJSONSynchronizer.py
  WorkloadManagementSystem/Utilities/PilotWrapper.py
  WorkloadManagementSystem/Utilities/test/Test_PilotWrapper.py
Owners: @fstagni, @atsareg

some fixes
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

Fix broken Dockerfile
  container/Dockerfile
Owners: @fstagni, @atsareg

SiteDirector use PilotWrapper
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

doc update
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/WorkloadManagement/Agents/JobHistoryAgent/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/WorkloadManagement/Agents/SiteDirector/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/WorkloadManagement/Agents/TaskQueueDirector/DIRAC/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/WorkloadManagement/Agents/TaskQueueDirector/gLite/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/WorkloadManagement/Agents/TaskQueueDirector/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/WorkloadManagement/Agents/index.rst
Owners: @andresailer

simplified how we create pilotwrapper content
  WorkloadManagementSystem/Utilities/PilotWrapper.py
  WorkloadManagementSystem/Utilities/test/Test_PilotWrapper.py
Owners: @fstagni, @atsareg

Pilot credentials must be explicitly defined, no autodiscovery
  WorkloadManagementSystem/private/ConfigHelper.py
Owners: @fstagni, @atsareg

Added doc string
  WorkloadManagementSystem/private/ConfigHelper.py
Owners: @fstagni, @atsareg

SiteDirector to send compressed files
  DIRAC_1W82NMpilot/dirac-install.py
  DIRAC_1W82NMpilot/dirac-pilot.py
  DIRAC_RAtwa8pilot/dirac-install.py
  DIRAC_RAtwa8pilot/dirac-pilot.py
  DIRAC_cjmccepilot/dirac-install.py
  DIRAC_cjmccepilot/dirac-pilot.py
  DIRAC_fG3EAwpilot/dirac-install.py
  DIRAC_fG3EAwpilot/dirac-pilot.py
  DIRAC_w2Zjxqpilot/dirac-install.py
  DIRAC_w2Zjxqpilot/dirac-pilot.py
  DIRAC_w6dEIHpilot/dirac-install.py
  DIRAC_w6dEIHpilot/dirac-pilot.py
  WorkloadManagementSystem/Agent/SiteDirector.py
  WorkloadManagementSystem/Utilities/PilotWrapper.py
  WorkloadManagementSystem/Utilities/test/Test_PilotWrapper.py
Owners: @fstagni, @atsareg

removed unwanted dirs
  DIRAC_1W82NMpilot/dirac-install.py
  DIRAC_1W82NMpilot/dirac-pilot.py
  DIRAC_RAtwa8pilot/dirac-install.py
  DIRAC_RAtwa8pilot/dirac-pilot.py
  DIRAC_cjmccepilot/dirac-install.py
  DIRAC_cjmccepilot/dirac-pilot.py
  DIRAC_fG3EAwpilot/dirac-install.py
  DIRAC_fG3EAwpilot/dirac-pilot.py
  DIRAC_w2Zjxqpilot/dirac-install.py
  DIRAC_w2Zjxqpilot/dirac-pilot.py
  DIRAC_w6dEIHpilot/dirac-install.py
  DIRAC_w6dEIHpilot/dirac-pilot.py
Owners: @fstagni, @atsareg

style
  WorkloadManagementSystem/Agent/SiteDirector.py
  WorkloadManagementSystem/Utilities/PilotCStoJSONSynchronizer.py
  WorkloadManagementSystem/Utilities/PilotWrapper.py
  WorkloadManagementSystem/Utilities/test/Test_PilotWrapper.py
Owners: @fstagni, @atsareg

MPSD nbug fix
  WorkloadManagementSystem/Agent/MultiProcessorSiteDirector.py
Owners: @fstagni, @atsareg

Added doc string
  ConfigurationSystem/Client/VOMS2CSSynchronizer.py
Owners: @fstagni, @atsareg

Added doc string
  ConfigurationSystem/Client/VOMS2CSSynchronizer.py
Owners: @fstagni, @atsareg

Removed printout
  ConfigurationSystem/Client/VOMS2CSSynchronizer.py
Owners: @fstagni, @atsareg

Corrected error message
  WorkloadManagementSystem/private/ConfigHelper.py
Owners: @fstagni, @atsareg

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni
