Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

Docs: add developper doc for SE and FC
  Resources/Storage/StorageElement.py
  docs/source/AdministratorGuide/Resources/Catalogs/index.rst
  docs/source/AdministratorGuide/Resources/Storages/index.rst
  docs/source/AdministratorGuide/Systems/DataManagement/dfc.rst
  docs/source/AdministratorGuide/Systems/DataManagement/fts.rst
  docs/source/AdministratorGuide/Systems/ResourceStatus/install.rst
  docs/source/DeveloperGuide/AddingNewComponents/Resources/Catalog.rst
  docs/source/DeveloperGuide/AddingNewComponents/Resources/Storage.rst
  docs/source/DeveloperGuide/AddingNewComponents/Resources/index.rst
Owners: @chaen, @andresailer

DOC: generate documentation for __init__ as well
  docs/Tools/MakeDoc.py
Owners: @andresailer

correct typos
  docs/source/AdministratorGuide/Systems/Accounting/index.rst
Owners: @andresailer

correct the document
  docs/source/AdministratorGuide/InstallingWebAppDIRAC/index.rst
Owners: @andresailer

Docs: dms doc
  .gitignore
  docs/source/AdministratorGuide/Resources/Catalog/index.rst
  docs/source/AdministratorGuide/Resources/Storage/index.rst
  docs/source/AdministratorGuide/Resources/index.rst
  docs/source/AdministratorGuide/Systems/DataManagement/dfc.rst
  docs/source/AdministratorGuide/Systems/DataManagement/index.rst
Owners: @fstagni, @atsareg, @andresailer

Import PilotCStoJSONSynchronizer only in case of the CS master
  ConfigurationSystem/Service/ConfigurationHandler.py
Owners: @fstagni, @atsareg

Docs: autoformat MakeDoc.py
  docs/Tools/MakeDoc.py
Owners: @andresailer

minor style fixes
  RequestManagementSystem/Agent/RequestExecutingAgent.py
  WorkloadManagementSystem/JobWrapper/JobWrapper.py
  WorkloadManagementSystem/JobWrapper/JobWrapperTemplate.py
Owners: @phicharp, @chaen, @fstagni, @atsareg

Correct change certificate DNs
  docs/source/DeveloperGuide/DevelopmentEnvironment/DeveloperInstallation/stuffThatRun.rst
Owners: @andresailer

Added exception handling for Pilot synchronizer import
  ConfigurationSystem/Service/ConfigurationHandler.py
Owners: @fstagni, @atsareg

minor docs update for Framework
  docs/source/AdministratorGuide/Configuration/ConfReference/Registry/Hosts/index.rst
  docs/source/AdministratorGuide/SetupStructure/index.rst
  docs/source/AdministratorGuide/Systems/Framework/index.rst
Owners: @andresailer

error handling corrected in spaceTokenOccupancy, and renamed
  ResourceStatusSystem/Service/PublisherHandler.py
  tests/Integration/ResourceStatusSystem/Test_Publisher.py
Owners: @fstagni, @atsareg

minor fixes to documentation
  docs/source/AdministratorGuide/InstallingAndConfiguringBasics/index.rst
  docs/source/AdministratorGuide/Systems/WorkloadManagement/Pilots/Pilots3.rst
Owners: @andresailer

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni
