Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

moved options in Operations section
  ConfigurationSystem/Service/ConfigurationHandler.py
  WorkloadManagementSystem/Utilities/PilotCStoJSONSynchronizer.py
Owners: @fstagni, @atsareg

v6r20-pre21
  releases.cfg
Owners: @fstagni, @atsareg

v6r20-pre21
  release.notes
Owners: @fstagni, @atsareg

style
  Core/Workflow/Module.py
Owners: @fstagni, @atsareg

v6r19p19 notes
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre21
  release.notes
  releases.cfg
Owners: @fstagni, @atsareg

v6r19p19
  releases.cfg
Owners: @fstagni, @atsareg

just file permits
  tests/Integration/Core/__init__.py
  tests/Integration/Framework/FIXME_fillLoggingDB.py
  tests/Integration/Framework/Test_LoggingDB.py
Owners: @fstagni

bug fixes
  Interfaces/API/DiracAdmin.py
  Interfaces/scripts/dirac-admin-site-info.py
  ResourceStatusSystem/Policy/FreeDiskSpacePolicy.py
Owners: @fstagni, @atsareg

style
  Interfaces/scripts/dirac-admin-site-info.py
  ResourceStatusSystem/Policy/FreeDiskSpacePolicy.py
Owners: @fstagni, @atsareg

mostly pylint
  DataManagementSystem/DB/FileCatalogComponents/FileManagerBase.py
  DataManagementSystem/DB/FileCatalogComponents/WithFkAndPs/FileManagerPs.py
  tests/Integration/Framework/Test_LoggingDB.py
Owners: @phicharp, @chaen, @fstagni

default VO: any
  ConfigurationSystem/Agent/VOMS2CSAgent.py
  ConfigurationSystem/Client/VOMS2CSSynchronizer.py
  ConfigurationSystem/ConfigTemplate.cfg
Owners: @fstagni, @atsareg

Generic to VO DIRAC installation in singularity
  Resources/Computing/SingularityComputingElement.py
Owners: @atsareg

style/minor
  ResourceStatusSystem/scripts/dirac-rss-policy-manager.py
  ResourceStatusSystem/scripts/dirac-rss-query-db.py
  ResourceStatusSystem/scripts/dirac-rss-query-dtcache.py
  ResourceStatusSystem/scripts/dirac-rss-set-status.py
  ResourceStatusSystem/scripts/dirac-rss-set-token.py
  tests/System/dirac-test-production.py
Owners: @fstagni, @atsareg

escaping strings
  DataManagementSystem/DB/FileCatalogComponents/DirectoryLevelTree.py
Owners: @phicharp, @chaen

Fix pycodestyle for SingularityComputingElement
  Resources/Computing/SingularityComputingElement.py
Owners: @atsareg

Stager: fix a buggy group by incompatible with MySQL 5.7
  StorageManagementSystem/DB/StorageManagementDB.py
Owners: @phicharp, @chaen

minor/style
  AccountingSystem/Client/Types/BaseAccountingType.py
  ResourceStatusSystem/Command/FreeDiskSpaceCommand.py
Owners: @fstagni, @atsareg

escaping directories and strings from SQL queries
  DataManagementSystem/DB/FileCatalogComponents/DirectoryLevelTree.py
Owners: @phicharp, @chaen

test fix
  ResourceStatusSystem/Policy/test/Test_RSS_Policy_FreeDiskSpacePolicy.py
  ResourceStatusSystem/scripts/dirac-rss-policy-manager.py
  ResourceStatusSystem/scripts/dirac-rss-query-db.py
  ResourceStatusSystem/scripts/dirac-rss-query-dtcache.py
Owners: @fstagni, @atsareg

Correction in doc about wrong path and deprecated function
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingDatabases/AtomDB.py
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingServices/index.rst
  docs/source/DeveloperGuide/DevelopmentEnvironment/DeveloperInstallation/editingCode.rst
  docs/source/DeveloperGuide/DevelopmentEnvironment/DeveloperInstallation/stuffThatRun.rst
Owners: @andresailer

style
  DataManagementSystem/DB/FileCatalogComponents/DirectoryLevelTree.py
  DataManagementSystem/DB/FileCatalogComponents/FileManagerBase.py
Owners: @phicharp, @chaen

v6r19p20 notes
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre22
  release.notes
Owners: @fstagni, @atsareg

v6r19p20, v6r20-pre22
  releases.cfg
Owners: @fstagni, @atsareg

FTS3DB: kick operations, have to reset assignment
  DataManagementSystem/DB/FTS3DB.py
Owners: @phicharp, @chaen

FTS3DB: FTS3Job update lastMonitor when it was last monitored
  DataManagementSystem/Agent/FTS3Agent.py
  DataManagementSystem/DB/FTS3DB.py
Owners: @phicharp, @chaen

FTS3DB:getNonFinishedOperations: select distinct operationIDs
  DataManagementSystem/DB/FTS3DB.py
Owners: @phicharp, @chaen

FTS3DB: fix filter statements
  DataManagementSystem/DB/FTS3DB.py
Owners: @phicharp, @chaen

FTS3DB: add function to delete old operations etc.
  DataManagementSystem/Agent/FTS3Agent.py
  DataManagementSystem/DB/FTS3DB.py
  docs/source/AdministratorGuide/Systems/DataManagement/fts3.rst
Owners: @phicharp, @chaen, @andresailer

FTS3: add FTS3DB.kickStuckOperations function and call it from FTS3Agent
  DataManagementSystem/Agent/FTS3Agent.py
  DataManagementSystem/ConfigTemplate.cfg
  DataManagementSystem/DB/FTS3DB.py
Owners: @phicharp, @chaen

FTS3DB: only allow integers to be passed to INTERVAL statements
  DataManagementSystem/DB/FTS3DB.py
Owners: @phicharp, @chaen

removed espace from integers
  DataManagementSystem/DB/FileCatalogComponents/DirectoryLevelTree.py
Owners: @phicharp, @chaen

pylints
  DataManagementSystem/DB/FileCatalogComponents/DirectoryFlatTree.py
  DataManagementSystem/DB/FileCatalogComponents/DirectoryMetadata.py
Owners: @phicharp, @chaen

env variables from CS parameters
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

added possibility to deploy generic environment variables
  WorkloadManagementSystem/Agent/SiteDirector.py
  WorkloadManagementSystem/Utilities/PilotWrapper.py
  WorkloadManagementSystem/Utilities/test/Test_PilotWrapper.py
Owners: @fstagni, @atsareg

better test
  WorkloadManagementSystem/Utilities/PilotWrapper.py
  WorkloadManagementSystem/Utilities/test/Test_PilotWrapper.py
Owners: @fstagni, @atsareg

pycodestyle
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

backports from v6r20
  .pylintrc
  README.rst
  Workflow/Modules/Script.py
  container/Dockerfile
  requirements.txt
  tests/Jenkins/dirac-cfg-update-server.py
  tests/Jenkins/dirac_ci.sh
  tests/Jenkins/utilities.sh
Owners: @fstagni, @atsareg

fix, plus more backporting
  Workflow/Modules/ModuleBase.py
  Workflow/Modules/Script.py
Owners: @fstagni, @atsareg

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni
