Repository DIRACGrid/DIRAC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fstagni, @atsareg, @zmathe, @phicharp, @chaen, @wkrzemien, @andresailer

.github/CODEOWNERS:

# Taken from https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.

*                         @fstagni @atsareg



# Order is important; the last matching pattern takes the most
# precedence. 
# e.g. when someone opens a pull request that only
# modifies files in /DIRAC/docs/tools/ files, only @andresailer and not the global
# owner(s) will be requested for a review.

AccontingSystem/          @zmathe
MonitoringSystem/         @zmathe
DataManagementSystem/     @phicharp @chaen
RequestManagementSystem/  @phicharp @chaen
StorageManagementSystem/  @phicharp @chaen
TransformationSystem/     @phicharp @fstagni
Resources/Storage/        @chaen
Resources/Catalog/        @chaen
Resources/Computing/      @atsareg
Resources/MessageQueue    @wkrzemien
docs/                     @andresailer
tests/                    @fstagni

Updated VOMS2CSAgent doc
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Configuration/Agents/VOMS2CSAgent/index.rst
Owners: @andresailer

autopep8
  WorkloadManagementSystem/private/ConfigHelper.py
Owners: @fstagni, @atsareg

v6r20-pre20
  release.notes
Owners: @fstagni, @atsareg

v6r20-pre20
  releases.cfg
Owners: @fstagni, @atsareg

MQ: only enable Stomp logging if DIRAC_DEBUG_STOMP environment variable is set
  Resources/MessageQueue/StompMQConnector.py
  docs/source/AdministratorGuide/DIRACSites/MessageQueues/index.rst
Owners: @wkrzemien, @andresailer

some Registry options
  tests/Jenkins/dirac-cfg-update-server.py
Owners: @fstagni

pilotFileServer resolved later
  ConfigurationSystem/Service/ConfigurationHandler.py
Owners: @fstagni, @atsareg

keeping the default
  WorkloadManagementSystem/Utilities/PilotWrapper.py
Owners: @fstagni, @atsareg

VOMSService: fix exception for missing $X509_USER_PROXY
  Core/Security/VOMSService.py
Owners: @fstagni, @atsareg

several bugs fixed, and docs
  WorkloadManagementSystem/Agent/SiteDirector.py
  WorkloadManagementSystem/Utilities/PilotWrapper.py
  WorkloadManagementSystem/Utilities/test/Test_PilotWrapper.py
Owners: @fstagni, @atsareg

simplification and doc
  WorkloadManagementSystem/Agent/MultiProcessorSiteDirector.py
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

better logging
  WorkloadManagementSystem/Utilities/PilotWrapper.py
  WorkloadManagementSystem/Utilities/test/Test_PilotWrapper.py
Owners: @fstagni, @atsareg

only name
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

always checking that the proxy is uploaded
  Resources/Computing/ComputingElementFactory.py
  WorkloadManagementSystem/Agent/SiteDirector.py
  WorkloadManagementSystem/private/ConfigHelper.py
Owners: @atsareg, @fstagni

don't throw exception if MJF is not fully deployed
  Core/Utilities/MJF.py
Owners: @fstagni, @atsareg

bugfix: is a list
  Resources/Storage/GFAL2_SRM2Storage.py
Owners: @chaen

style
  Core/Utilities/MJF.py
  Resources/Computing/ComputingElementFactory.py
  WorkloadManagementSystem/Agent/SiteDirector.py
Owners: @fstagni, @atsareg

DFC: add a dumpSE feature
  DataManagementSystem/DB/FileCatalogComponents/FileManagerBase.py
  DataManagementSystem/DB/FileCatalogComponents/WithFkAndPs/FileManagerPs.py
  DataManagementSystem/DB/FileCatalogDB.py
  DataManagementSystem/DB/FileCatalogWithFkAndPsDB.sql
  DataManagementSystem/Service/FileCatalogHandler.py
  Resources/Catalog/FileCatalogClient.py
  tests/Integration/DataManagementSystem/Test_Client_DFC.py
  tests/Integration/DataManagementSystem/Test_FileCatalogDB.py
Owners: @phicharp, @chaen, @fstagni

Core.Grid: add functions to parse GLUE2 info for CERN HTCondor CEs
  Core/Utilities/Grid.py
Owners: @fstagni, @atsareg

BDII2CSAgent: add options to get information from GLUE2
  ConfigurationSystem/Agent/Bdii2CSAgent.py
Owners: @fstagni, @atsareg

dirac-admin-add-resources: add possibility to get info from GLUE2 for CERN HTCondorCEs
  ConfigurationSystem/Client/Utilities.py
  ConfigurationSystem/scripts/dirac-admin-add-resources.py
Owners: @fstagni, @atsareg

getGlue2HTCondorCEInfo: fix docstring
  Core/Utilities/Grid.py
Owners: @fstagni, @atsareg

getGlue2HTCondorCEInfo: move information from queue to CE level, replace amd64 by x86_64
  Core/Utilities/Grid.py
Owners: @fstagni, @atsareg

created _exitWithError method for extension possibilities
  Workflow/Modules/ModuleBase.py
  Workflow/Modules/Script.py
Owners: @fstagni, @atsareg

test fix
  WorkloadManagementSystem/Agent/SiteDirector.py
  WorkloadManagementSystem/Agent/test/Test_Agent_WorkloadManagementSystem.py
Owners: @fstagni, @atsareg

DFC: pep8
  DataManagementSystem/DB/FileCatalogComponents/FileManagerBase.py
  DataManagementSystem/DB/FileCatalogComponents/WithFkAndPs/FileManagerPs.py
  DataManagementSystem/DB/FileCatalogDB.py
  DataManagementSystem/Service/FileCatalogHandler.py
  Resources/Catalog/FileCatalogClient.py
  tests/Integration/DataManagementSystem/Test_Client_DFC.py
  tests/Integration/DataManagementSystem/Test_FileCatalogDB.py
  tests/formatting/pep8_bad.py
Owners: @phicharp, @chaen, @fstagni

just moved one more function in the pilotWrapper utility module
  WorkloadManagementSystem/Agent/SiteDirector.py
  WorkloadManagementSystem/Utilities/PilotWrapper.py
Owners: @fstagni, @atsareg

mostly style
  Core/Security/Locations.py
  Core/Workflow/Module.py
Owners: @fstagni, @atsareg

Glue2: create new module to hold functions for getting GLUE2 information
  Core/Utilities/Glue2.py
  Core/Utilities/Grid.py
Owners: @fstagni, @atsareg

dirac-admin-add-resources: change options to set URL or enable GLUE2 lookup
  ConfigurationSystem/Client/Utilities.py
  ConfigurationSystem/scripts/dirac-admin-add-resources.py
  Core/Utilities/Grid.py
Owners: @fstagni, @atsareg

Glue2: try to guess if time was in minutes or not
  Core/Utilities/Glue2.py
Owners: @fstagni, @atsareg

Glue2: abort if neither query was successful
  Core/Utilities/Glue2.py
Owners: @fstagni, @atsareg

Glue2: HTCondorCE implementation is for CERN only
  Core/Utilities/Glue2.py
Owners: @fstagni, @atsareg

BDII2CSAgent: drop GLUE2CEtypes option, because obsolete
  ConfigurationSystem/Agent/Bdii2CSAgent.py
Owners: @fstagni, @atsareg

BDII2CSAgent: add option Host and GLUE2Only to turn off looking in the GLUE1 schema, add to ConfigTemplate
  ConfigurationSystem/Agent/Bdii2CSAgent.py
  ConfigurationSystem/Agent/test/Test_Bdii2CS.py
  ConfigurationSystem/ConfigTemplate.cfg
Owners: @fstagni, @atsareg

BDII2CSAgent: document new options
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Configuration/Agents/Bdii2CSAgent/index.rst
Owners: @andresailer

style
  Core/Workflow/Module.py
Owners: @fstagni, @atsareg

Glue2: add __RCSID__
  Core/Utilities/Glue2.py
Owners: @fstagni, @atsareg

Doc: Bdii2CSAgent: sort parameters, add GLUE2Only descritpion, fix list formatting
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Configuration/Agents/Bdii2CSAgent/index.rst
Owners: @andresailer

add missing status to the pilot summary
  WorkloadManagementSystem/DB/PilotAgentsDB.py
Owners: @fstagni, @atsareg
