Repository DIRACGrid/DIRAC, pull requests merged in 2021-10, with the labels that each got.

#5452 [v7r2] Use sweeper to propogate PRs
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-sweep.yml
Labels: alsoTargeting:integration, alsoTargeting:rel-v7r3

#5455 [v7r2] CI: add sweep as keyword and case insensitive
  .github/workflows/semantic.yml
Labels: alsoTargeting:rel-v7r3

#5462 [v7r2] fix: wait an incremental amount of seconds for finding the child PID
  src/DIRAC/WorkloadManagementSystem/JobWrapper/JobWrapper.py
Labels: alsoTargeting:rel-v7r3

#5465 [v7r2] Adapt pylintrc to black
  .pylintrc
Labels: alsoTargeting:rel-v7r3

#5461 [v7r2] Sleep instead of dropping requests when services are overloaded
  src/DIRAC/Core/DISET/ServiceReactor.py
  src/DIRAC/Core/DISET/private/Service.py
Labels: alsoTargeting:rel-v7r3

#5468 [sweep:v7r3] Sleep instead of dropping requests when services are overloaded
  src/DIRAC/Core/DISET/ServiceReactor.py
  src/DIRAC/Core/DISET/private/Service.py
Labels: alsoTargeting:integration, sweep:from rel-v7r2

#5459 [v7r3] Reduce number of CI jobs
  .github/workflows/basic-python3.yml
  .github/workflows/basic.yml
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
Labels: sweep:ignore

#5460 [integration] Reduce number of CI jobs
  .github/workflows/basic.yml
  .github/workflows/integration.yml
Labels: sweep:ignore

#5469 [v7r2] Fixes for the executor framework
  .git-blame-ignore-revs
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingExecutors/index.rst
  docs/source/DeveloperGuide/Systems/Framework/stableconns/index.rst
  src/DIRAC/Core/Base/ExecutorMindHandler.py
  src/DIRAC/Core/Utilities/ExecutorDispatcher.py
Labels: alsoTargeting:rel-v7r3

#5475 [sweep:integration] Fixes for the executor framework
  .git-blame-ignore-revs
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingExecutors/index.rst
  docs/source/DeveloperGuide/Systems/Framework/stableconns/index.rst
  environment.yml
  src/DIRAC/Core/Base/ExecutorMindHandler.py
  src/DIRAC/Core/Utilities/ExecutorDispatcher.py
Labels: sweep:from rel-v7r3

#5478 [v7r2] Fix deployment CI job
  .github/workflows/deployment.yml
Labels: alsoTargeting:rel-v7r3

#5480 [v7r2] Increased failover request delay
  src/DIRAC/WorkloadManagementSystem/JobWrapper/JobWrapper.py
Labels: alsoTargeting:rel-v7r3

#5483 [v7r3] Allow pre-releases if the primary extension is a pre-release
  src/DIRAC/FrameworkSystem/Service/SystemAdministratorHandler.py
Labels: alsoTargeting:integration, sweep:ignore

#5510 [v7r2] Set security log message to DEBUG
  src/DIRAC/FrameworkSystem/Client/SecurityLogClient.py
Labels: alsoTargeting:rel-v7r3

#5520 [v7r3] Fix in Dirac.py API
  src/DIRAC/Interfaces/API/Dirac.py
Labels: alsoTargeting:integration
