Repository DIRACGrid/DIRAC, pull requests merged in 2021-11, with the labels that each got.

#5551 [v7r2] fix (docs): remove docutils from the requirements
  environment-py3.yml
  environment.yml
Labels: alsoTargeting:rel-v7r3

#5554 [v7r2] Fixes to X509CRL and X509Chain
  src/DIRAC/Core/Security/m2crypto/X509CRL.py
  src/DIRAC/Core/Security/m2crypto/X509Chain.py
Labels: alsoTargeting:rel-v7r3

#5560 [sweep:v7r3] Fixes to X509CRL and X509Chain
  src/DIRAC/Core/Security/m2crypto/X509CRL.py
  src/DIRAC/Core/Security/m2crypto/X509Chain.py
Labels: alsoTargeting:integration, sweep:from rel-v7r2

#5549 [v7r3] don't run Integration tests for documentation changes
  .github/workflows/integration.yml
Labels: alsoTargeting:integration

#5550 [v7r3] fix: do not look anymore in releases.cfg
  src/DIRAC/WorkloadManagementSystem/Utilities/PilotCStoJSONSynchronizer.py
Labels: alsoTargeting:integration

#5553 [rel-v7r2] Fixes to executor infrastructure
  src/DIRAC/Core/Base/ExecutorMindHandler.py
  src/DIRAC/Core/DISET/MessageClient.py
  src/DIRAC/Core/DISET/private/MessageBroker.py
  src/DIRAC/Core/Utilities/ExecutorDispatcher.py
  src/DIRAC/WorkloadManagementSystem/Client/JobState/JobState.py
  src/DIRAC/WorkloadManagementSystem/DB/JobLoggingDB.py
  src/DIRAC/WorkloadManagementSystem/Service/OptimizationMindHandler.py
Labels: alsoTargeting:rel-v7r3

#5564 [v7r3] generalize JobParameters for Cloud VMTypes
  src/DIRAC/WorkloadManagementSystem/Utilities/JobParameters.py
Labels: alsoTargeting:integration

#5576 [v7r3] test: fix http/https typo in Test_Resources_GFAL2StorageBase
  tests/Integration/Resources/Storage/Test_Resources_GFAL2StorageBase.py
Labels: alsoTargeting:integration

#5577 [v7r3] fix: display correctly the help in sysadmin-cli
  src/DIRAC/FrameworkSystem/Client/ComponentInstaller.py
  src/DIRAC/FrameworkSystem/Client/SystemAdministratorClientCLI.py
Labels: alsoTargeting:integration

#5574 [v7r2] Error logging when optimisation fails
  src/DIRAC/WorkloadManagementSystem/Service/OptimizationMindHandler.py
Labels: alsoTargeting:rel-v7r3

#5578 Fix cloudinit
  src/DIRAC/Resources/Cloud/cloudinit.template
Labels: alsoTargeting:integration

#5590 [v7r3] fix: Extension ordering in DIRACScript
  src/DIRAC/Core/Utilities/DIRACScript.py
Labels: alsoTargeting:integration

#5593 fix (WMS): Fix UnicodeDecodeErrors in JobDB.getJobParameters
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
Labels: alsoTargeting:integration

#5591 [v7r3] Only expose masterCS if not using replicas
  src/DIRAC/ConfigurationSystem/private/ServiceInterfaceBase.py
Labels: alsoTargeting:integration

#5597 [v7r3] Don't run JobsStateMachine if newStat is ''
  src/DIRAC/Core/Utilities/StateMachine.py
  src/DIRAC/WorkloadManagementSystem/Service/JobStateUpdateHandler.py
Labels: alsoTargeting:integration

#5600 [v7r3] Fix installing extensions on Python 3 based servers
  src/DIRAC/FrameworkSystem/Service/SystemAdministratorHandler.py
Labels: alsoTargeting:integration

#5605 [sweep:integration] test: fix http/https typo in Test_Resources_GFAL2StorageBase
  tests/Integration/Resources/Storage/Test_Resources_GFAL2StorageBase.py
Labels: sweep:from rel-v7r3

#5604 [sweep:integration] Fix installing extensions on Python 3 based servers
  src/DIRAC/FrameworkSystem/Service/SystemAdministratorHandler.py
Labels: sweep:from rel-v7r3

#5603 [sweep:integration] Don't run JobsStateMachine if newStat is ''
  src/DIRAC/Core/Utilities/StateMachine.py
  src/DIRAC/WorkloadManagementSystem/Service/JobStateUpdateHandler.py
Labels: sweep:from rel-v7r3

#5592 [v7r2] Fix CS thread leaks
  src/DIRAC/ConfigurationSystem/private/ServiceInterface.py
Labels: alsoTargeting:rel-v7r3

#5601 [v7r3] Cleaning old installations from a Python 3 based server
  src/DIRAC/FrameworkSystem/Service/SystemAdministratorHandler.py
Labels: alsoTargeting:integration

#5606 [v7r3] Return error if JobPolicy.getControlledUsers returns an empty list
  src/DIRAC/WorkloadManagementSystem/Service/JobMonitoringHandler.py
Labels: alsoTargeting:integration

#5598 [v7r2] Fix bug in TransformationCleaningAgent, that was NOT removing jobs but only deleting them
  src/DIRAC/Interfaces/API/Dirac.py
  src/DIRAC/TransformationSystem/Agent/TransformationCleaningAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobCleaningAgent.py
  src/DIRAC/WorkloadManagementSystem/Client/WMSClient.py
Labels: alsoTargeting:rel-v7r3

#5613 [v7r3] feat (RMS): ReqProxy takes the number of request to sweep from the CS
  src/DIRAC/RequestManagementSystem/ConfigTemplate.cfg
  src/DIRAC/RequestManagementSystem/Service/ReqProxyHandler.py
Labels: alsoTargeting:integration

#5614 [v7r3] getComponentsStatus bug whith empty service list
  src/DIRAC/FrameworkSystem/DB/ComponentMonitoringDB.py
Labels: alsoTargeting:integration

#5619 Sweep #5614 `getComponentsStatus bug whith empty service list` to `integration`
  src/DIRAC/FrameworkSystem/DB/ComponentMonitoringDB.py
Labels: sweep:from rel-v7r3

#5624 [v7r2] fix: TransformationCleaningAgent 'deletes', do not 'remove' jobs
  src/DIRAC/TransformationSystem/Agent/TransformationCleaningAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobCleaningAgent.py
Labels: alsoTargeting:rel-v7r3

#5618 [WIP] [v7r3] More debug for tornado
  docs/source/AdministratorGuide/ServerInstallations/environment_variable_configuration.rst
  src/DIRAC/Core/Tornado/Server/TornadoServer.py
Labels: alsoTargeting:integration

#5635 [v7r2] Fix typo in OptimizationMindHandler.exec_taskError
  src/DIRAC/WorkloadManagementSystem/Service/OptimizationMindHandler.py
Labels: alsoTargeting:rel-v7r3

#5636 [v7r3] ProxyDB sender email taken from the service/agent config
  src/DIRAC/FrameworkSystem/Agent/MyProxyRenewalAgent.py
  src/DIRAC/FrameworkSystem/ConfigTemplate.cfg
  src/DIRAC/FrameworkSystem/DB/ProxyDB.py
  src/DIRAC/FrameworkSystem/Service/ProxyManagerHandler.py
Labels: alsoTargeting:integration

#5547 [v7r3] Transformation system more flexible
  .gitignore
  docs/source/AdministratorGuide/Systems/Transformation/index.rst
  docs/source/AdministratorGuide/Tutorials/dmsWithTs.rst
  docs/source/DeveloperGuide/Systems/Transformation/bodyplugin.rst
  docs/source/DeveloperGuide/Systems/Transformation/index.rst
  src/DIRAC/TransformationSystem/Client/BodyPlugin/BaseBody.py
  src/DIRAC/TransformationSystem/Client/BodyPlugin/DummyBody.py
  src/DIRAC/TransformationSystem/Client/BodyPlugin/__init__.py
  src/DIRAC/TransformationSystem/Client/RequestTasks.py
  src/DIRAC/TransformationSystem/Client/Transformation.py
  src/DIRAC/TransformationSystem/Client/test/Test_Client_RequestTasks.py
  src/DIRAC/TransformationSystem/Client/test/Test_Client_TransformationSystem.py
Labels: alsoTargeting:integration

#5137 [v7r3] Refactor WMSUtilities and better handle logs and executables in HTCondorCE
  src/DIRAC/Resources/Computing/BatchSystems/Condor.py
  src/DIRAC/Resources/Computing/CREAMComputingElement.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/LocalComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/Service/PilotManagerHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/WMSAdministratorHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/WMSUtilities.py
Labels: alsoTargeting:integration

#5371 [v7r2] Multi-node allocations: Embed executableFile in the srun Wrapper
  src/DIRAC/Resources/Computing/BatchSystems/SLURM.py
  src/DIRAC/Resources/Computing/BatchSystems/test/Test_SLURM.py
  src/DIRAC/Resources/Computing/BatchSystems/test/__init__.py
  src/DIRAC/Resources/Computing/ComputingElement.py
  src/DIRAC/Resources/Computing/LocalComputingElement.py
  src/DIRAC/Resources/Computing/ParallelLibraries/ParallelLibrary.py
  src/DIRAC/Resources/Computing/ParallelLibraries/Srun.py
  src/DIRAC/Resources/Computing/ParallelLibraries/test/Test_ParallelLibraries.py
  src/DIRAC/Resources/Computing/ParallelLibraries/test/__init__.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
Labels: alsoTargeting:rel-v7r3

#5631 [v7r3] RSS: downtimeCommand fixes
  src/DIRAC/ResourceStatusSystem/Client/ResourceManagementClient.py
  src/DIRAC/ResourceStatusSystem/Command/DowntimeCommand.py
  src/DIRAC/ResourceStatusSystem/Service/ResourceManagementHandler.py
Labels: alsoTargeting:integration

#5588 [v7r2] fix (DMS): directory-sync: better failure logging, later abort
  src/DIRAC/DataManagementSystem/scripts/dirac_dms_directory_sync.py
Labels: alsoTargeting:rel-v7r3

#5622 [v7r3] Fix SystemAdministratorCLI
  src/DIRAC/FrameworkSystem/Client/SystemAdministratorClientCLI.py
Labels: alsoTargeting:integration

#5638 [v7r2] More executor fixes
  src/DIRAC/Core/Utilities/ExecutorDispatcher.py
Labels: alsoTargeting:rel-v7r3

#5661 [v7r3] test (RequestTasks): fix flaky test
  src/DIRAC/TransformationSystem/Client/test/Test_Client_RequestTasks.py
Labels: alsoTargeting:integration

#5659 [v7r3] bytes/str confusion in SSHComputingElement
  src/DIRAC/Resources/Computing/SSHComputingElement.py
Labels: alsoTargeting:integration
