Repository DIRACGrid/DIRAC, pull requests merged in 2021-12, with the labels that each got.

#5655 [v7r3] Fix DIRAC.isPy3VersionNumber always returns True
  src/DIRAC/__init__.py
Labels: alsoTargeting:integration

#5650 [v7r3] Handle requests for killed jobs
  src/DIRAC/RequestManagementSystem/Client/ReqClient.py
  src/DIRAC/WorkloadManagementSystem/Client/JobMinorStatus.py
Labels: alsoTargeting:integration

#5657 [sweep:integration] Fix typo in OptimizationMindHandler.exec_taskError
  src/DIRAC/WorkloadManagementSystem/Service/OptimizationMindHandler.py
Labels: sweep:from rel-v7r3

#5668 [rel-v7r2] change keyword args from type to type_
  src/DIRAC/ConfigurationSystem/Agent/RucioSynchronizerAgent.py
Labels: alsoTargeting:rel-v7r3

#5667 [v7r2] Yet more executor fixes
  src/DIRAC/Core/Base/ExecutorMindHandler.py
  src/DIRAC/Core/DISET/MessageClient.py
  src/DIRAC/Core/Utilities/ExecutorDispatcher.py
Labels: alsoTargeting:rel-v7r3

#5669 [v7r3] Fix decoding of content in WLCGAccountingHTTPJson
  src/DIRAC/Resources/Storage/OccupancyPlugins/WLCGAccountingHTTPJson.py
Labels: alsoTargeting:integration

#5660 [v7r2] Bdii2CSAgent features: bannedCEs, SingleCoreQueues
  docs/source/AdministratorGuide/Resources/computingelements.rst
  src/DIRAC/ConfigurationSystem/Agent/Bdii2CSAgent.py
  src/DIRAC/ConfigurationSystem/Client/Utilities.py
  src/DIRAC/ConfigurationSystem/ConfigTemplate.cfg
  src/DIRAC/ConfigurationSystem/scripts/dirac_admin_add_resources.py
Labels: alsoTargeting:rel-v7r3

#5680 [v7r3] sweep Bdii2CSAgent features: bannedCEs, SingleCoreQueues
  docs/source/AdministratorGuide/Resources/computingelements.rst
  src/DIRAC/ConfigurationSystem/Agent/Bdii2CSAgent.py
  src/DIRAC/ConfigurationSystem/Client/Utilities.py
  src/DIRAC/ConfigurationSystem/ConfigTemplate.cfg
  src/DIRAC/ConfigurationSystem/scripts/dirac_admin_add_resources.py
Labels: alsoTargeting:integration

#5689 [V7r2] voms2cs agent fix when joining second VO
  src/DIRAC/ConfigurationSystem/Client/VOMS2CSSynchronizer.py
Labels: alsoTargeting:rel-v7r3

#5706 [v7r2] Fix encodeDict when the dict keys have mixed types
  src/DIRAC/Core/Utilities/DEncode.py
Labels: alsoTargeting:rel-v7r3

#5709 [v7r2] fix: ElasticJobParametersDB: get in output all entries
  src/DIRAC/WorkloadManagementSystem/DB/ElasticJobParametersDB.py
Labels: alsoTargeting:rel-v7r3

#5705 [v7r3] Fixes for setting the Jobs Status
  src/DIRAC/Core/Utilities/Time.py
  src/DIRAC/FrameworkSystem/Service/SystemAdministratorHandler.py
  src/DIRAC/Interfaces/API/Dirac.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
  src/DIRAC/WorkloadManagementSystem/Client/JobReport.py
  src/DIRAC/WorkloadManagementSystem/Client/JobStatus.py
  src/DIRAC/WorkloadManagementSystem/Client/Matcher.py
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/JobWrapper.py
  src/DIRAC/WorkloadManagementSystem/Service/JobStateUpdateHandler.py
Labels: alsoTargeting:integration

#5707 [v7r3] feat (wms): use db12 package to compute cpu power
  environment-py3.yml
  environment.yml
  src/DIRAC/WorkloadManagementSystem/Client/CPUNormalization.py
  src/DIRAC/WorkloadManagementSystem/scripts/dirac_wms_cpu_normalization.py
Labels: alsoTargeting:integration

#5718 [v7r3] Add URLs to CS when installing HTTPS services
  src/DIRAC/FrameworkSystem/Client/ComponentInstaller.py
  tests/CI/install_server.sh
Labels: alsoTargeting:integration

#5720 [v7r3] Correct check of CA location in TornadoBaseClient
  src/DIRAC/Core/Tornado/Client/private/TornadoBaseClient.py
Labels: alsoTargeting:integration

#5730 [sweep:integration] Add URLs to CS when installing HTTPS services
  src/DIRAC/FrameworkSystem/Client/ComponentInstaller.py
  tests/CI/install_server.sh
Labels: sweep:from rel-v7r3

#5330 [v7r3] Add PushJobAgent: supports Sites with no external connectivity
  docs/source/AdministratorGuide/Resources/index.rst
  docs/source/AdministratorGuide/Resources/supercomputers.rst
  docs/source/_static/hpc_schema.png
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/InProcessComputingElement.py
  src/DIRAC/Resources/Computing/PoolComputingElement.py
  src/DIRAC/Resources/Computing/test/Test_InProcessComputingElement.py
  src/DIRAC/Workflow/Modules/Script.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_JobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Utilities/QueueUtilities.py
  src/DIRAC/WorkloadManagementSystem/Utilities/RemoteRunner.py
  src/DIRAC/WorkloadManagementSystem/Utilities/Utils.py
  src/DIRAC/WorkloadManagementSystem/scripts/dirac_jobexec.py
  tests/Integration/WorkloadManagementSystem/Test_JobWrapper.py
Labels: alsoTargeting:integration

#5708 [v7r3] RSS fix: some sites have no resources
  src/DIRAC/ResourceStatusSystem/Utilities/CSHelpers.py
Labels: alsoTargeting:integration

#5737 [v7r3] fix: gzipping in py2 and py3
  src/DIRAC/FrameworkSystem/private/SecurityFileLog.py
Labels: alsoTargeting:integration

#5739 [sweep:integration] fix: gzipping in py2 and py3
  src/DIRAC/FrameworkSystem/private/SecurityFileLog.py
Labels: sweep:from rel-v7r3

#5745 [v7r3] hackaton fix (wms): JobAgent submitJob inputs
  src/DIRAC/Resources/Computing/InProcessComputingElement.py
  src/DIRAC/Resources/Computing/PoolComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
Labels: alsoTargeting:integration

#5742 [v7r2] JobSanity doesn't handle input sanboxes named "LFN:"
  src/DIRAC/WorkloadManagementSystem/Executor/JobSanity.py
Labels: alsoTargeting:rel-v7r3

#5749 [sweep:v7r3] JobSanity doesn't handle input sanboxes named "LFN:"
  src/DIRAC/WorkloadManagementSystem/Executor/JobSanity.py
Labels: alsoTargeting:integration, sweep:from rel-v7r2

#5748 [sweep:integration] Get Tornado's port from the CS when adding URLs
  src/DIRAC/FrameworkSystem/Client/ComponentInstaller.py
Labels: sweep:from rel-v7r3

#5744 [v7r3] WMS job status fixes
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/StalledJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Client/JobStatus.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/JobWrapper.py
Labels: alsoTargeting:integration
