Repository DIRACGrid/DIRAC, pull requests merged in 2022-10, with the labels that each got.

#6395 [v7r3] Use safer mode for grid-security directories
  src/DIRAC/Core/Utilities/File.py
  src/DIRAC/Core/scripts/dirac_configure.py
Labels: alsoTargeting:rel-v8r0

#6394 [v8r0] fixes for rescheduling
  src/DIRAC/Core/Utilities/TimeUtilities.py
  src/DIRAC/WorkloadManagementSystem/Executor/JobScheduling.py
Labels: alsoTargeting:integration

#6401 [8.0] Add command to complete productions
  setup.cfg
  src/DIRAC/ProductionSystem/DB/ProductionDB.py
  src/DIRAC/ProductionSystem/Utilities/StateMachine.py
  src/DIRAC/ProductionSystem/scripts/dirac_prod_complete.py
  src/DIRAC/TransformationSystem/Client/TransformationClient.py
  src/DIRAC/TransformationSystem/Service/TransformationManagerHandler.py
Labels: alsoTargeting:integration

#6399 [8.0] ElasticJobParametersDB: create a new index every 1M jobs
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/WorkloadManagementSystem/Agent/OptimizerModule.py
  src/DIRAC/WorkloadManagementSystem/DB/ElasticJobParametersDB.py
  src/DIRAC/WorkloadManagementSystem/Service/JobStateUpdateHandler.py
  tests/Integration/WorkloadManagementSystem/Test_ElasticJobParametersDB.py
Labels: alsoTargeting:integration

#6411 [v8r0] Fix MySQL Optimizer and don't start JobAgent for integration tests
  src/DIRAC/Core/Utilities/MySQL.py
  tests/Jenkins/utilities.sh
Labels: alsoTargeting:integration

#6412 [8.0] Cast monitoring error messages
  src/DIRAC/Resources/Storage/StorageElement.py
Labels: alsoTargeting:integration

#6423 [v7r3] Update InstallingDiracServer.rst
  docs/source/AdministratorGuide/ServerInstallations/InstallingDiracServer.rst
Labels: alsoTargeting:rel-v8r0

#6418 [8.0] remove PilotSubmissionPlotter for monitoring
  docs/source/AdministratorGuide/Systems/MonitoringSystem/index.rst
  src/DIRAC/MonitoringSystem/private/Plotters/PilotSubmissionMonitoringPlotter.py
Labels: alsoTargeting:integration

#6427 [sweep:v8r0] Update InstallingDiracServer.rst
  docs/source/AdministratorGuide/ServerInstallations/InstallingDiracServer.rst
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#6421 [8.0] removed last bits of the Framework/Monitoring
  docs/docs.conf
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Framework/Services/Monitoring/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Framework/Services/Plotting/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Framework/Services/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Framework/URLs/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Tips/ServicesPorts/index.rst
  docs/source/AdministratorGuide/ServerInstallations/scalingAndLimitations.rst
  src/DIRAC/Core/scripts/install_full.cfg
  src/DIRAC/FrameworkSystem/ConfigTemplate.cfg
  src/DIRAC/FrameworkSystem/Service/PlotCache.py
  tests/Jenkins/utilities.sh
Labels: alsoTargeting:integration

#6428 [sweep:integration] Fix MySQL Optimizer and dont start JobAgent for integration tests
  src/DIRAC/Core/Utilities/MySQL.py
  tests/Jenkins/utilities.sh
Labels: sweep:from rel-v8r0

#6420 [8.0] Remove dirac-install saga
  Core/scripts/dirac-install.py
  README.rst
  setup.cfg
  src/DIRAC/Core/scripts/install_site.sh
Labels: alsoTargeting:integration

#6417 [8.0] fix: removed unused SubmissionMode CE parameter
  dirac.cfg
  docs/source/AdministratorGuide/Resources/computingelements.rst
  src/DIRAC/ConfigurationSystem/Client/Helpers/Resources.py
  src/DIRAC/ConfigurationSystem/Client/Utilities.py
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: alsoTargeting:integration

#6422 [v7r3] fix: WMSUtilities.killPilotsInQueues have a consistent return value
  src/DIRAC/WorkloadManagementSystem/Service/PilotManagerHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/WMSUtilities.py
Labels: alsoTargeting:rel-v8r0

#6435 [sweep:v8r0] fix: WMSUtilities.killPilotsInQueues have a consistent return value
  src/DIRAC/WorkloadManagementSystem/Service/PilotManagerHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/WMSUtilities.py
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#6078 [8.0] fix: remove warning messages when initializing ElasticDB parameters
  integration_tests.py
  src/DIRAC/ConfigurationSystem/Client/Utilities.py
  src/DIRAC/Core/Base/ElasticDB.py
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/Core/Utilities/ServerUtils.py
  src/DIRAC/MonitoringSystem/Client/ServerUtils.py
  src/DIRAC/WorkloadManagementSystem/Client/ServerUtils.py
  tests/CI/docker-compose.yml
  tests/CI/envs/elasticsearch:7.9.1.env
  tests/Integration/Core/Test_ElasticsearchDB.py
  tests/Jenkins/dirac_ci.sh
  tests/Jenkins/install.cfg
Labels: alsoTargeting:integration

#6443 [8.0] Add pyupgrade to pre-commit
  .pre-commit-config.yaml
  docs/diracdoctools/CustomizedDocs/CustomClient.py
  src/DIRAC/ConfigurationSystem/private/Modificator.py
  src/DIRAC/Core/Security/Properties.py
  src/DIRAC/Core/Utilities/MySQL.py
  src/DIRAC/Core/Utilities/ReturnValues.py
  src/DIRAC/Core/scripts/dirac_configure.py
  src/DIRAC/DataManagementSystem/Client/FTS3Job.py
  src/DIRAC/FrameworkSystem/Client/ComponentInstaller.py
  src/DIRAC/FrameworkSystem/private/authorization/utils/Tokens.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/HTCondorResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/LSFResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/MJFResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/PBSResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/ResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/SGEResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/SLURMResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/TimeLeft.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/test/Test_LSFResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/test/Test_PBSResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/test/Test_TimeLeft.py
  src/DIRAC/Resources/Computing/BatchSystems/test/Test_SLURM.py
  src/DIRAC/Resources/Storage/OccupancyPlugins/WLCGAccountingHTTPJson.py
  src/DIRAC/Workflow/Modules/Script.py
  src/DIRAC/WorkloadManagementSystem/Agent/PilotSyncAgent.py
  src/DIRAC/WorkloadManagementSystem/scripts/dirac_admin_sync_pilot.py
  src/DIRAC/tests/Utilities/testJobDefinitions.py
  tests/System/StorageTests/Test_Resources_StorageElement.py
Labels: alsoTargeting:integration

#6442 [8.0] Add mypy CI job
  .github/workflows/basic.yml
  environment.yml
  pyproject.toml
  src/DIRAC/Core/Security/Properties.py
Labels: alsoTargeting:integration

#6445 [8.0] Only use X- headers if /WebApp/Balancer is defined
  src/DIRAC/Core/Tornado/Server/private/BaseRequestHandler.py
Labels: alsoTargeting:integration

#6449 [sweep:integration] Add pyupgrade to pre-commit
  .pre-commit-config.yaml
  docs/diracdoctools/CustomizedDocs/CustomClient.py
  src/DIRAC/ConfigurationSystem/private/Modificator.py
  src/DIRAC/Core/Security/Properties.py
  src/DIRAC/Core/Utilities/MySQL.py
  src/DIRAC/Core/Utilities/ReturnValues.py
  src/DIRAC/Core/scripts/dirac_configure.py
  src/DIRAC/DataManagementSystem/Client/FTS3Job.py
  src/DIRAC/FrameworkSystem/Client/ComponentInstaller.py
  src/DIRAC/FrameworkSystem/private/authorization/utils/Tokens.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/HTCondorResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/LSFResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/MJFResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/PBSResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/ResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/SGEResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/SLURMResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/test/Test_LSFResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/test/Test_PBSResourceUsage.py
  src/DIRAC/Resources/Computing/BatchSystems/test/Test_SLURM.py
  src/DIRAC/Resources/Storage/OccupancyPlugins/WLCGAccountingHTTPJson.py
  src/DIRAC/Workflow/Modules/Script.py
  src/DIRAC/WorkloadManagementSystem/Agent/PilotSyncAgent.py
  src/DIRAC/WorkloadManagementSystem/Utilities/JobStatusUtility.py
  src/DIRAC/WorkloadManagementSystem/scripts/dirac_admin_sync_pilot.py
  src/DIRAC/tests/Utilities/testJobDefinitions.py
  tests/System/StorageTests/Test_Resources_StorageElement.py
Labels: sweep:from rel-v8r0

#6129 [8.0] feat: launching optimizers in the integration environment
  src/DIRAC/WorkloadManagementSystem/Executor/Base/OptimizerExecutor.py
  src/DIRAC/WorkloadManagementSystem/Executor/test/Test_Executor.py
  src/DIRAC/WorkloadManagementSystem/Service/JobMonitoringHandler.py
  tests/Integration/Framework/Test_UserProfileClient.py
  tests/Integration/WorkloadManagementSystem/Test_Client_WMS.py
  tests/Integration/WorkloadManagementSystem/Test_JobCleaningAgent.py
  tests/Integration/WorkloadManagementSystem/Test_JobParameters_MySQLandES.py
  tests/Integration/all_integration_client_tests.sh
  tests/Integration/all_integration_server_tests.sh
  tests/Jenkins/dirac-cfg-update-server.py
  tests/Jenkins/dirac_ci.sh
  tests/Jenkins/install.cfg
  tests/Jenkins/utilities.sh
Labels: alsoTargeting:integration

#6456 [v8r0] Fix Command Documentation Section Title
  docs/diracdoctools/cmd/commandReference.py
Labels: alsoTargeting:integration

#6458 [v8] fail when command documentation does not build, fix for importlib_metadata v5
  docs/diracdoctools/cmd/commandReference.py
  docs/source/conf.py
  src/DIRAC/Core/Base/Script.py
Labels: alsoTargeting:integration

#6454 [sweep:integration] feat: launching optimizers in the integration environment
  src/DIRAC/WorkloadManagementSystem/Client/JobState/CachedJobState.py
  src/DIRAC/WorkloadManagementSystem/Executor/Base/OptimizerExecutor.py
  src/DIRAC/WorkloadManagementSystem/Executor/test/Test_Executor.py
  src/DIRAC/WorkloadManagementSystem/Service/JobMonitoringHandler.py
  tests/Integration/Framework/Test_UserProfileClient.py
  tests/Integration/WorkloadManagementSystem/Test_Client_WMS.py
  tests/Integration/WorkloadManagementSystem/Test_JobCleaningAgent.py
  tests/Integration/WorkloadManagementSystem/Test_JobParameters_MySQLandES.py
  tests/Integration/all_integration_client_tests.sh
  tests/Integration/all_integration_server_tests.sh
  tests/Jenkins/dirac-cfg-update-server.py
  tests/Jenkins/dirac_ci.sh
  tests/Jenkins/install.cfg
  tests/Jenkins/utilities.sh
Labels: sweep:from rel-v8r0
