Repository DIRACGrid/DIRAC, pull requests merged in 2022-01, with the labels that each got.

#5741 [v7r3] Replace DISET.TransferClient with ClientSelector
  src/DIRAC/AccountingSystem/Client/ReportsClient.py
  src/DIRAC/FrameworkSystem/Client/BundleDeliveryClient.py
  src/DIRAC/FrameworkSystem/Client/PlottingClient.py
  src/DIRAC/Resources/Storage/DIPStorage.py
  src/DIRAC/Resources/Storage/ProxyStorage.py
  src/DIRAC/WorkloadManagementSystem/Client/SandboxStoreClient.py
  tests/Integration/Monitoring/Test_MonitoringSystem.py
Labels: alsoTargeting:integration

#5761 [v7r3] Replace RPCClient with Client
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingAgents/index.rst
  docs/source/DeveloperGuide/WebAppDIRAC/DevelopWebApp/index.rst
  src/DIRAC/AccountingSystem/Client/Types/BaseAccountingType.py
  src/DIRAC/AccountingSystem/Service/DataStoreHandler.py
  src/DIRAC/FrameworkSystem/Client/MonitoringClient.py
  src/DIRAC/FrameworkSystem/Client/PlottingClient.py
  src/DIRAC/FrameworkSystem/Client/ProxyManagerClient.py
  src/DIRAC/FrameworkSystem/Client/SecurityLogClient.py
  src/DIRAC/FrameworkSystem/Client/UserProfileClient.py
  src/DIRAC/FrameworkSystem/scripts/dirac_proxy_destroy.py
  src/DIRAC/Interfaces/API/Dirac.py
  src/DIRAC/Interfaces/scripts/dirac_framework_self_ping.py
  src/DIRAC/MonitoringSystem/Client/ServerUtils.py
  src/DIRAC/RequestManagementSystem/Service/ReqProxyHandler.py
  src/DIRAC/ResourceStatusSystem/Command/AccountingCacheCommand.py
  src/DIRAC/ResourceStatusSystem/Command/VOBOXAvailabilityCommand.py
  src/DIRAC/ResourceStatusSystem/Command/test/Test_RSS_Command_VOBOXAvailabilityCommand.py
  src/DIRAC/ResourceStatusSystem/Service/ResourceManagementHandler.py
  src/DIRAC/ResourceStatusSystem/Service/ResourceStatusHandler.py
  src/DIRAC/Resources/Catalog/FileCatalogProxyClient.py
  src/DIRAC/Resources/Storage/DIPStorage.py
  src/DIRAC/Resources/Storage/ProxyStorage.py
  src/DIRAC/StorageManagementSystem/Agent/RequestFinalizationAgent.py
  src/DIRAC/WorkloadManagementSystem/Client/SandboxStoreClient.py
  src/DIRAC/WorkloadManagementSystem/Client/ServerUtils.py
  tests/Integration/WorkloadManagementSystem/Test_VirtualMachineManagerClient.py
  tests/Performance/Service/test_scripts/service.py
Labels: alsoTargeting:integration

#5755 [v7r3] Allow to specify input protocol in the CS
  dirac.cfg
  docs/source/AdministratorGuide/Resources/storage.rst
  src/DIRAC/Resources/Storage/GFAL2_XROOTStorage.py
  src/DIRAC/Resources/Storage/StorageBase.py
Labels: alsoTargeting:integration

#5716 [v7r3] SingularityComputingElement: install python3 version
  docs/source/AdministratorGuide/Configuration/ConfReference/Resources/Computing/index.rst
  src/DIRAC/Resources/Cloud/cloudinit.template
  src/DIRAC/Resources/Computing/SingularityComputingElement.py
  tests/Integration/Resources/Computing/Test_SingularityCE.py
  tests/Integration/all_integration_client_tests.sh
  tests/Integration/all_integration_server_tests.sh
Labels: alsoTargeting:integration

#5752 [v7r3] DIRAC APIs check if a JobState transition is allowed
  src/DIRAC/Interfaces/API/Dirac.py
  src/DIRAC/WorkloadManagementSystem/Client/JobStatus.py
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
Labels: alsoTargeting:integration

#5753 [v7r3] dirac_production_runjoblocal.py: moved to py3 Pilot install
  src/DIRAC/TransformationSystem/scripts/dirac_production_runjoblocal.py
Labels: alsoTargeting:integration

#5780 [v7r2] Fix mocking of psutil
  src/DIRAC/FrameworkSystem/Agent/test/Test_ComponentSupervisionAgent.py
Labels: alsoTargeting:rel-v7r3

#5774 [sweep:integration] SingularityComputingElement: install python3 version
  docs/source/AdministratorGuide/Configuration/ConfReference/Resources/Computing/index.rst
  src/DIRAC/Resources/Cloud/cloudinit.template
  src/DIRAC/Resources/Computing/SingularityComputingElement.py
  tests/Integration/all_integration_client_tests.sh
  tests/Integration/all_integration_server_tests.sh
Labels: sweep:from rel-v7r3

#5772 [sweep:integration] DIRAC APIs check if a JobState transition is allowed
  src/DIRAC/Interfaces/API/Dirac.py
  src/DIRAC/WorkloadManagementSystem/Client/JobStatus.py
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
Labels: sweep:from rel-v7r3

#5779 [v7r3] Restore task state "Scheduled"
  src/DIRAC/TransformationSystem/Service/TransformationManagerHandler.py
Labels: alsoTargeting:integration

#5776 [v7r2] Fix pickle error in dirac-dms-directory-sync
  src/DIRAC/DataManagementSystem/scripts/dirac_dms_directory_sync.py
Labels: alsoTargeting:rel-v7r3

#5764 [sweep:integration] Replace RPCClient with Client
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingAgents/index.rst
  docs/source/DeveloperGuide/WebAppDIRAC/DevelopWebApp/index.rst
  src/DIRAC/AccountingSystem/Client/Types/BaseAccountingType.py
  src/DIRAC/AccountingSystem/Service/DataStoreHandler.py
  src/DIRAC/Core/Tornado/Client/private/TornadoBaseClient.py
  src/DIRAC/FrameworkSystem/Client/MonitoringClient.py
  src/DIRAC/FrameworkSystem/Client/PlottingClient.py
  src/DIRAC/FrameworkSystem/Client/ProxyManagerClient.py
  src/DIRAC/FrameworkSystem/Client/SecurityLogClient.py
  src/DIRAC/FrameworkSystem/Client/UserProfileClient.py
  src/DIRAC/FrameworkSystem/scripts/dirac_proxy_destroy.py
  src/DIRAC/Interfaces/API/Dirac.py
  src/DIRAC/Interfaces/scripts/dirac_framework_self_ping.py
  src/DIRAC/MonitoringSystem/Client/ServerUtils.py
  src/DIRAC/RequestManagementSystem/Service/ReqProxyHandler.py
  src/DIRAC/ResourceStatusSystem/Command/AccountingCacheCommand.py
  src/DIRAC/ResourceStatusSystem/Command/VOBOXAvailabilityCommand.py
  src/DIRAC/ResourceStatusSystem/Command/test/Test_RSS_Command_VOBOXAvailabilityCommand.py
  src/DIRAC/ResourceStatusSystem/Service/ResourceManagementHandler.py
  src/DIRAC/ResourceStatusSystem/Service/ResourceStatusHandler.py
  src/DIRAC/Resources/Catalog/FileCatalogProxyClient.py
  src/DIRAC/Resources/Storage/DIPStorage.py
  src/DIRAC/Resources/Storage/ProxyStorage.py
  src/DIRAC/StorageManagementSystem/Agent/RequestFinalizationAgent.py
  src/DIRAC/WorkloadManagementSystem/Client/SandboxStoreClient.py
  src/DIRAC/WorkloadManagementSystem/Client/ServerUtils.py
  tests/Integration/WorkloadManagementSystem/Test_VirtualMachineManagerClient.py
  tests/Performance/Service/test_scripts/service.py
Labels: sweep:from rel-v7r3

#5786 [v7r2] Fix dirac-dms-directory-sync for macOS
  src/DIRAC/DataManagementSystem/scripts/dirac_dms_directory_sync.py
Labels: alsoTargeting:rel-v7r3

#5790 [sweep:v7r3] Fix pickle error in dirac-dms-directory-sync
  src/DIRAC/DataManagementSystem/scripts/dirac_dms_directory_sync.py
Labels: alsoTargeting:integration, sweep:from rel-v7r2

#5719 [v7r3] Fix setJobStatus service
  src/DIRAC/WorkloadManagementSystem/Agent/PilotStatusAgent.py
  src/DIRAC/WorkloadManagementSystem/ConfigTemplate.cfg
  src/DIRAC/WorkloadManagementSystem/Service/JobStateUpdateHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/tests/Test_JobStateUpdate.py
Labels: alsoTargeting:integration

#5793 [sweep:integration] Fix setJobStatus service
  src/DIRAC/WorkloadManagementSystem/Agent/PilotStatusAgent.py
  src/DIRAC/WorkloadManagementSystem/ConfigTemplate.cfg
  src/DIRAC/WorkloadManagementSystem/Service/JobStateUpdateHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/tests/Test_JobStateUpdate.py
Labels: sweep:from rel-v7r3

#5805 [v7r2] Backport readthedocs configuration changes
  .readthedocs.yaml
Labels: sweep:ignore

#5806 [v7r3] Backport readthedocs configuration changes
  .readthedocs.yaml
Labels: sweep:ignore

#5815 [v7r3] Fix Job Status state machine
  src/DIRAC/WorkloadManagementSystem/Client/JobStatus.py
Labels: alsoTargeting:integration

#5814 [v7r3] fix (API): checkJobStateTransition needs a single jobID
  src/DIRAC/Interfaces/API/Dirac.py
Labels: alsoTargeting:integration

#5813 [v7r3] feat(wms): enable logs from db12 in dirac-wms-cpu-normalization
  src/DIRAC/WorkloadManagementSystem/scripts/dirac_wms_cpu_normalization.py
Labels: alsoTargeting:integration

#5812 [v7r3] change doc installing dirac server
  docs/source/AdministratorGuide/ServerInstallations/InstallingDiracServer.rst
Labels: alsoTargeting:integration

#5827 [v7r2] fix: (backport) fix Matcher understanding of tags
  src/DIRAC/WorkloadManagementSystem/Client/Matcher.py
Labels: sweep:ignore

#5811 [v7r2] JEncode bytes
  src/DIRAC/Core/Utilities/JEncode.py
  src/DIRAC/Core/Utilities/test/Test_Encode.py
Labels: alsoTargeting:rel-v7r3

#5760 [v7r3] added a flag for disabling the use of SecurityLogging service
  dirac.cfg
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Framework/Services/SecurityLogging/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Framework/Services/index.rst
  docs/source/AdministratorGuide/ServerInstallations/centralizedLogging.rst
  src/DIRAC/Core/DISET/private/Service.py
  src/DIRAC/FrameworkSystem/ConfigTemplate.cfg
  src/DIRAC/FrameworkSystem/Service/SecurityLoggingHandler.py
Labels: alsoTargeting:integration

#5836 [sweep:integration] added a flag for disabling the use of SecurityLogging service
  dirac.cfg
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Framework/Services/SecurityLogging/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Framework/Services/index.rst
  docs/source/AdministratorGuide/ServerInstallations/centralizedLogging.rst
  src/DIRAC/Core/DISET/private/Service.py
  src/DIRAC/FrameworkSystem/ConfigTemplate.cfg
  src/DIRAC/FrameworkSystem/Service/SecurityLoggingHandler.py
Labels: sweep:from rel-v7r3

#5833 [sweep:integration] JEncode bytes
  src/DIRAC/Core/Utilities/JEncode.py
  src/DIRAC/Core/Utilities/test/Test_Encode.py
  src/DIRAC/TransformationSystem/DB/TransformationDB.py
Labels: sweep:from rel-v7r3

#5839 [v7r3] VOMS2CS: update correctly CAs for users with multiple DNs
  src/DIRAC/ConfigurationSystem/Client/VOMS2CSSynchronizer.py
Labels: alsoTargeting:integration
