Repository DIRACGrid/DIRAC, pull requests merged in 2022-11, with the labels that each got.

#6468 [v7r3] fix: quoting the password for special characters
  cas.pem
  src/DIRAC/Core/Base/SQLAlchemyDB.py
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/FrameworkSystem/DB/InstalledComponentsDB.py
Labels: alsoTargeting:rel-v8r0

#6469 [v7r3] reduce the PollingTime of JobAgent to 20s
  src/DIRAC/WorkloadManagementSystem/ConfigTemplate.cfg
Labels: alsoTargeting:rel-v8r0

#6477 [v7r3] backported ElasticJobParametersDB from rel-v8r0 branch
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/Core/Utilities/Time.py
  src/DIRAC/WorkloadManagementSystem/DB/ElasticJobParametersDB.py
  src/DIRAC/WorkloadManagementSystem/Service/JobMonitoringHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/JobStateUpdateHandler.py
  tests/Integration/WorkloadManagementSystem/Test_Client_WMS.py
  tests/Integration/WorkloadManagementSystem/Test_ElasticJobParametersDB.py
  tests/Integration/WorkloadManagementSystem/Test_JobParameters_MySQLandES.py
Labels: sweep:ignore, alsoTargeting:rel-v8r0

#5542 [rel-v7r2]: WIP : First version of AREX computing element
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:rel-v7r3

#6483 [sweep:v7r3] First version of AREX computing element
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: sweep:from rel-v7r2, alsoTargeting:rel-v8r0

#6485 [sweep:v8r0] First version of AREX computing element
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#6486 [8.0] fix (wms): additional fixes for the PushJobAgent
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/JobWrapper.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/test/Test_JobWrapper.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/test/jobDescription.xml
Labels: alsoTargeting:integration

#6489 [sweep:integration] fix (wms): additional fixes for the PushJobAgent
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/JobWrapper.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/test/Test_JobWrapper.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/test/jobDescription.xml
Labels: sweep:from rel-v8r0

#6498 [v8r0] Fix running tests with Python 3.11
  src/DIRAC/RequestManagementSystem/private/test/Test_OperationHandlerBase.py
  src/DIRAC/RequestManagementSystem/private/test/Test_RequestTask.py
Labels: alsoTargeting:integration

#6499 [v7r3] Fix running tests with Python 3.11
  src/DIRAC/RequestManagementSystem/private/test/RequestTaskTests.py
Labels: sweep:ignore, alsoTargeting:rel-v8r0

#6502 [v7r3] feat: add network selection to CloudCE
  src/DIRAC/Resources/Computing/CloudComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6507 docs: added link to CloudComputingElement documentation in AdminGuide
  docs/source/AdministratorGuide/Resources/computingelements.rst
Labels: alsoTargeting:rel-v8r0

#6481 [8.0] Bug fixes, and minor style fixes for ES
  src/DIRAC/Core/Security/VOMS.py
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/Core/Utilities/Graphs/GraphData.py
  src/DIRAC/Core/Workflow/Parameter.py
  src/DIRAC/DataManagementSystem/Agent/RequestOperations/test/Test_ArchiveFiles.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/FileMetadata/FileMetadata.py
  src/DIRAC/DataManagementSystem/scripts/dirac_dms_directory_sync.py
  src/DIRAC/FrameworkSystem/scripts/dirac_proxy_destroy.py
  src/DIRAC/Interfaces/scripts/dirac_admin_sync_users_from_file.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/LSFResourceUsage.py
  src/DIRAC/Resources/Storage/StorageElement.py
  src/DIRAC/Resources/Storage/StorageFactory.py
  src/DIRAC/WorkloadManagementSystem/DB/ElasticJobParametersDB.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/JobWrapper.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/Watchdog.py
  tests/Integration/Core/Test_ElasticsearchDB.py
Labels: alsoTargeting:integration

#6500 [8.0] RSS fix: understand also real URLs
  src/DIRAC/Core/LCG/GOCDBClient.py
  src/DIRAC/Core/LCG/test/Test_LCG.py
Labels: alsoTargeting:integration

#6514 [v7r3] Ensure CPUNormalization is float
  src/DIRAC/WorkloadManagementSystem/JobWrapper/JobWrapper.py
Labels: alsoTargeting:rel-v8r0

#6518 fix: don't fail silently if directory not found
  src/DIRAC/DataManagementSystem/Client/FileCatalogClientCLI.py
Labels: alsoTargeting:rel-v8r0

#6520 [v8.0] fix (wms): hackathon fix JobDB
  src/DIRAC/WorkloadManagementSystem/Agent/JobCleaningAgent.py
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
Labels: alsoTargeting:integration

#6516 [v7r3] Support using ARC that was compiled against SWIG 4.1+
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6509 [v7r2] fix (resources): a few fixes related to ARC
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:rel-v7r3

#6526 [sweep:v7r3] fix (resources): a few fixes related to ARC
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6528 sweep: #6518 fix: don't fail silently if directory not found
  src/DIRAC/DataManagementSystem/Client/FileCatalogClientCLI.py
Labels: alsoTargeting:integration

#6536 [8.0] style: run pyupgrade on ARC CEs
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:integration

#6537 [v8r0] fix (core): chainAsText not referenced before assignment
  src/DIRAC/Core/Tornado/Server/private/BaseRequestHandler.py
Labels: alsoTargeting:integration

#6535 [v7r3] fix (resources): AREX CE further fixes
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:rel-v7r3

#6539 [v7r3] fix (resources): SLURM multi-node allocations
  src/DIRAC/Resources/Computing/BatchSystems/SLURM.py
  src/DIRAC/Resources/Computing/BatchSystems/test/Test_SLURM.py
Labels: alsoTargeting:rel-v8r0

#6552 [8.0] integration tests: simplifying finding release
  integration_tests.py
  tests/CI/install_client.sh
  tests/Jenkins/dirac_ci.sh
  tests/Jenkins/utilities.sh
Labels: alsoTargeting:integration

#6547 [8.0] test: fix: use dirac-admin-get-proxy
  pytest.ini
  src/DIRAC/Core/Base/Script.py
  src/DIRAC/__init__.py
  src/DIRAC/tests/Workflow/Integration/exe-script.py
  tests/Integration/WorkloadManagementSystem/Test_SandboxStoreClient.py
  tests/Integration/WorkloadManagementSystem/exe-script.py
  tests/Integration/WorkloadManagementSystem/inputsandbox/exe-script.py
  tests/Jenkins/dirac-proxy-download.py
  tests/Jenkins/dirac-test-job.py
  tests/Jenkins/utilities.sh
Labels: alsoTargeting:integration

#6551 [sweep:v8r0] fix (resources): AREX CE further fixes
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:integration

#6529 [8.0] test: add system/rms_script.sh
  tests/System/client_core.sh
  tests/System/client_dms.sh
  tests/System/client_multivo.sh
  tests/System/client_scripts.sh
  tests/System/rms_scripts.sh
  tests/System/rss_scripts.sh
  tests/System/transformationSystem.sh
  tests/System/transformation_replication.sh
  tests/System/wms_scripts.sh
Labels: alsoTargeting:integration

#6570 [8.0] test: ProcessCreator_withChildern less hungry
  src/DIRAC/tests/Utilities/ProcessesCreator_withChildren.py
Labels: alsoTargeting:integration

#6574 [8.0] test: disable a rather flaky assertion
  src/DIRAC/tests/Utilities/ProcessesCreator_withChildren.py
  tests/Integration/WorkloadManagementSystem/Test_Client_WMS.py
Labels: alsoTargeting:integration

#6555 [8.0] feat(BDII2CSAgent): allow using AREX or ARC6 CEs instead of ARC (fixes #6541)
  src/DIRAC/ConfigurationSystem/Client/Utilities.py
  src/DIRAC/Core/Utilities/Glue2.py
Labels: alsoTargeting:integration

#6584 [v7r3] feat (resources): further fixes for the AREXCE
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/tests/Utilities/ProcessesCreator_withChildren.py
Labels: alsoTargeting:rel-v8r0

#6402 [v7r3] Don't write SQL when drunk
  src/DIRAC/DataManagementSystem/DB/FileCatalogWithFkAndPsDB.sql
Labels: alsoTargeting:rel-v8r0

#6593 [sweep:v8r0] feat (resources): further fixes for the AREXCE
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#6595 [sweep:integration] feat (resources): further fixes for the AREXCE
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: sweep:from rel-v8r0
