Repository DIRACGrid/DIRAC, pull requests merged in 2022-06, with the labels that each got.

#6132 [sweep:integration] Fixes for tornado logging
  src/DIRAC/Core/Tornado/Client/ClientSelector.py
  src/DIRAC/Core/Tornado/Server/private/BaseRequestHandler.py
Labels: sweep:from rel-v7r3

#6145 [v7r3] fix userData format for creating VMs from Cloud resources
  src/DIRAC/Resources/Cloud/Utilities.py
Labels: alsoTargeting:integration

#6090 [v7r3] docs: add info on installing non-released code from within the pilot
  docs/source/AdministratorGuide/Systems/WorkloadManagement/Pilots/Pilots3.rst
Labels: alsoTargeting:integration

#6152 [v7r3] Backport: Replace deprecated threading.activeCount with active_count
  src/DIRAC/Core/DISET/private/Service.py
Labels: alsoTargeting:integration, sweep:ignore

#6153 [v7r2] Backport: Replace deprecated threading.activeCount with active_count
  src/DIRAC/Core/DISET/private/Service.py
Labels: alsoTargeting:rel-v7r3, sweep:ignore

#6133 [v7r3] fix: use the JobMonitoringClient to check for job parameters (that ca…
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
Labels: alsoTargeting:integration

#6162 [sweep:integration] fix: use the JobMonitoringClient to check for job parameters (that ca…
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
Labels: sweep:from rel-v7r3

#6155 [v7r3] replaced old vomses/vomsdir code to be able to handle cvmfs vomses
  src/DIRAC/Core/Security/VOMS.py
Labels: alsoTargeting:integration

#6148 [v7r3] feat: add option to automatically cancel Scheduled requests
  src/DIRAC/RequestManagementSystem/Agent/CleanReqDBAgent.py
  src/DIRAC/RequestManagementSystem/ConfigTemplate.cfg
Labels: alsoTargeting:integration

#6139 [v7r2] feat (resources): introduce a new way to submit pilots from ARC
  src/DIRAC/Core/scripts/dirac_agent.py
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
Labels: alsoTargeting:rel-v7r3

#6187 [v7r3] test (CI): set a max number of files for the dirac containers in docker-compose
  tests/CI/docker-compose.yml
Labels: alsoTargeting:integration

#6199 [v7r3] Backport adapt to stomp 8
  src/DIRAC/Resources/MessageQueue/StompMQConnector.py
Labels: alsoTargeting:integration, sweep:ignore

#6200 [v7r3] Sweep #6202 Allow semantic CI check to accept git-revert commits
  .github/workflows/semantic.yml
Labels: alsoTargeting:integration

#6203 [v7r2] Sweep #6202: Add workaround for labeler ignoring hidden files
  .github/labeler.yml
Labels: sweep:ignore

#6180 [v7r2] fix: address issue 6092 where built-in metakeys were modified for MultiVO
  src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/DirectoryMetadata/MultiVODirectoryMetadata.py
Labels: alsoTargeting:rel-v7r3

#6211 [v7r2] fix: ARC6 CE issues
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
Labels: alsoTargeting:rel-v7r3

#6213 [sweep:v7r3] fix: ARC6 CE issues
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
Labels: alsoTargeting:integration

#6216 [v7r2] fix: ARCCE.getARCJob() becomes protected
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
Labels: alsoTargeting:rel-v7r3

#6223 [v7r2] Increase VOMS command timeout
  src/DIRAC/Core/Security/VOMS.py
Labels: alsoTargeting:rel-v7r3

#6224 [v7r3] Make tmpdir for local cache instead of using CWD when replicating
  src/DIRAC/Interfaces/API/Dirac.py
Labels: alsoTargeting:integration
