Repository DIRACGrid/DIRAC, pull requests merged in 2022-07, with the labels that each got.

#6236 [v7r3] Fix Platform key error in SD when CheckPlatform=True
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: alsoTargeting:integration

#6237 [v7r3] feat (logging): add an stdout Backend with json formatting
  src/DIRAC/FrameworkSystem/private/standardLogging/Formatter/MicrosecondJsonFormatter.py
  src/DIRAC/Resources/LogBackends/MessageQueueBackend.py
  src/DIRAC/Resources/LogBackends/StdoutJsonBackend.py
Labels: alsoTargeting:integration

#6221 [v7r3] Fix dirac-resource-info
  src/DIRAC/Resources/scripts/dirac_resource_info.py
Labels: alsoTargeting:integration, sweep:ignore

#6220 [v7r2] Fix dirac-resource-info
  src/DIRAC/Resources/scripts/dirac_resource_info.py
Labels: alsoTargeting:rel-v7r3, sweep:ignore

#6263 [integration] Fix integration_tests.py for latest release of typer
  integration_tests.py
Labels: sweep:ignore

#6262 [v7r3] Fix integration_tests.py for latest release of typer
  environment.yml
  integration_tests.py
  src/DIRAC/Resources/Catalog/RucioFileCatalogClient.py
Labels: alsoTargeting:integration, sweep:ignore

#6261 [v7r2] Fix integration_tests.py for latest release of typer
  environment.yml
  integration_tests.py
  requirements.txt
Labels: alsoTargeting:rel-v7r3, sweep:ignore

#6265 [v7r2] Fix FC chgrp on multiple LFNs
  src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/FileManager/FileManagerBase.py
Labels: alsoTargeting:rel-v7r3

#6248 [sweep:integration] feat (logging): add an stdout Backend with json formatting
  src/DIRAC/FrameworkSystem/private/standardLogging/Formatter/MicrosecondJsonFormatter.py
  src/DIRAC/Resources/LogBackends/MessageQueueBackend.py
  src/DIRAC/Resources/LogBackends/StdoutJsonBackend.py
Labels: sweep:from rel-v7r3

#6252 [v7r3] Support Site/CE specific container bind mounts
  src/DIRAC/Resources/Computing/SingularityComputingElement.py
Labels: alsoTargeting:integration

#6270 Update link to install.cfg for Python3
  docs/source/AdministratorGuide/ServerInstallations/InstallingDiracServer.rst
Labels: alsoTargeting:integration

#6274 feat (ConditionalFC): ProxyPlugin checks also ThreadConfig
  src/DIRAC/Resources/Catalog/ConditionPlugins/ProxyPlugin.py
Labels: alsoTargeting:integration

#6271 [DOC]Use full path to install.cfg
  docs/source/AdministratorGuide/ServerInstallations/InstallingDiracServer.rst
Labels: alsoTargeting:integration
