Repository DIRACGrid/DIRAC, pull requests merged in 2022-04, with the labels that each got.

#5997 [v7r3] fix (CI): fix click version for black pre-commit hook
  .pre-commit-config.yaml
Labels: sweep:ignore

#5979 [v7r3] fix: StalledJobAgent can force status from Submitting to Failed
  src/DIRAC/WorkloadManagementSystem/Agent/StalledJobAgent.py
  src/DIRAC/WorkloadManagementSystem/DB/ElasticJobParametersDB.py
Labels: alsoTargeting:integration

#6004 [sweep:integration] fix: StalledJobAgent can force status from Submitting to Failed
  src/DIRAC/WorkloadManagementSystem/Agent/StalledJobAgent.py
  src/DIRAC/WorkloadManagementSystem/DB/ElasticJobParametersDB.py
Labels: sweep:from rel-v7r3

#6008 [v7r3] Take the BringOnline timeout from the SE configuration
  dirac.cfg
  docs/source/AdministratorGuide/Resources/storage.rst
  src/DIRAC/DataManagementSystem/Client/FTS3Job.py
Labels: alsoTargeting:integration

#6023 [v7r2] Fix click version for black pre-commit hook
  .pre-commit-config.yaml
Labels: sweep:ignore

#6020 [v7r3] Fix previous fix in RMS
  src/DIRAC/RequestManagementSystem/scripts/dirac_rms_request.py
Labels: alsoTargeting:integration

#6016 [v7r3] Correct docstring for DIRAC._computeRootPath
  src/DIRAC/__init__.py
Labels: alsoTargeting:integration

#6022 [v7r2] Fix utf-8 support in job output for python2
  src/DIRAC/WorkloadManagementSystem/JobWrapper/JobWrapper.py
Labels: alsoTargeting:rel-v7r3

#6010 [v7r3] Added (renewed) jobs and pilot State Machines drawings
  docs/source/AdministratorGuide/Systems/WorkloadManagement/Jobs/index.rst
  docs/source/AdministratorGuide/Systems/WorkloadManagement/Jobs/jobsStateMachine.png
  docs/source/AdministratorGuide/Systems/WorkloadManagement/Pilots/PilotsStateMachine.png
  docs/source/AdministratorGuide/Systems/WorkloadManagement/Pilots/index.rst
Labels: alsoTargeting:integration

#6033 [sweep:integration] Fix previous fix in RMS
  src/DIRAC/RequestManagementSystem/scripts/dirac_rms_request.py
Labels: sweep:from rel-v7r3

#5809 [v7r3] Implement time machine
  dirac.cfg
  docs/source/AdministratorGuide/Resources/storage.rst
  docs/source/AdministratorGuide/Systems/DataManagement/fts3.rst
  src/DIRAC/DataManagementSystem/Client/FTS3Job.py
  src/DIRAC/DataManagementSystem/Client/FTS3Operation.py
  src/DIRAC/DataManagementSystem/Client/test/Test_FTS3Objects.py
  src/DIRAC/DataManagementSystem/DB/test/Test_FTS3DB.py
  src/DIRAC/DataManagementSystem/Utilities/DMSHelpers.py
  src/DIRAC/DataManagementSystem/private/FTS3Plugins/DefaultFTS3Plugin.py
  src/DIRAC/DataManagementSystem/private/FTS3Plugins/test/Test_DefaultFTS3Plugin.py
  src/DIRAC/DataManagementSystem/scripts/dirac_dms_protocol_matrix.py
Labels: alsoTargeting:integration

#6013 [v7r3] fix: use correct environment for condor_rm
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/test/Test_HTCondorCEComputingElement.py
Labels: alsoTargeting:integration

#5988 [v7r3] add CloudComputingElement
  environment-py3.yml
  environment.yml
  setup.cfg
  src/DIRAC/Resources/Computing/CloudComputingElement.py
  src/DIRAC/Resources/Computing/cloudinit.template
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: alsoTargeting:integration

#6038 [sweep:integration] add CloudComputingElement
  environment.yml
  setup.cfg
  src/DIRAC/Resources/Computing/CloudComputingElement.py
  src/DIRAC/Resources/Computing/cloudinit.template
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: sweep:from rel-v7r3

#6039 [sweep:integration] fix: use correct environment for condor_rm
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/test/Test_HTCondorCEComputingElement.py
Labels: sweep:from rel-v7r3

#6040 [sweep:integration] Implement time machine
  dirac.cfg
  docs/source/AdministratorGuide/Resources/storage.rst
  docs/source/AdministratorGuide/Systems/DataManagement/fts3.rst
  src/DIRAC/DataManagementSystem/Client/FTS3Job.py
  src/DIRAC/DataManagementSystem/Client/FTS3Operation.py
  src/DIRAC/DataManagementSystem/Client/test/Test_FTS3Objects.py
  src/DIRAC/DataManagementSystem/DB/test/Test_FTS3DB.py
  src/DIRAC/DataManagementSystem/Utilities/DMSHelpers.py
  src/DIRAC/DataManagementSystem/private/FTS3Plugins/DefaultFTS3Plugin.py
  src/DIRAC/DataManagementSystem/private/FTS3Plugins/test/Test_DefaultFTS3Plugin.py
  src/DIRAC/DataManagementSystem/scripts/dirac_dms_protocol_matrix.py
Labels: sweep:from rel-v7r3

#6054 [v7r3]fix(wms): DIRACBenchmark client typeError
  src/DIRAC/WorkloadManagementSystem/Client/DIRACbenchmark.py
Labels: sweep:ignore

#6048 [v7r3] hackathon fixes
  src/DIRAC/Core/Utilities/MySQL.py
  src/DIRAC/FrameworkSystem/DB/UserProfileDB.py
  src/DIRAC/WorkloadManagementSystem/Service/MatcherHandler.py
Labels: alsoTargeting:integration
