Repository DIRACGrid/DIRAC, pull requests merged in 2022-05, with the labels that each got.

#6059 [v7r3]: use ceType instead of ceName for CE parameters
  src/DIRAC/Resources/Computing/ComputingElement.py
Labels: alsoTargeting:integration

#6045 [v7r2] Don't crash if systemCall fails
  src/DIRAC/Workflow/Modules/Script.py
Labels: alsoTargeting:integration

#6065 [sweep:integration] Don't crash if systemCall fails
  src/DIRAC/Workflow/Modules/Script.py
Labels: sweep:from rel-v7r3

#5987 [v7r2] added op_type option in elasticsearch options
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
Labels: alsoTargeting:rel-v7r3

#6068 [v7r2] Fix CI due to bad PR merge
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
Labels: alsoTargeting:rel-v7r3, sweep:ignore

#6082 [v7r3] fix: autodetect cvmfs proxy in default cloudce template
  src/DIRAC/Resources/Computing/cloudinit.template
Labels: alsoTargeting:integration

#6094 [sweep:integration] added op_type option in elasticsearch options
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
Labels: sweep:from master

#6095 [sweep:integration] fix: use ceType instead of ceName for CE parameters version 2
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/ComputingElement.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/InProcessComputingElement.py
  src/DIRAC/Resources/Computing/LocalComputingElement.py
  src/DIRAC/Resources/Computing/PoolComputingElement.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
  src/DIRAC/Resources/Computing/SudoComputingElement.py
Labels: sweep:from rel-v7r3

#6099 [v7r2] Avoid producing massive log output in OptimizationMind
  src/DIRAC/Core/Utilities/ExecutorDispatcher.py
Labels: alsoTargeting:rel-v7r3, sweep:ignore

#6100 [v7r3] fix: use identity instead of subject of proxy in CloudCE
  src/DIRAC/Resources/Computing/CloudComputingElement.py
Labels: alsoTargeting:integration

#6105 [v7r3] CloudEndpoint fix: Error in the condition to get FlavorName
  src/DIRAC/Resources/Cloud/CloudEndpoint.py
Labels: alsoTargeting:integration

#6118 [v7r3] fix: don't truncate first char in cli doc strings
  src/DIRAC/Core/Base/CLI.py
Labels: alsoTargeting:integration

#6123 [v7r3] Fixes for tornado logging
  src/DIRAC/Core/Tornado/Client/ClientSelector.py
  src/DIRAC/Core/Tornado/Server/TornadoService.py
Labels: alsoTargeting:integration
