Repository DIRACGrid/DIRAC, pull requests merged in 2022-12, with the labels that each got.

#6596 [8.0] Fixes for HTCondorCE
  src/DIRAC/ResourceStatusSystem/Command/DowntimeCommand.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/test/Test_HTCondorCEComputingElement.py
Labels: alsoTargeting:integration

#6608 [sweep:integration] Fixes for HTCondorCE
  src/DIRAC/ResourceStatusSystem/Command/DowntimeCommand.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/test/Test_HTCondorCEComputingElement.py
Labels: sweep:from rel-v8r0

#6613 [sweep:v8r0] fix stager wakeupOldRequests
  src/DIRAC/StorageManagementSystem/DB/StorageManagementDB.py
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#6583 [8.0] Fix: encoding proxy in PilotWrapper
  src/DIRAC/Resources/Computing/SSHBatchComputingElement.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/Utilities/PilotWrapper.py
Labels: alsoTargeting:integration

#6619 [sweep:v8r0] fix(resources): convert arc to dirac job ids in AREXCE
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: sweep:from rel-v7r3

#6627 [8.0] Fix possible transition steps for productions
  src/DIRAC/ProductionSystem/Utilities/StateMachine.py
Labels: alsoTargeting:integration

#6624 [v7r3] fix (resources): SSHCE getJobOutput
  src/DIRAC/Resources/Computing/BatchSystems/SLURM.py
  src/DIRAC/Resources/Computing/BatchSystems/test/Test_SLURM.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6623 [v7r3] Fix race condition in TransformationDB.__addDataFiles
  src/DIRAC/TransformationSystem/DB/TransformationDB.py
Labels: alsoTargeting:rel-v8r0

#6632 [v7r3] dirac-admin-add-host fix for long option names
  src/DIRAC/Interfaces/scripts/dirac_admin_add_host.py
Labels: alsoTargeting:rel-v8r0

#6637 [8.0] Fix running with OpenSSL 3
  environment.yml
  src/DIRAC/Core/Security/VOMS.py
  src/DIRAC/Core/Security/m2crypto/X509Certificate.py
  src/DIRAC/Core/Security/m2crypto/X509Chain.py
  tests/Integration/Framework/Test_ProxyDB.py
Labels: alsoTargeting:integration

#6640 [v8.0] OpenSSL 3.0 follow up
  src/DIRAC/Core/Security/m2crypto/X509Certificate.py
  src/DIRAC/Core/Security/m2crypto/X509Chain.py
  src/DIRAC/Core/Security/test/Test_X509Chain.py
Labels: alsoTargeting:integration

#6641 [v8.0] refactor: remove buggy NTP utility for checking clock shift
  src/DIRAC/Core/Utilities/NTP.py
  src/DIRAC/FrameworkSystem/Client/ProxyGeneration.py
  src/DIRAC/FrameworkSystem/scripts/dirac_login.py
  src/DIRAC/FrameworkSystem/scripts/dirac_proxy_info.py
Labels: alsoTargeting:integration
