Repository DIRACGrid/DIRAC, pull requests merged in 2022-08, with the labels that each got.

#6282 [v7r3] feat: from BLOB to VARCHAR for ReqDB fields
  src/DIRAC/RequestManagementSystem/DB/RequestDB.py
Labels: alsoTargeting:integration, sweep:ignore

#6284 [v7r3] Make GOCDB2CSAgent functionMap less private
  src/DIRAC/ConfigurationSystem/Agent/GOCDB2CSAgent.py
Labels: alsoTargeting:integration

#6305 [v7r3] Don't notify users with expired proxies
  src/DIRAC/FrameworkSystem/DB/ProxyDB.py
Labels: alsoTargeting:integration

#6312 [v7r2] Fix testing against S3Mock
  tests/CI/docker-compose.yml
  tests/Jenkins/dirac-cfg-update-server.py
Labels: alsoTargeting:rel-v7r3

#6303 [v7r3] Return proper error if provider value missing in CloudCE
  src/DIRAC/Resources/Computing/CloudComputingElement.py
Labels: alsoTargeting:integration

#6310 [v7r3] Set HOME in SingularityCE to avoid tmpfs
  src/DIRAC/Resources/Computing/SingularityComputingElement.py
Labels: alsoTargeting:integration

#6319 [v7r3] Forward jobDesc to innerCE in PoolCE
  src/DIRAC/Resources/Computing/PoolComputingElement.py
Labels: alsoTargeting:integration

#6324 [v7r3] Replace suds-jurko with suds
  environment-py3.yml
  setup.cfg
Labels: alsoTargeting:integration, sweep:ignore

#6323 [v7r2] Replace suds-jurko with suds
  environment-py3.yml
  setup.cfg
Labels: alsoTargeting:rel-v7r3, sweep:ignore

#6333 [v7r3] Fix incorrect rendering of code block
  docs/source/UserGuide/GettingStarted/UserJobs/DiracAPI/index.rst
Labels: alsoTargeting:integration

#6304 [v7r3] Handle missing Platform in SD
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: alsoTargeting:integration

#6343 [v7r2] Add suds-jurko-compat to environment-py3.yml
  environment-py3.yml
Labels: alsoTargeting:rel-v7r3, sweep:ignore

#6344 [v7r3] Add suds-jurko-compat to environment-py3.yml
  environment-py3.yml
Labels: alsoTargeting:integration, sweep:ignore

#6028 [v7r3] fix (wms): additional fixes for the PushJobAgent
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/JobWrapper.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/test/Test_JobWrapper.py
  src/DIRAC/WorkloadManagementSystem/JobWrapper/test/jobDescription.xml
Labels: alsoTargeting:integration
