Repository DIRACGrid/DIRAC, pull requests merged in 2022-03, with the labels that each got.

#5917 [v7r2] Add SourceSE filter to RMS ReplicateAndRegister
  src/DIRAC/DataManagementSystem/Agent/RequestOperations/ReplicateAndRegister.py
  src/DIRAC/DataManagementSystem/Agent/RequestOperations/test/Test_CheckMigration.py
  src/DIRAC/RequestManagementSystem/Client/Operation.py
Labels: alsoTargeting:rel-v7r3

#5921 [v7r3] fix (Resources): fix listDirectory for local storage
  src/DIRAC/Resources/Storage/FileStorage.py
  src/DIRAC/Resources/Storage/test/Test_FilePlugin.py
Labels: alsoTargeting:integration

#5910 [v7r3] using a DErrno for no match found
  src/DIRAC/Core/Base/AgentModule.py
  src/DIRAC/Core/Utilities/DErrno.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_JobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Service/MatcherHandler.py
Labels: alsoTargeting:integration

#5936 [v7r3] fix: backport for BLOB->TEXT changes
  src/DIRAC/FrameworkSystem/DB/UserProfileDB.py
Labels: alsoTargeting:integration, sweep:ignore

#5946 [v7r3] Escape Time stamp in JobDB
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
Labels: alsoTargeting:integration

#5950 [sweep:integration] Escape Time stamp in JobDB
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
Labels: sweep:from rel-v7r3

#5948 [v7r3] Revert "moved initialization of monitoring after agent initialize()"
  src/DIRAC/Core/Base/AgentModule.py
Labels: sweep:ignore

#5924 [v7r3] DFC allows to dump more than one SE at the time
  src/DIRAC/Core/Tornado/Server/TornadoService.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/FileManager/FileManagerBase.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/FileManager/FileManagerPs.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogDB.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogWithFkAndPsDB.sql
  src/DIRAC/DataManagementSystem/Service/FileCatalogHandler.py
  src/DIRAC/DataManagementSystem/Service/TornadoFileCatalogHandler.py
  src/DIRAC/Resources/Catalog/FileCatalogClient.py
  tests/Integration/DataManagementSystem/Test_Client_DFC.py
  tests/Integration/DataManagementSystem/Test_FileCatalogDB.py
Labels: alsoTargeting:integration

#5953 [v7r3] Take into account pep-515 for Request names
  src/DIRAC/RequestManagementSystem/scripts/dirac_rms_request.py
Labels: alsoTargeting:integration

#5928 [v7r3] docs: added better docs for JobShare and priorities
  docs/source/AdministratorGuide/Systems/WorkloadManagement/JobsPriorities.rst
  docs/source/AdministratorGuide/Systems/WorkloadManagement/index.rst
  docs/source/DeveloperGuide/Internals/index.rst
  src/DIRAC/Interfaces/API/Job.py
Labels: alsoTargeting:integration

#5969 [sweep:integration] docs: added better docs for JobShare and priorities
  docs/source/AdministratorGuide/Systems/WorkloadManagement/JobsPriorities.rst
  docs/source/AdministratorGuide/Systems/WorkloadManagement/index.rst
  docs/source/DeveloperGuide/Internals/index.rst
Labels: sweep:from rel-v7r3

#5959 [v7r2] fix: update PoolCE.innerCESubmissionType from JobAgent
  src/DIRAC/Resources/Computing/PoolComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
Labels: alsoTargeting:rel-v7r3

#5972 [sweep:v7r3] fix: update PoolCE.innerCESubmissionType from JobAgent
  src/DIRAC/Resources/Computing/PoolComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
Labels: alsoTargeting:integration

#5971 [v7r2] fix: Limit reoccurrences of subprocess unicode error
  src/DIRAC/Core/Utilities/Subprocess.py
Labels: alsoTargeting:rel-v7r3

#5302 [rel-v7r3] MultiVO RucioFileCatalogClient + Agents
  src/DIRAC/ConfigurationSystem/Agent/RucioSynchronizerAgent.py
  src/DIRAC/ResourceStatusSystem/Agent/RucioRSSAgent.py
  src/DIRAC/Resources/Catalog/RucioFileCatalogClient.py
Labels: alsoTargeting:integration

#5957 [v7r3] JobAgent polling time fix
  src/DIRAC/Core/Base/AgentReactor.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
Labels: alsoTargeting:integration

#5967 [v7r3] Fix race condition in FTS3DB.getNonFinishedOperations
  src/DIRAC/DataManagementSystem/Agent/FTS3Agent.py
  src/DIRAC/DataManagementSystem/DB/FTS3DB.py
  src/DIRAC/DataManagementSystem/DB/test/Test_FTS3DB.py
Labels: alsoTargeting:integration

#5977 [v7r3] fix: allow to run Watchdog on non x86 platforms
  src/DIRAC/WorkloadManagementSystem/JobWrapper/Watchdog.py
Labels: alsoTargeting:integration
