Repository DIRACGrid/DIRAC, pull requests merged in 2022-02, with the labels that each got.

#5848 [sweep:integration] WMS DBs: do not try to decode when it's not bytes
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
  src/DIRAC/WorkloadManagementSystem/DB/PilotAgentsDB.py
Labels: sweep:from rel-v7r3

#5861 [v7r2] return standard result in PublisherHandler.getSite
  src/DIRAC/ResourceStatusSystem/Service/PublisherHandler.py
Labels: alsoTargeting:rel-v7r3

#5851 [v7r3] Updates the DFC components description
  docs/source/AdministratorGuide/Systems/DataManagement/dfc.rst
Labels: alsoTargeting:integration

#5852 [v7r3] Added general service configuration options
  docs/source/AdministratorGuide/Configuration/generalConfigOptions.rst
Labels: alsoTargeting:integration

#5871 [v7r3] Decrease log level of insanely verbose message
  src/DIRAC/AccountingSystem/DB/AccountingDB.py
Labels: alsoTargeting:integration

#5850 [v7r3] Better estimate of last sign of life of jobs in web Job Monitor
  src/DIRAC/RequestManagementSystem/Client/ReqClient.py
  src/DIRAC/WorkloadManagementSystem/Client/JobMinorStatus.py
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
  src/DIRAC/WorkloadManagementSystem/Service/JobMonitoringHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/JobStateUpdateHandler.py
Labels: alsoTargeting:integration

#5859 [v7r3] fix (wms): fix and enhance PushJobAgent
  docs/source/AdministratorGuide/Configuration/ConfReference/Operations/JobScheduling/index.rst
  docs/source/AdministratorGuide/Resources/supercomputers.rst
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/ConfigTemplate.cfg
  src/DIRAC/WorkloadManagementSystem/Utilities/QueueUtilities.py
  src/DIRAC/WorkloadManagementSystem/Utilities/RemoteRunner.py
Labels: alsoTargeting:integration

#5869 [v7r3] Show callstack in service logs before cleaning it
  src/DIRAC/Core/DISET/RequestHandler.py
  src/DIRAC/Core/Tornado/Server/TornadoService.py
Labels: alsoTargeting:integration

#5865 [integration] remove unused 'rfc' argument
  src/DIRAC/Core/Security/test/Test_X509Chain.py
  src/DIRAC/FrameworkSystem/Client/ProxyGeneration.py
  src/DIRAC/FrameworkSystem/Client/ProxyManagerClient.py
  src/DIRAC/FrameworkSystem/Client/ProxyUpload.py
  src/DIRAC/FrameworkSystem/Service/ProxyManagerHandler.py
  src/DIRAC/FrameworkSystem/scripts/dirac_proxy_init.py
  tests/Jenkins/utilities.sh
Labels: Framework

#5880 [v7r3] fix: backports to account for use of BLOBs in 8.0
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
Labels: alsoTargeting:integration

#5883 [sweep:integration] Show callstack in service logs before cleaning it
  src/DIRAC/Core/DISET/RequestHandler.py
  src/DIRAC/Core/Tornado/Server/private/BaseRequestHandler.py
Labels: sweep:from rel-v7r3

#5884 [v7r3] fix: added account option to SLURM
  src/DIRAC/Resources/Computing/BatchSystems/SLURM.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
Labels: alsoTargeting:integration

#5895 [sweep:integration] docs: moved docs of ComputingElement to dirac.cfg example
  dirac.cfg
  docs/diracdoctools/cmd/concatcfg.py
  docs/source/AdministratorGuide/Configuration/ConfReference/Operations/Transformations/TransformationPlugins.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Operations/Transformations/Transformations.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Operations/Transformations/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Operations/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Resources/Computing/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Resources/index.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Transformation/Agents/mcextensionagent.rst
  docs/source/AdministratorGuide/Configuration/ConfReference/Systems/Transformation/Agents/transformationagent.rst
  docs/source/AdministratorGuide/Resources/computingelements.rst
  docs/source/AdministratorGuide/ServerInstallations/scalingAndLimitations.rst
  docs/source/AdministratorGuide/Systems/WorkloadManagement/JobsMatching.rst
  docs/source/AdministratorGuide/Systems/WorkloadManagement/index.rst
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
Labels: sweep:from rel-v7r3

#5887 [v7r3] Don't use __RCSID__ when running AgentModule with Python 3
  src/DIRAC/Core/Base/AgentModule.py
Labels: alsoTargeting:integration, sweep:ignore

#5889 [8.0][OAuth 2] fix bugs in TokenManager, AuthServer
  src/DIRAC/FrameworkSystem/API/AuthHandler.py
  src/DIRAC/FrameworkSystem/Client/TokenManagerClient.py
  src/DIRAC/FrameworkSystem/Service/TokenManagerHandler.py
  src/DIRAC/FrameworkSystem/private/authorization/AuthServer.py
  src/DIRAC/Resources/IdProvider/OAuth2IdProvider.py
Labels: Bug

#5905 [v7r2] fix: fixed parsing of tags
  src/DIRAC/WorkloadManagementSystem/Client/Matcher.py
Labels: alsoTargeting:rel-v7r3
