Repository DIRACGrid/DIRAC, pull requests merged in 2022-09, with the labels that each got.

#6348 [v7r3] Allow the default InputDataDirectory to be overridden in LocalSite
  src/DIRAC/WorkloadManagementSystem/Client/InputDataResolution.py
Labels: alsoTargeting:integration

#6326 [v7r2] Backport: Fix using HTTPS with Python 3.10+
  docs/source/AdministratorGuide/ServerInstallations/environment_variable_configuration.rst
  src/DIRAC/Core/Tornado/Client/private/TornadoBaseClient.py
Labels: alsoTargeting:rel-v7r3, sweep:ignore

#6325 [v7r3] Backport: Fix using HTTPS with Python 3.10+ and suppress InsecureRequestWarning
  docs/source/AdministratorGuide/ServerInstallations/environment_variable_configuration.rst
  src/DIRAC/Core/Tornado/Client/private/TornadoBaseClient.py
  src/DIRAC/Core/scripts/dirac_configure.py
Labels: alsoTargeting:integration, sweep:ignore

#6353 [v7r3] Enable VirtualMachineMonitor halt call
  src/DIRAC/WorkloadManagementSystem/Agent/VirtualMachineMonitorAgent.py
Labels: alsoTargeting:integration

#6352 [v7r3] Add a gfal2 context manager as well as a removal timeout for echo
  src/DIRAC/Resources/Storage/EchoStorage.py
  src/DIRAC/Resources/Storage/GFAL2_StorageBase.py
  src/DIRAC/Resources/Storage/test/test_utilities.py
Labels: alsoTargeting:integration

#6357 [sweep:integration] Add a gfal2 context manager as well as a removal timeout for echo
  src/DIRAC/Resources/Storage/EchoStorage.py
  src/DIRAC/Resources/Storage/GFAL2_StorageBase.py
  src/DIRAC/Resources/Storage/test/test_utilities.py
Labels: sweep:from rel-v7r3

#6358 [v7r3] fix (gfal2): specify new directory permissions in octal
  src/DIRAC/Resources/Storage/GFAL2_StorageBase.py
Labels: alsoTargeting:integration

#6340 [v7r3] docs: document input data resolution
  dirac.cfg
  docs/source/AdministratorGuide/Systems/WorkloadManagement/InputDataResolution.rst
  docs/source/AdministratorGuide/Systems/WorkloadManagement/index.rst
  docs/source/UserGuide/GettingStarted/UserJobs/JDLReference/index.rst
Labels: alsoTargeting:integration

#6369 [v7r3] fix the labeler for v8r0
  .github/labeler.yml
Labels: sweep:ignore

#6370 [8.0] fix the labeler for integration
  .github/labeler.yml
Labels: sweep:ignore

#6372 [v7r3]fix (SE): free space can be negative, so set it to 0
  src/DIRAC/Resources/Storage/StorageElement.py
Labels: alsoTargeting:rel-v8r0

#6375 [8.0] Update dependencies in setup.cfg
  environment.yml
  setup.cfg
Labels: alsoTargeting:integration

#6371 [v7r3] cancel the FTS transfers when an RMS request is canceled
  src/DIRAC/DataManagementSystem/Agent/FTS3Agent.py
  src/DIRAC/DataManagementSystem/Client/FTS3Job.py
Labels: alsoTargeting:rel-v8r0

#6377 [8.0] Fix deployment of 8.0.x and add protections against deploying incorrect versions
  .github/workflows/deployment.yml
Labels: alsoTargeting:integration

#6387 [v8.0] fix (wms): JobPath opPath referenced before assignment
  src/DIRAC/WorkloadManagementSystem/Executor/JobPath.py
Labels: alsoTargeting:integration

#6391 [v8r0] Fix for FileCatalog DirectoryLevelTree
  src/DIRAC/Core/Utilities/MySQL.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/DirectoryManager/DirectoryLevelTree.py
  src/DIRAC/WorkloadManagementSystem/DB/PilotAgentsDB.py
Labels: alsoTargeting:integration
