Repository DIRACGrid/DIRAC, pull requests merged in 2023-01, with the labels that each got.

#6643 [v7r3] Backport OpenSSL 3 support
  environment-py3.yml
  src/DIRAC/Core/Security/VOMS.py
  src/DIRAC/Core/Security/m2crypto/X509Certificate.py
  src/DIRAC/Core/Security/m2crypto/X509Chain.py
  src/DIRAC/Core/Security/test/Test_X509Chain.py
  tests/Integration/Framework/Test_ProxyDB.py
Labels: sweep:ignore, alsoTargeting:rel-v8r0

#6603 [v8.0] refactor gfal2
  pyproject.toml
  src/DIRAC/Core/Utilities/File.py
  src/DIRAC/Core/Utilities/Pfn.py
  src/DIRAC/Core/Utilities/ReturnValues.py
  src/DIRAC/Core/Utilities/test/Test_ReturnValues.py
  src/DIRAC/Resources/Storage/DIPStorage.py
  src/DIRAC/Resources/Storage/EchoStorage.py
  src/DIRAC/Resources/Storage/GFAL2_SRM2Storage.py
  src/DIRAC/Resources/Storage/GFAL2_StorageBase.py
  src/DIRAC/Resources/Storage/ProxyStorage.py
  src/DIRAC/Resources/Storage/RFIOStorage.py
  src/DIRAC/Resources/Storage/S3Storage.py
  src/DIRAC/Resources/Storage/StorageBase.py
  src/DIRAC/Resources/Storage/StorageElement.py
  src/DIRAC/Resources/Storage/Utilities.py
  tests/System/StorageTests/Test_Resources_StorageElement.py
Labels: alsoTargeting:integration

#6656 Simon says "now timeout is 5mn !"
  src/DIRAC/Resources/Storage/EchoStorage.py
Labels: alsoTargeting:rel-v8r0

#6665 [v7r3] More permissive filter in job kill/delete client API
  src/DIRAC/Interfaces/API/Dirac.py
Labels: alsoTargeting:rel-v8r0

#6660 [v7r3] Handle exceptions for ThreadPoolExecutors
  integration_tests.py
  src/DIRAC/Core/DISET/private/MessageBroker.py
  src/DIRAC/Core/DISET/private/Service.py
  src/DIRAC/FrameworkSystem/Agent/MyProxyRenewalAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: alsoTargeting:rel-v8r0

#6646 feat (Resources): further documentation about CEs
  docs/source/AdministratorGuide/Resources/computingelements.rst
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/Resources/Computing/BOINCComputingElement.py
  src/DIRAC/Resources/Computing/CREAMComputingElement.py
  src/DIRAC/Resources/Computing/ComputingElement.py
  src/DIRAC/Resources/Computing/ComputingElementFactory.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/InProcessComputingElement.py
  src/DIRAC/Resources/Computing/LocalComputingElement.py
  src/DIRAC/Resources/Computing/PilotBundle.py
  src/DIRAC/Resources/Computing/PoolComputingElement.py
  src/DIRAC/Resources/Computing/SSHBatchComputingElement.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6669 [sweep:v8r0] Handle exceptions for ThreadPoolExecutors
  integration_tests.py
  src/DIRAC/Core/DISET/private/MessageBroker.py
  src/DIRAC/Core/DISET/private/Service.py
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: alsoTargeting:integration

#6661 [v7r3] Use full jobID in AREX jobsToCancel
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6675 [sweep:v8r0] Use full jobID in AREX jobsToCancel
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:integration

#6673 [sweep:v8r0] feat (Resources): further documentation about CEs
  docs/source/AdministratorGuide/Resources/computingelements.rst
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/Resources/Computing/BOINCComputingElement.py
  src/DIRAC/Resources/Computing/CREAMComputingElement.py
  src/DIRAC/Resources/Computing/ComputingElement.py
  src/DIRAC/Resources/Computing/ComputingElementFactory.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/InProcessComputingElement.py
  src/DIRAC/Resources/Computing/LocalComputingElement.py
  src/DIRAC/Resources/Computing/PilotBundle.py
  src/DIRAC/Resources/Computing/PoolComputingElement.py
  src/DIRAC/Resources/Computing/SSHBatchComputingElement.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#6676 [v7r3] Still report AREX statuses if renew/cancel fails
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6662 [v8r0] Fixes from the LHCbDIRAC hackaton
  src/DIRAC/Resources/Storage/GFAL2_StorageBase.py
  src/DIRAC/Resources/Storage/StorageElement.py
Labels: alsoTargeting:integration

#6659 [8.0] Document locally mounted FS, and auto bind in singularityCE
  docs/source/AdministratorGuide/Resources/storage.rst
  src/DIRAC/Resources/Computing/SingularityComputingElement.py
  src/DIRAC/Resources/Storage/GFAL2_SRM2Storage.py
Labels: alsoTargeting:integration

#6604 [v7r3] fix(resources): drop "WholeNode" option in condor.py
  src/DIRAC/Resources/Computing/BatchSystems/Condor.py
Labels: alsoTargeting:rel-v8r0

#6693 [v7r3] fix accounting JobsPerPilot plot
  src/DIRAC/AccountingSystem/private/Plotters/PilotPlotter.py
Labels: alsoTargeting:rel-v8r0

#6692 [v8.0] LHCbDIRAC Hackaton fixes
  src/DIRAC/DataManagementSystem/Client/ConsistencyInspector.py
  src/DIRAC/Resources/Storage/GFAL2_SRM2Storage.py
  src/DIRAC/Resources/Storage/GFAL2_StorageBase.py
Labels: alsoTargeting:integration

#6682 [v8r0] Implement a recursive listDirectory for the DFC
  src/DIRAC/DataManagementSystem/Client/DataManager.py
  src/DIRAC/DataManagementSystem/Client/test/Test_Client_DataManagementSystem.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/DirectoryManager/DirectoryClosure.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/DirectoryManager/DirectoryTreeBase.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/SecurityManager/SecurityManagerBase.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/SecurityManager/VOMSSecurityManager.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogDB.py
  src/DIRAC/DataManagementSystem/DB/FileCatalogWithFkAndPsDB.sql
  src/DIRAC/DataManagementSystem/Service/FileCatalogHandler.py
  src/DIRAC/DataManagementSystem/scripts/dirac_dms_user_lfns.py
  src/DIRAC/Resources/Catalog/FileCatalogClient.py
  tests/Integration/DataManagementSystem/Test_FileCatalogDB.py
Labels: alsoTargeting:integration

#6685 [8.0] test: attempt of fixes for flaky tests
  tests/Integration/WorkloadManagementSystem/Test_Client_WMS.py
  tests/Integration/WorkloadManagementSystem/Test_JobCleaningAgent.py
Labels: alsoTargeting:integration

#6701 [8.0] Various fixes found when deploying v8.0 in prod for LHCb
  src/DIRAC/ConfigurationSystem/Client/Helpers/Operations.py
  src/DIRAC/ConfigurationSystem/Client/Utilities.py
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/Core/Utilities/ObjectLoader.py
  src/DIRAC/WorkloadManagementSystem/Client/Matcher.py
Labels: alsoTargeting:integration

#6702 [8.0] Calculating index for JobParametersDB for string job ids
  src/DIRAC/WorkloadManagementSystem/DB/ElasticJobParametersDB.py
Labels: alsoTargeting:integration

#6705 [v7r3] fix for SSHComputingElement
  src/DIRAC/Resources/Computing/SSHComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6706 [sweep:integration] Various fixes found when deploying v8.0 in prod for LHCb
  src/DIRAC/ConfigurationSystem/Client/Helpers/Operations.py
  src/DIRAC/ConfigurationSystem/Client/Utilities.py
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/Core/Utilities/ObjectLoader.py
  src/DIRAC/WorkloadManagementSystem/Client/Matcher.py
Labels: sweep:from rel-v8r0

#6710 [8.0] refactor (ElasticDB): some info logging to debug
  src/DIRAC/Core/Base/ElasticDB.py
Labels: alsoTargeting:integration

#6713 [7.3] Matcher fix tag is empty string (backport)
  src/DIRAC/WorkloadManagementSystem/Client/Matcher.py
Labels: sweep:ignore

#6714 [v7r3] fix ComponentSupervisionAgent issue with duplicate module name
  src/DIRAC/FrameworkSystem/Agent/ComponentSupervisionAgent.py
  src/DIRAC/FrameworkSystem/Agent/test/Test_ComponentSupervisionAgent.py
Labels: alsoTargeting:rel-v8r0

#6717 [8.0] remove stupid CS sync when getting MQ config
  src/DIRAC/Resources/MessageQueue/Utilities.py
Labels: alsoTargeting:integration

#6720 [v7r3] FileHelper bytes
  src/DIRAC/Core/DISET/private/FileHelper.py
Labels: alsoTargeting:rel-v8r0

#6727 [8.0] CI: Change checkout to v3 (sweep #6721)
  .github/workflows/basic.yml
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  .github/workflows/pilotWrapper.yml
  .github/workflows/pr-sweep.yml
Labels: alsoTargeting:integration

#6726 [8.0] Documentation for nginx config
  docs/source/AdministratorGuide/ServerInstallations/InstallingWebAppDIRAC.rst
Labels: alsoTargeting:integration

#6728 [v7r3] Add a note about XRSL times in ARC(6) vs AREX
  src/DIRAC/Resources/Computing/ARCComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6734 [8.0] Minor fixes for docs and code
  docs/source/AdministratorGuide/Systems/MonitoringSystem/index.rst
  docs/source/DeveloperGuide/AddingNewComponents/DevelopingDatabases/index.rst
  docs/source/DeveloperGuide/DevelopmentEnvironment/DeveloperInstallation/stuffThatRun.rst
  src/DIRAC/AccountingSystem/Service/ReportGeneratorHandler.py
  src/DIRAC/FrameworkSystem/DB/UserProfileDB.py
Labels: alsoTargeting:integration
