Repository DIRACGrid/DIRAC, pull requests merged in 2023-11, with the labels that each got.

#7266 [8.0] Preinstalled env pilot options in SiteDirector
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: alsoTargeting:integration

#7271 [sweep:integration] Preinstalled env pilot options in SiteDirector
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: sweep:from rel-v8r0

#7272 [8.0] create client get functions from HandlerMixins
  src/DIRAC/Core/Base/Client.py
Labels: alsoTargeting:integration

#7277 fix: show status SysAdminCLI
  src/DIRAC/FrameworkSystem/Client/SystemAdministratorClientCLI.py
Labels: alsoTargeting:integration

#7069 [8.0] Getting more details about failed/aborted pilots from HTCondor
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/Resources/Computing/BatchSystems/Condor.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/test/Test_HTCondorCEComputingElement.py
Labels: alsoTargeting:integration

#7276 [8.0] JobStatus: allow WAITING -> KILLED
  src/DIRAC/WorkloadManagementSystem/Client/JobStatus.py
  tests/Integration/WorkloadManagementSystem/Test_JobDB.py
Labels: alsoTargeting:integration

#7275 [8.0] docs: clarify how to install TokenManager in v8
  docs/source/AdministratorGuide/HowTo/pilotsWithTokens.rst
  docs/source/DeveloperGuide/TornadoServices/index.rst
Labels: alsoTargeting:integration, sweep:ignore

#7282 [sweep:integration] JobStatus: allow WAITING -> KILLED
  src/DIRAC/WorkloadManagementSystem/Client/JobStatus.py
  tests/Integration/WorkloadManagementSystem/Test_JobDB.py
Labels: sweep:from rel-v8r0

#7285 [8.0] fix: Getting token for a specific VO in WMSUtilities
  src/DIRAC/WorkloadManagementSystem/Service/WMSUtilities.py
Labels: alsoTargeting:integration

#7288 [sweep:integration] fix: Getting token for a specific VO in WMSUtilities
  src/DIRAC/WorkloadManagementSystem/Service/WMSUtilities.py
Labels: sweep:from rel-v8r0

#7296 [v8.0] fix (ElasticSearchDB): convert exception object to string representation and FTS3 lifetime changes
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/DataManagementSystem/Agent/FTS3Agent.py
  src/DIRAC/DataManagementSystem/Client/FTS3Job.py
  src/DIRAC/DataManagementSystem/ConfigTemplate.cfg
Labels: alsoTargeting:integration

#7298 fix: explicit dependency on importlib_resources
  setup.cfg
Labels: alsoTargeting:integration

#7300 Fix race condition in the JobLoggingDB
  src/DIRAC/WorkloadManagementSystem/DB/JobLoggingDB.py
Labels: alsoTargeting:integration

#7304 [8.0] Use copy+remove in PilotSync agent to avoid SELinux problems
  src/DIRAC/WorkloadManagementSystem/Agent/PilotSyncAgent.py
Labels: alsoTargeting:integration

#7291 [8.0] ElasticJobParametersDB: do not configure the IndexPrefix name
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/Interfaces/API/Dirac.py
  src/DIRAC/WorkloadManagementSystem/DB/ElasticJobParametersDB.py
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
  src/DIRAC/WorkloadManagementSystem/Service/JobManagerHandler.py
Labels: alsoTargeting:integration

#7316 [sweep:integration] ElasticJobParametersDB: do not configure the IndexPrefix name
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/Interfaces/API/Dirac.py
  src/DIRAC/WorkloadManagementSystem/DB/ElasticJobParametersDB.py
  src/DIRAC/WorkloadManagementSystem/Service/JobManagerHandler.py
Labels: sweep:from rel-v8r0

#7320 [8.0] Lower log level for printing version in submitJob
  src/DIRAC/Core/DISET/private/Transports/test/README.md
  src/DIRAC/Core/DISET/private/Transports/test/proxy.pem
  src/DIRAC/Interfaces/API/Dirac.py
Labels: alsoTargeting:integration

#7324 [8.0] fixes SSL 2048
  src/DIRAC/Core/DISET/private/Transports/test/Test_SSLTransport.py
  tests/openssl_config_DIRACDockerDevBox
  tests/openssl_config_DIRACDockerDevBox_usr
Labels: alsoTargeting:integration

#7309 [8.0] docs minor updates
  docs/source/AdministratorGuide/index.rst
  docs/source/UserGuide/GettingStarted/InstallingClient/index.rst
  docs/source/_static/horizontalAndVertical-ext.png
  docs/source/_static/py3Stack.png
Labels: alsoTargeting:integration

#7302 [8.0] fix: sets jobStatus=Failed/Payload failed iff the job was running
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_JobAgent.py
Labels: alsoTargeting:integration
