Repository DIRACGrid/DIRAC, pull requests merged in 2023-04, with the labels that each got.

#6963 [v7r3] PushJobAgent: fixes and features
  docs/source/AdministratorGuide/Resources/supercomputers.rst
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/Workflow/Modules/Script.py
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Utilities/RemoteRunner.py
  src/DIRAC/WorkloadManagementSystem/Utilities/test/Test_RemoteRunner.py
Labels: alsoTargeting:rel-v8r0

#6968 [sweep:v8r0] PushJobAgent: fixes and features
  docs/source/AdministratorGuide/Resources/supercomputers.rst
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/Workflow/Modules/Script.py
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Utilities/RemoteRunner.py
  src/DIRAC/WorkloadManagementSystem/Utilities/test/Test_RemoteRunner.py
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#6975 [8.0] retry dns lookup
  src/DIRAC/Core/DISET/private/Transports/M2SSLTransport.py
Labels: alsoTargeting:integration

#6972 [v7r3] jobstatus: add staging to checking transition
  src/DIRAC/WorkloadManagementSystem/Client/JobStatus.py
Labels: alsoTargeting:rel-v8r0

#6984 [v7r3] Getting the value of /LocalSite/RemoteExecution
  src/DIRAC/Workflow/Modules/Script.py
  src/DIRAC/WorkloadManagementSystem/Utilities/RemoteRunner.py
Labels: alsoTargeting:rel-v8r0
