Repository DIRACGrid/DIRAC, pull requests merged in 2023-08, with the labels that each got.

#7137 [8.0] fix: look also for DIRAC.rootPath/etc/dirac.cfg
  src/DIRAC/ConfigurationSystem/Client/LocalConfiguration.py
Labels: alsoTargeting:integration

#7138 [8.0] dirac_production_runjoblocal fix
  src/DIRAC/TransformationSystem/scripts/dirac_production_runjoblocal.py
Labels: alsoTargeting:integration

#7130 [8.0] Do not overwrite the tornado port if already set
  src/DIRAC/FrameworkSystem/Client/ComponentInstaller.py
Labels: alsoTargeting:integration

#7102 [sweep:integration] AREX fixes: proxy renewal logic + submission with tokens + correctly report aborted pilots
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: sweep:from rel-v8r0

#7135 [v8.0]Propagate more env variable in the SingularityCE
  src/DIRAC/Resources/Computing/SingularityComputingElement.py
Labels: alsoTargeting:integration

#7148 [v7r3] Kill sweep jobs that take more than 30 minutes
  .github/workflows/pr-sweep.yml
Labels: alsoTargeting:rel-v8r0

#7151 [sweep:integration] refactor job submit
  src/DIRAC/Core/Utilities/ReturnValues.py
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
  src/DIRAC/WorkloadManagementSystem/DB/JobDBUtils.py
Labels: sweep:from rel-v8r0

#7156 [sweep:integration] use python 3.11 by default
  .github/workflows/basic.yml
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/pilotWrapper.yml
  .pre-commit-config.yaml
  docs/docs.conf
  environment.yml
  setup.cfg
  src/DIRAC/RequestManagementSystem/private/RequestValidator.py
  tests/Integration/WorkloadManagementSystem/Test_GenerateAndExecutePilotWrapper.py
Labels: sweep:from rel-v8r0

#7158 [8.0] fix: exception when IdProviderType does not exist
  src/DIRAC/Resources/IdProvider/IdProviderFactory.py
Labels: alsoTargeting:integration

#7166 [v8r0] Stop using PID namespaces with SingularityCE
  src/DIRAC/Resources/Computing/SingularityComputingElement.py
Labels: alsoTargeting:integration

#7077 [v8.0] fix (ReplicateAndRegister): better error reporting for files with no replicas
  src/DIRAC/DataManagementSystem/Agent/RequestOperations/ReplicateAndRegister.py
  src/DIRAC/Interfaces/API/Dirac.py
Labels: alsoTargeting:integration

#7113 [8.0] feat: Add finer permission model for Transformation System
  docs/source/AdministratorGuide/Configuration/ConfReference/Tips/Authorization/index.rst
  docs/source/AdministratorGuide/Tutorials/installTS.rst
  src/DIRAC/Core/Security/Properties.py
  src/DIRAC/FrameworkSystem/Client/ComponentInstaller.py
  src/DIRAC/TransformationSystem/Service/TransformationManagerHandler.py
  src/DIRAC/TransformationSystem/Utilities/ReplicationCLIParameters.py
  tests/Integration/TransformationSystem/Test_TS_CheckPerms.py
  tests/Integration/all_integration_server_tests.sh
  tests/Jenkins/utilities.sh
Labels: alsoTargeting:integration, sweep:ignore

#7171 fix: fixes for release notes
  .pre-commit-config.yaml
  pyproject.toml
  release.notes
Labels: alsoTargeting:integration

#7173 [sweep:integration] fix: fixes for release notes
  .pre-commit-config.yaml
  pyproject.toml
Labels: sweep:from rel-v8r0

#7181 [v8.0] feat (VOMS2CS): only send a mail if something changed
  src/DIRAC/ConfigurationSystem/Agent/VOMS2CSAgent.py
Labels: alsoTargeting:integration
