Repository DIRACGrid/DIRAC, pull requests merged in 2023-02, with the labels that each got.

#6739 [8.0] fixes for sql alchemy2.0
  .github/workflows/basic.yml
  .pylintrc
  environment.yml
  pyproject.toml
  src/DIRAC/ConfigurationSystem/Agent/GOCDB2CSAgent.py
  src/DIRAC/Core/Tornado/Server/private/BaseRequestHandler.py
  src/DIRAC/Core/Utilities/Graphs/PlotBase.py
  src/DIRAC/Core/Utilities/Graphs/QualityMapGraph.py
  src/DIRAC/Core/Utilities/Pfn.py
  src/DIRAC/DataManagementSystem/DB/FTS3DB.py
  src/DIRAC/MonitoringSystem/DB/MonitoringDB.py
  src/DIRAC/RequestManagementSystem/DB/RequestDB.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
  src/DIRAC/Resources/Storage/StorageElement.py
  src/DIRAC/TransformationSystem/Agent/TransformationAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/VirtualMachineMonitorAgent.py
  src/DIRAC/WorkloadManagementSystem/DB/TaskQueueDB.py
  src/DIRAC/WorkloadManagementSystem/Executor/JobScheduling.py
Labels: alsoTargeting:integration

#6752 [sweep:integration] fixes for sql alchemy2.0
  .github/workflows/basic.yml
  .pylintrc
  environment.yml
  pyproject.toml
  src/DIRAC/ConfigurationSystem/Agent/GOCDB2CSAgent.py
  src/DIRAC/Core/Tornado/Server/private/BaseRequestHandler.py
  src/DIRAC/Core/Utilities/Graphs/PlotBase.py
  src/DIRAC/Core/Utilities/Graphs/QualityMapGraph.py
  src/DIRAC/Core/Utilities/Pfn.py
  src/DIRAC/DataManagementSystem/DB/FTS3DB.py
  src/DIRAC/MonitoringSystem/DB/MonitoringDB.py
  src/DIRAC/RequestManagementSystem/DB/RequestDB.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
  src/DIRAC/Resources/Storage/StorageElement.py
  src/DIRAC/TransformationSystem/Agent/TransformationAgent.py
  src/DIRAC/WorkloadManagementSystem/DB/TaskQueueDB.py
  src/DIRAC/WorkloadManagementSystem/Executor/JobScheduling.py
Labels: sweep:from rel-v8r0

#6741 [7r3] fix sql alchemy2.0
  .github/workflows/basic-python3.yml
  environment-py3.yml
  src/DIRAC/ConfigurationSystem/Agent/GOCDB2CSAgent.py
  src/DIRAC/Core/Utilities/Graphs/PlotBase.py
  src/DIRAC/Core/Utilities/Graphs/QualityMapGraph.py
  src/DIRAC/Core/Utilities/Pfn.py
  src/DIRAC/DataManagementSystem/DB/FTS3DB.py
  src/DIRAC/MonitoringSystem/DB/MonitoringDB.py
  src/DIRAC/RequestManagementSystem/DB/RequestDB.py
  src/DIRAC/ResourceStatusSystem/Command/test/Test_RSS_Command_VOBOXAvailabilityCommand.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
  src/DIRAC/Resources/Storage/StorageElement.py
  src/DIRAC/TransformationSystem/Agent/TransformationAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/VirtualMachineMonitorAgent.py
  src/DIRAC/WorkloadManagementSystem/DB/TaskQueueDB.py
  src/DIRAC/WorkloadManagementSystem/Executor/JobScheduling.py
  tests/runPylint.sh
Labels: sweep:ignore, alsoTargeting:rel-v8r0

#6403 [v8r0] COMDIRAC merge
  docs/docs.conf
  docs/source/UserGuide/Tutorials/ShorthandCommands/index.rst
  docs/source/UserGuide/Tutorials/index.rst
  docs/source/UserGuide/commands.rst
  setup.cfg
  src/DIRAC/Interfaces/Utilities/DCommands.py
  src/DIRAC/Interfaces/Utilities/DConfigCache.py
  src/DIRAC/Interfaces/scripts/dcd.py
  src/DIRAC/Interfaces/scripts/dchgrp.py
  src/DIRAC/Interfaces/scripts/dchmod.py
  src/DIRAC/Interfaces/scripts/dchown.py
  src/DIRAC/Interfaces/scripts/dconfig.py
  src/DIRAC/Interfaces/scripts/dfind.py
  src/DIRAC/Interfaces/scripts/dget.py
  src/DIRAC/Interfaces/scripts/dgetenv.py
  src/DIRAC/Interfaces/scripts/dinit.py
  src/DIRAC/Interfaces/scripts/dkill.py
  src/DIRAC/Interfaces/scripts/dlogging.py
  src/DIRAC/Interfaces/scripts/dls.py
  src/DIRAC/Interfaces/scripts/dmeta.py
  src/DIRAC/Interfaces/scripts/dmkdir.py
  src/DIRAC/Interfaces/scripts/doutput.py
  src/DIRAC/Interfaces/scripts/dput.py
  src/DIRAC/Interfaces/scripts/dpwd.py
  src/DIRAC/Interfaces/scripts/drepl.py
  src/DIRAC/Interfaces/scripts/dreplicas.py
  src/DIRAC/Interfaces/scripts/drm.py
  src/DIRAC/Interfaces/scripts/drmdir.py
  src/DIRAC/Interfaces/scripts/dsize.py
  src/DIRAC/Interfaces/scripts/dstat.py
  src/DIRAC/Interfaces/scripts/dsub.py
Labels: alsoTargeting:integration

#6754 [v8.0] Repect paramList in ElasticJobParametersDB.getJobParameters
  src/DIRAC/WorkloadManagementSystem/DB/ElasticJobParametersDB.py
Labels: alsoTargeting:integration

#6709 [v7r3] Add diskOnly option to getFile
  src/DIRAC/DataManagementSystem/Client/DataManager.py
Labels: alsoTargeting:rel-v8r0

#6738 [v7r3] Ensure all entrypoints are importable
  src/DIRAC/Core/Utilities/test/Test_entrypoints.py
Labels: sweep:ignore, alsoTargeting:rel-v8r0

#6764 [8.0] dirac-configure warning about existing file
  src/DIRAC/Core/scripts/dirac_configure.py
Labels: alsoTargeting:integration

#6767 [8.0] fix bad error handling in removing file
  src/DIRAC/Core/Utilities/ServerUtils.py
  src/DIRAC/Resources/Storage/GFAL2_StorageBase.py
Labels: alsoTargeting:integration

#6775 [v7r3] fix pylint errors
  .pylintrc
  src/DIRAC/Core/Tornado/Server/TornadoServer.py
  src/DIRAC/WorkloadManagementSystem/Client/DIRACbenchmark.py
Labels: alsoTargeting:rel-v8r0

#6777 [v7r3] Fix DIRACOS2 download URL
  docs/source/DeveloperGuide/DevelopmentEnvironment/DeveloperInstallation/editingCode.rst
Labels: alsoTargeting:rel-v8r0

#6770 [8.0] VOMS2CSSynchronizer: strip leading and trailing whitespaces from DN entries
  src/DIRAC/ConfigurationSystem/Client/VOMS2CSSynchronizer.py
Labels: alsoTargeting:integration

#5632 [v7r3] Proper documentation for HTTPs services
  docs/source/AdministratorGuide/ServerInstallations/HTTPSServices.rst
  docs/source/AdministratorGuide/ServerInstallations/index.rst
  docs/source/DeveloperGuide/TornadoServices/index.rst
  src/DIRAC/FrameworkSystem/scripts/dirac_install_tornado_service.py
  src/DIRAC/WorkloadManagementSystem/ConfigTemplate.cfg
Labels: alsoTargeting:rel-v8r0

#6373 [8.0] Tornado log fixes
  src/DIRAC/ConfigurationSystem/Client/LocalConfiguration.py
  src/DIRAC/Core/Tornado/Server/private/BaseRequestHandler.py
  src/DIRAC/Core/Tornado/scripts/tornado_start_all.py
Labels: alsoTargeting:integration

#6785 [sweep:v8r0] Proper documentation for HTTPs services
  docs/source/AdministratorGuide/ServerInstallations/HTTPSServices.rst
  docs/source/AdministratorGuide/ServerInstallations/index.rst
  docs/source/DeveloperGuide/TornadoServices/index.rst
  src/DIRAC/FrameworkSystem/scripts/dirac_install_tornado_service.py
  src/DIRAC/WorkloadManagementSystem/ConfigTemplate.cfg
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#6773 [8.0] Intermediate replication uses all possible SE
  src/DIRAC/DataManagementSystem/Client/DataManager.py
Labels: alsoTargeting:integration

#6758 [sweep:v8r0] Ensure all entrypoints are importable
  setup.cfg
  src/DIRAC/Core/Utilities/test/Test_entrypoints.py
Labels: alsoTargeting:integration, sweep from:rel-v7r3

#6762 [v7r3] Fix exception in FileHelper.networkToString on Python 3
  src/DIRAC/Core/DISET/private/FileHelper.py
Labels: alsoTargeting:rel-v8r0

#6790 [sweep:v8r0] Fix exception in FileHelper.networkToString on Python 3
  src/DIRAC/Core/DISET/private/FileHelper.py
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#6797 [v7r3] Remove use of set-output in CI
  .github/workflows/deployment.yml
Labels: sweep:ignore, alsoTargeting:rel-v8r0

#6798 [8.0] Remove use of set-output in CI
  .github/workflows/deployment.yml
Labels: alsoTargeting:integration

#6745 [v7r3] Test for StorageElementHandler / FileHelper
  tests/Integration/DataManagementSystem/Test_StorageElement.py
Labels: alsoTargeting:rel-v8r0

#6800 [8.0] Removed Google forum from docs
  README.rst
  docs/source/AdministratorGuide/Systems/ResourceStatus/install.rst
  docs/source/DeveloperGuide/index.rst
Labels: alsoTargeting:integration

#6405 [8.0] Pilot stamps available in the pilot execution environment
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/BatchSystems/Condor.py
  src/DIRAC/Resources/Computing/BatchSystems/Host.py
  src/DIRAC/Resources/Computing/BatchSystems/SLURM.py
  src/DIRAC/Resources/Computing/CloudComputingElement.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/SSHBatchComputingElement.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
  src/DIRAC/Resources/Computing/cloudinit.template
  src/DIRAC/Resources/Computing/test/Test_HTCondorCEComputingElement.py
Labels: alsoTargeting:integration

#6807 [v7r3] Stop using matplotlib deprecated methods
  src/DIRAC/Core/Utilities/Graphs/GraphUtilities.py
Labels: alsoTargeting:rel-v8r0

#6804 [8.0] Fix issues found by mypy
  src/DIRAC/ConfigurationSystem/Client/SyncPlugins/CERNLDAPSyncPlugin.py
  src/DIRAC/ConfigurationSystem/private/ServiceInterfaceBase.py
  src/DIRAC/ConfigurationSystem/scripts/dirac_configuration_dump_local_cache.py
Labels: alsoTargeting:integration

#6813 [v7r3] Hackathon fix: missing account parameter in SSHBatchCE
  src/DIRAC/Resources/Computing/SSHBatchComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6816 [v7r3] fix (FTS3DB): distinct and order by need to have common columns
  src/DIRAC/DataManagementSystem/DB/FTS3DB.py
Labels: alsoTargeting:rel-v8r0

#6826 [v7r3] Fix AREX ARCRESTTimeout
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6825 [8.0] keep the utilities transID an int (revert again...)
  src/DIRAC/TransformationSystem/Client/Utilities.py
Labels: alsoTargeting:integration

#6828 [v7r3] Update AREX delegation renewal
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6794 [8.0] Speed up ReplicateAndRegister operation
  pyproject.toml
  src/DIRAC/DataManagementSystem/Agent/RequestOperations/RegisterReplica.py
  src/DIRAC/DataManagementSystem/Agent/RequestOperations/ReplicateAndRegister.py
  src/DIRAC/DataManagementSystem/Agent/RequestOperations/test/Test_ReplicateAndRegister.py
  src/DIRAC/Resources/Catalog/FileCatalogClient.py
Labels: alsoTargeting:integration

#6837 [v7r3] Complete AREX renewal
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:rel-v8r0

#6840 [v7r3] fix: Typo in AREX error meesage
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: sweep:ignore, alsoTargeting:rel-v8r0

#6839 [sweep:v8r0] Complete AREX renewal
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:integration

#6847 [sweep:v8r0] ReqProxy does not immediately forward to central service
  src/DIRAC/RequestManagementSystem/Service/ReqProxyHandler.py
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#6850 [v7r3] Add setPriority to Job API
  src/DIRAC/Interfaces/API/Job.py
Labels: alsoTargeting:rel-v8r0

#6845 [8.0] dashboard fixes
  dashboards/AgentMonitoring/AgentMonitoringDashboard.ndjson
  dashboards/PilotSubmissions/PilotSubmissionsDashboard.ndjson
  dashboards/PilotsHistory/PilotsHistory.ndjson
  dashboards/ServiceMonitoring/ServiceMonitoringDashboard.ndjson
Labels: alsoTargeting:integration

#6855 [8.0] Use default VO File Catalog in the CLI
  src/DIRAC/DataManagementSystem/scripts/dirac_dms_filecatalog_cli.py
Labels: alsoTargeting:integration

#6856 [8.0] Speedup FTS3 queries
  src/DIRAC/DataManagementSystem/DB/FTS3DB.py
  src/DIRAC/DataManagementSystem/DB/test/FTS3TestUtils.py
  src/DIRAC/DataManagementSystem/DB/test/Test_FTS3DB.py
  testSQL.py
  tests/Integration/DataManagementSystem/Test_Client_FTS3.py
Labels: alsoTargeting:integration

#6803 [8.0] Pilot submission with tokens
  dirac.cfg
  src/DIRAC/ConfigurationSystem/Client/Helpers/Registry.py
  src/DIRAC/ConfigurationSystem/Client/Helpers/Resources.py
  src/DIRAC/Core/Tornado/Server/private/BaseRequestHandler.py
  src/DIRAC/Core/Utilities/Grid.py
  src/DIRAC/FrameworkSystem/API/AuthHandler.py
  src/DIRAC/FrameworkSystem/Client/TokenManagerClient.py
  src/DIRAC/FrameworkSystem/DB/TokenDB.py
  src/DIRAC/FrameworkSystem/Service/TokenManagerHandler.py
  src/DIRAC/FrameworkSystem/private/authorization/AuthServer.py
  src/DIRAC/FrameworkSystem/private/authorization/grants/AuthorizationCode.py
  src/DIRAC/Resources/Computing/ARC6ComputingElement.py
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/Resources/Computing/ComputingElement.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/test/Test_HTCondorCEComputingElement.py
  src/DIRAC/Resources/IdProvider/CheckInIdProvider.py
  src/DIRAC/Resources/IdProvider/IAMIdProvider.py
  src/DIRAC/Resources/IdProvider/IdProvider.py
  src/DIRAC/Resources/IdProvider/IdProviderFactory.py
  src/DIRAC/Resources/IdProvider/OAuth2IdProvider.py
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/ConfigTemplate.cfg
Labels: alsoTargeting:integration

#6854 [8.0] ReplicateAndRegister with FTS checks SE status
  src/DIRAC/DataManagementSystem/Agent/FTS3Agent.py
  src/DIRAC/DataManagementSystem/Agent/RequestOperations/ReplicateAndRegister.py
Labels: alsoTargeting:integration

#6866 [v7r3] VOMS2CSAgent: strip whitespaces from DN entries and nickname
  src/DIRAC/ConfigurationSystem/Client/VOMS2CSSynchronizer.py
Labels: alsoTargeting:rel-v8r0
