Repository DIRACGrid/DIRAC, pull requests merged in 2023-03, with the labels that each got.

#6870 [8.0] fix (MonitoringDB): make a MonitoringDB singleton
  src/DIRAC/MonitoringSystem/Client/ServerUtils.py
  src/DIRAC/MonitoringSystem/DB/MonitoringDB.py
Labels: alsoTargeting:integration

#6864 [8.0] More FTS3DB perf improvments
  src/DIRAC/DataManagementSystem/Client/FTS3Job.py
  src/DIRAC/DataManagementSystem/DB/FTS3DB.py
  src/DIRAC/DataManagementSystem/DB/test/FTS3TestUtils.py
  testSQL.py
Labels: alsoTargeting:integration

#6881 [8.0] Workaround for HTTPs timeout
  src/DIRAC/Resources/Storage/GFAL2_StorageBase.py
Labels: alsoTargeting:integration

#6859 [8.0] Rewrite DFC delete stored procedure
  src/DIRAC/DataManagementSystem/DB/FileCatalogWithFkAndPsDB.sql
Labels: alsoTargeting:integration

#6889 [8.0] change (Production): change column types in ProductionDB
  src/DIRAC/ProductionSystem/DB/ProductionDB.sql
Labels: alsoTargeting:integration

#6890 [8.0] Perform pilot operations with tokens
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/Resources/Computing/ComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Service/PilotManagerHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/WMSUtilities.py
Labels: alsoTargeting:integration

#6802 [8.0] fix: wait and retry on ConflictError
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
Labels: alsoTargeting:integration

#6906 [8.0] SiteDirector: failure in submitting Accounting or Monitoring report only prints an error
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: alsoTargeting:integration

#6766 [v7r3] Better handle requests exceptions in AREXCE + minor fix in an error message in ConfigHelper
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/WorkloadManagementSystem/private/ConfigHelper.py
Labels: alsoTargeting:rel-v8r0

#6909 [sweep:v8r0] Better handle requests exceptions in AREXCE + minor fix in an error message in ConfigHelper
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/WorkloadManagementSystem/private/ConfigHelper.py
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#6913 [sweep:integration] Better handle requests exceptions in AREXCE + minor fix in an error message in ConfigHelper
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/WorkloadManagementSystem/private/ConfigHelper.py
Labels: sweep:from rel-v8r0

#6919 [8.0] Log fixes for stdoutJson and MicrosecondjsonFormatter (MQ logs and stdoutjson)
  src/DIRAC/FrameworkSystem/private/standardLogging/Formatter/MicrosecondJsonFormatter.py
  src/DIRAC/Resources/LogBackends/StdoutJsonBackend.py
Labels: alsoTargeting:integration

#6923 [8.0] fix (Tornado): decode request name in the monitoring
  src/DIRAC/Core/Tornado/Server/private/BaseRequestHandler.py
Labels: alsoTargeting:integration

#6920 [8.0] Set CA directory location in HTCondorCE
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
Labels: alsoTargeting:integration

#6927 [sweep:integration] Set CA directory location in HTCondorCE
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
Labels: sweep:from rel-v8r0

#6918 [8.0] make singletons of VirtualMachineDB and PilotAgentsDB
  src/DIRAC/Core/Utilities/ServerUtils.py
  src/DIRAC/WorkloadManagementSystem/Agent/CloudDirector.py
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/Agent/VirtualMachineMonitorAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/Client/ServerUtils.py
  src/DIRAC/WorkloadManagementSystem/DB/PilotAgentsDB.py
  src/DIRAC/WorkloadManagementSystem/DB/VirtualMachineDB.py
Labels: alsoTargeting:integration

#6892 [8.0] fix for show installations
  docs/source/AdministratorGuide/ExternalsSupport/index.rst
  src/DIRAC/FrameworkSystem/Client/SystemAdministratorClientCLI.py
Labels: alsoTargeting:integration

#6931 [sweep:integration] make singletons of VirtualMachineDB and PilotAgentsDB
  src/DIRAC/Core/Utilities/ServerUtils.py
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/Client/ServerUtils.py
  src/DIRAC/WorkloadManagementSystem/DB/PilotAgentsDB.py
Labels: sweep:from rel-v8r0

#6932 [8.0] fix (tornadoREST): disable activityMonitor for TornadoREST
  src/DIRAC/Core/Tornado/Server/TornadoREST.py
  src/DIRAC/Core/Tornado/Server/private/BaseRequestHandler.py
Labels: alsoTargeting:integration

#6882 [8.0] feat: initial IAM integration tests
  .github/workflows/integration.yml
  integration_tests.py
  src/DIRAC/ConfigurationSystem/Client/Utilities.py
  src/DIRAC/Core/Tornado/Server/private/BaseRequestHandler.py
  src/DIRAC/FrameworkSystem/Service/TokenManagerHandler.py
  src/DIRAC/FrameworkSystem/private/authorization/AuthServer.py
  src/DIRAC/FrameworkSystem/private/authorization/grants/RevokeToken.py
  src/DIRAC/FrameworkSystem/private/authorization/utils/Tokens.py
  src/DIRAC/Resources/IdProvider/CheckInIdProvider.py
  src/DIRAC/Resources/IdProvider/IAMIdProvider.py
  src/DIRAC/Resources/IdProvider/IdProviderFactory.py
  src/DIRAC/Resources/IdProvider/OAuth2IdProvider.py
  src/DIRAC/Resources/IdProvider/Utilities.py
  src/DIRAC/Resources/IdProvider/tests/IdProviderTestUtilities.py
  src/DIRAC/Resources/IdProvider/tests/Test_IdProvider.py
  src/DIRAC/Resources/IdProvider/tests/Test_IdProviderFactory.py
  src/DIRAC/Resources/IdProvider/tests/Test_IdProviderUtilities.py
  tests/CI/docker-compose.yml
  tests/CI/envs/indigoiam/iam-login-service:v1.8.0.env
  tests/Integration/Resources/IdProvider/Test_IdProvider.py
  tests/Integration/Resources/IdProvider/Test_IdProviderFactory.py
  tests/Integration/all_integration_client_tests.sh
Labels: alsoTargeting:integration

#6934 [8.0] fix: protection for opensearch_dsl being merged in opensearchpy
  environment.yml
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
Labels: alsoTargeting:integration

#6946 [8.0] test: moved by default to OpenSearch 2.1.0
  .github/workflows/integration.yml
  tests/CI/envs/opensearchproject/opensearch:2.1.0.env
Labels: alsoTargeting:integration

#6942 [8.0] Fix monitoring url in doc
  docs/source/AdministratorGuide/ServerInstallations/centralizedLogging.rst
  docs/source/AdministratorGuide/Systems/MonitoringSystem/index.rst
Labels: alsoTargeting:integration

#6938 [8.0] Watchdog fix: always report correct types
  src/DIRAC/WorkloadManagementSystem/JobWrapper/Watchdog.py
Labels: alsoTargeting:integration

#6940 [8.0] fix IAM integration tests
  integration_tests.py
Labels: alsoTargeting:integration

#6960 [sweep:integration] fix: py2/3 remnants : removed selectors2
  src/DIRAC/Core/DISET/ServiceReactor.py
  src/DIRAC/Core/DISET/private/MessageBroker.py
  src/DIRAC/Core/DISET/private/Transports/PlainTransport.py
  src/DIRAC/Core/DISET/private/Transports/test/Test_SSLTransport.py
Labels: sweep:from rel-v8r0
