Repository DIRACGrid/DIRAC, pull requests merged in 2023-06, with the labels that each got.

#7040 [v8r0] Add /Resources/Computing/DefaultLocalCEType option
  src/DIRAC/ConfigurationSystem/Client/Utilities.py
Labels: alsoTargeting:integration

#7032 [8.0] feat & fix: check the integrity of the outputs in RemoteRunner
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Utilities/RemoteRunner.py
  src/DIRAC/WorkloadManagementSystem/Utilities/test/Test_RemoteRunner.py
Labels: alsoTargeting:integration

#7043 [v7r3] fix(StalledJobAgent): after a job was Killed, we have to force the Fa…
  src/DIRAC/WorkloadManagementSystem/Agent/StalledJobAgent.py
Labels: alsoTargeting:rel-v8r0

#7051 [v8.0] Fix implementation of DefaultLocalCEType option
  src/DIRAC/ConfigurationSystem/Client/Utilities.py
  src/DIRAC/WorkloadManagementSystem/Utilities/PilotCStoJSONSynchronizer.py
Labels: alsoTargeting:integration

#7047 [8.0] Workflow tests need pilot.cfg to work
  src/DIRAC/__init__.py
  tests/Workflow/Integration/Test_UserJobs.py
  tests/Workflow/Regression/Test_RegressionUserJobs.py
Labels: alsoTargeting:integration

#7044 [v8.0] Implement double slash in the Echo Xroot URL
  src/DIRAC/Resources/Storage/EchoStorage.py
  tests/Integration/Resources/Storage/Test_Resources_Echo.py
Labels: alsoTargeting:integration

#7020 [8.0] docs: added a note about removing elastic job parameters
  docs/source/AdministratorGuide/Systems/WorkloadManagement/architecture.rst
  docs/source/DeveloperGuide/Systems/WorkloadManagement/index.rst
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/WorkloadManagementSystem/Service/JobManagerHandler.py
  tests/Integration/WorkloadManagementSystem/Test_JobParameters_MySQLandES.py
Labels: alsoTargeting:integration

#6945 [8.0] print a warning message when no CFG file is found
  src/DIRAC/ConfigurationSystem/Client/LocalConfiguration.py
  src/DIRAC/ConfigurationSystem/private/ConfigurationData.py
Labels: alsoTargeting:integration

#7057 [sweep:integration] docs: added a note about removing elastic job parameters
  docs/source/AdministratorGuide/Systems/WorkloadManagement/architecture.rst
  docs/source/DeveloperGuide/Systems/WorkloadManagement/index.rst
  src/DIRAC/Core/Utilities/ElasticSearchDB.py
  src/DIRAC/WorkloadManagementSystem/Service/JobManagerHandler.py
  tests/Integration/WorkloadManagementSystem/Test_JobParameters_MySQLandES.py
Labels: sweep:from rel-v8r0

#7058 [sweep:integration] print a warning message when no CFG file is found
  src/DIRAC/ConfigurationSystem/Client/LocalConfiguration.py
  src/DIRAC/ConfigurationSystem/private/ConfigurationData.py
Labels: sweep:from rel-v8r0

#6914 [8.0] Add dirac-admin-add-pilot command
  docs/source/AdministratorGuide/Systems/WorkloadManagement/Pilots/index.rst
  setup.cfg
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/LocalComputingElement.py
  src/DIRAC/Resources/Computing/SSHComputingElement.py
  src/DIRAC/Resources/Computing/test/Test_HTCondorCEComputingElement.py
  src/DIRAC/WorkloadManagementSystem/DB/PilotAgentsDB.py
  src/DIRAC/WorkloadManagementSystem/scripts/dirac_admin_add_pilot.py
Labels: alsoTargeting:integration

#7037 [v7r3] Backport GFAL2 webdav/https timeout workaround
  src/DIRAC/Resources/Storage/GFAL2_StorageBase.py
Labels: sweep:ignore, alsoTargeting:rel-v8r0

#7063 [8.0] Fixed pyparsing import
  src/DIRAC/Resources/Catalog/FCConditionParser.py
  src/DIRAC/__init__.py
Labels: sweep:ignore

#7061 [v8r0] Close DISET selector when we no longer need it
  src/DIRAC/Core/DISET/private/MessageBroker.py
Labels: alsoTargeting:integration

#6970 [8.0] fix the interactions between the Matcher and the PoolCE
  docs/source/DeveloperGuide/AddingNewComponents/Resources/Computing.rst
  docs/source/DeveloperGuide/AddingNewComponents/Resources/index.rst
  src/DIRAC/Resources/Computing/ComputingElement.py
  src/DIRAC/Resources/Computing/InProcessComputingElement.py
  src/DIRAC/Resources/Computing/PoolComputingElement.py
  src/DIRAC/Resources/Computing/SingularityComputingElement.py
  src/DIRAC/Resources/Computing/SudoComputingElement.py
  src/DIRAC/Resources/Computing/test/Test_PoolComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_JobAgent.py
  src/DIRAC/WorkloadManagementSystem/ConfigTemplate.cfg
  tests/Integration/Resources/Computing/Test_SingularityCE.py
Labels: alsoTargeting:integration

#7049 [8.0] Simple TornadoSandboxStore handler
  src/DIRAC/Core/Tornado/Client/TornadoClient.py
  src/DIRAC/FrameworkSystem/Client/TokenManagerClient.py
  src/DIRAC/FrameworkSystem/Service/TokenManagerHandler.py
  src/DIRAC/Resources/IdProvider/Utilities.py
  src/DIRAC/Resources/Storage/DIPStorage.py
  src/DIRAC/WorkloadManagementSystem/ConfigTemplate.cfg
  src/DIRAC/WorkloadManagementSystem/Service/SandboxStoreHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/TornadoSandboxStoreHandler.py
  tests/Jenkins/dirac-cfg-update-server.py
Labels: alsoTargeting:integration

#7070 docs: add forgotten doc for DefaultLocalCEType
  dirac.cfg
Labels: alsoTargeting:integration

#7068 [sweep:integration] Simple TornadoSandboxStore handler
  src/DIRAC/Core/Tornado/Client/TornadoClient.py
  src/DIRAC/FrameworkSystem/Client/TokenManagerClient.py
  src/DIRAC/FrameworkSystem/Service/TornadoTokenManagerHandler.py
  src/DIRAC/Resources/IdProvider/Utilities.py
  src/DIRAC/Resources/Storage/DIPStorage.py
  src/DIRAC/WorkloadManagementSystem/ConfigTemplate.cfg
  src/DIRAC/WorkloadManagementSystem/Service/SandboxStoreHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/TornadoSandboxStoreHandler.py
  tests/Jenkins/dirac-cfg-update-server.py
  tests/Jenkins/dirac_ci.sh
Labels: sweep:from rel-v8r0

#6973 [8.1] Validating the JDL format using pydantic
  environment.yml
  pyproject.toml
  src/DIRAC/Core/Utilities/ClassAd/ClassAdLight.py
  src/DIRAC/Core/Utilities/Graphs/Palette.py
  src/DIRAC/Core/Utilities/JDL.py
  src/DIRAC/Core/Utilities/test/Test_JDL.py
  src/DIRAC/Interfaces/API/Job.py
  src/DIRAC/WorkloadManagementSystem/Client/JobMinorStatus.py
  src/DIRAC/WorkloadManagementSystem/DB/tests/Test_JobDB.py
  src/DIRAC/WorkloadManagementSystem/Executor/JobSanity.py
  src/DIRAC/WorkloadManagementSystem/Executor/JobScheduling.py
  src/DIRAC/WorkloadManagementSystem/Service/JobManagerHandler.py
  src/DIRAC/WorkloadManagementSystem/Utilities/JobModel.py
  src/DIRAC/WorkloadManagementSystem/Utilities/test/Test_JobModel.py
Labels: alsoTargeting:integration

#7062 [8.0] fix: interacting with CEs using tokens
  src/DIRAC/Core/Utilities/Grid.py
  src/DIRAC/FrameworkSystem/Client/TokenManagerClient.py
  src/DIRAC/FrameworkSystem/Service/TokenManagerHandler.py
  src/DIRAC/FrameworkSystem/Utilities/TokenManagementUtilities.py
  src/DIRAC/FrameworkSystem/Utilities/test/Test_TokenManagementUtilities.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/Resources/Computing/ComputingElement.py
  src/DIRAC/Resources/Computing/HTCondorCEComputingElement.py
  src/DIRAC/Resources/Computing/test/Test_HTCondorCEComputingElement.py
  src/DIRAC/Resources/IdProvider/IdProviderFactory.py
  src/DIRAC/Resources/IdProvider/OAuth2IdProvider.py
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/Client/PilotScopes.py
  src/DIRAC/WorkloadManagementSystem/Service/PilotManagerHandler.py
  src/DIRAC/WorkloadManagementSystem/Service/WMSUtilities.py
  tests/Integration/Resources/IdProvider/Test_IdProvider.py
Labels: alsoTargeting:integration

#7080 [8.0] fix: disable activityMonitoring for JobAgent
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
Labels: alsoTargeting:integration

#7048 [8.0] AREX fixes: proxy renewal logic + submission with tokens + correctly report aborted pilots
  src/DIRAC/Resources/Computing/ARCComputingElement.py
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:rel-v8r0
