Repository DIRACGrid/DIRAC, pull requests merged in 2023-05, with the labels that each got.

#6991 [v7r3] feat renew voms fake proxy
  src/DIRAC/Core/Security/test/certs/voms/README
  src/DIRAC/Core/Security/test/certs/voms/proxy.pem
  src/DIRAC/Core/Security/test/x509TestUtilities.py
Labels: alsoTargeting:rel-v8r0

#6987 [v7r3] fix: return a specific error code in RemoteRunner in case of failure
  src/DIRAC/WorkloadManagementSystem/Utilities/RemoteRunner.py
Labels: alsoTargeting:rel-v8r0

#6989 [8.0] fix AREXCE: `executables` definition not removed correctly within the code
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:integration

#7002 [sweep:v8r0] feat renew voms fake proxy
  src/DIRAC/Core/Security/test/certs/voms/README
  src/DIRAC/Core/Security/test/certs/voms/proxy.pem
  src/DIRAC/Core/Security/test/x509TestUtilities.py
Labels: alsoTargeting:integration, sweep:from rel-v7r3

#7011 [v8.0] Fix RMS monitoring with no object IDs
  src/DIRAC/RequestManagementSystem/private/OperationHandlerBase.py
  src/DIRAC/RequestManagementSystem/private/RequestTask.py
Labels: alsoTargeting:integration

#7017 [sweep:integration] feat: add the possibility of adding generic options for running the pilots
  dirac.cfg
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: sweep:from rel-v8r0

#7007 [sweep:integration] fix: return a specific error code in RemoteRunner in case of failure
  src/DIRAC/WorkloadManagementSystem/Utilities/RemoteRunner.py
Labels: sweep:from rel-v8r0

#7025 [8.0] fix: SSHCE.getPilotOutput()
  src/DIRAC/Resources/Computing/SSHComputingElement.py
Labels: alsoTargeting:integration

#7029 [8.0] fix: make sure to not try to add empty options
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: alsoTargeting:integration

#6950 [8.0] feat: use client token instead of user token for submission
  src/DIRAC/FrameworkSystem/Client/TokenManagerClient.py
  src/DIRAC/FrameworkSystem/Service/TokenManagerHandler.py
  src/DIRAC/FrameworkSystem/Utilities/TokenManagementUtilities.py
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: alsoTargeting:integration

#7034 [8.0] Commenting flaky rescheduleJob test
  tests/Integration/WorkloadManagementSystem/Test_Client_WMS.py
Labels: alsoTargeting:integration
