Repository DIRACGrid/DIRAC, pull requests merged in 2024-09, with the labels that each got.

#7778 [v8r0] fix: return correct error for non-existing directory
  src/DIRAC/DataManagementSystem/DB/FileCatalogComponents/DirectoryManager/DirectoryLevelTree.py
Labels: alsoTargeting:integration

#7779 [v8r0] fix: dirac_dms_find_lfns: check if requested path exists and return error if not
  src/DIRAC/DataManagementSystem/scripts/dirac_dms_find_lfns.py
Labels: alsoTargeting:integration

#7759 [8.0] RSS: add a DIRAC to GOCDB service type conversion
  src/DIRAC/Core/LCG/GOCDBClient.py
  src/DIRAC/ResourceStatusSystem/Command/DowntimeCommand.py
  src/DIRAC/ResourceStatusSystem/Command/test/Test_RSS_Command_GOCDBStatusCommand.py
Labels: alsoTargeting:integration

#7783 [sweep:integration] RSS: add a DIRAC to GOCDB service type conversion
  src/DIRAC/Core/LCG/GOCDBClient.py
  src/DIRAC/ResourceStatusSystem/Command/DowntimeCommand.py
  src/DIRAC/ResourceStatusSystem/Command/test/Test_RSS_Command_GOCDBStatusCommand.py
Labels: sweep:ignore, sweep:from rel-v8r0

#7785 [8.0] Avoid incorrect error strings in Workflow execute
  src/DIRAC/Workflow/Modules/ModuleBase.py
Labels: alsoTargeting:integration

#7789 [8.0] feat: SD will always bundle proxy
  docs/source/AdministratorGuide/Systems/WorkloadManagement/tagsAndJobs.rst
  docs/source/AdministratorGuide/Tutorials/installWMS.rst
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/Utilities/QueueUtilities.py
Labels: alsoTargeting:integration

#7788 [8.0] SSHComputingElement fix: added check of result
  src/DIRAC/Resources/Computing/SSHComputingElement.py
Labels: alsoTargeting:integration

#7792 [sweep:integration] feat: SD will always bundle proxy
  docs/source/AdministratorGuide/Systems/WorkloadManagement/tagsAndJobs.rst
  docs/source/AdministratorGuide/Tutorials/installWMS.rst
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_SiteDirector.py
  src/DIRAC/WorkloadManagementSystem/Utilities/QueueUtilities.py
Labels: sweep:from rel-v8r0

#7800 [8.0] fix: added fromAddress for notification emails
  src/DIRAC/DataManagementSystem/scripts/dirac_admin_allow_se.py
  src/DIRAC/DataManagementSystem/scripts/dirac_admin_ban_se.py
  src/DIRAC/Interfaces/scripts/dirac_admin_allow_site.py
  src/DIRAC/Interfaces/scripts/dirac_admin_ban_site.py
  src/DIRAC/ResourceStatusSystem/Agent/TokenAgent.py
Labels: alsoTargeting:integration

#7787 [8.0] fix: added a 30s gfal2 timeout for downloading the SRR
  src/DIRAC/Resources/Storage/OccupancyPlugins/WLCGAccountingHTTPJson.py
  src/DIRAC/Resources/Storage/OccupancyPlugins/WLCGAccountingJson.py
Labels: alsoTargeting:integration

#7741 [8.0] Change the updating logic of the TS FileStatus
  docs/source/AdministratorGuide/ServerInstallations/scalingAndLimitations.rst
  src/DIRAC/DataManagementSystem/Agent/FTS3Agent.py
  src/DIRAC/DataManagementSystem/Client/FTS3Job.py
  src/DIRAC/DataManagementSystem/ConfigTemplate.cfg
  src/DIRAC/DataManagementSystem/DB/FTS3DB.py
  src/DIRAC/DataManagementSystem/Utilities/ResolveSE.py
  src/DIRAC/RequestManagementSystem/Client/ReqClient.py
  src/DIRAC/RequestManagementSystem/DB/RequestDB.py
  src/DIRAC/RequestManagementSystem/Service/ReqManagerHandler.py
  src/DIRAC/TransformationSystem/Agent/TransformationAgent.py
  src/DIRAC/TransformationSystem/Client/RequestTasks.py
Labels: alsoTargeting:integration
