Repository DIRACGrid/DIRAC, pull requests merged in 2024-02, with the labels that each got.

#7435 [8.0] fix(JobDB): getJobParameters and getJobsAttributes use integer jobIDs…
  src/DIRAC/WorkloadManagementSystem/DB/JobDB.py
Labels: alsoTargeting:integration

#7438 [8.0] fix: correctly set the duration of tokens in cache
  src/DIRAC/FrameworkSystem/Client/TokenManagerClient.py
Labels: alsoTargeting:integration

#7415 [8.0] PushJobAgent do not send failover request anymore
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_JobAgent.py
Labels: alsoTargeting:integration

#7434 [8.0] StatesAccountingAgent: skip the first iteration in order to avoid double commit after a restart
  src/DIRAC/WorkloadManagementSystem/Agent/StatesAccountingAgent.py
Labels: alsoTargeting:integration

#7444 [8.0] fix: AREX get pilot logging info with a token
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/Resources/Computing/test/Test_AREXComputingElement.py
Labels: alsoTargeting:integration

#7447 [sweep:integration] PushJobAgent do not send failover request anymore
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_JobAgent.py
Labels: sweep:from rel-v8r0

#7449 [8.0] fix: getQueue() overrides the CE tags
  src/DIRAC/ConfigurationSystem/Client/Helpers/Resources.py
  src/DIRAC/ConfigurationSystem/Client/Helpers/test/Test_Helpers.py
Labels: alsoTargeting:integration

#7457 [8.0] fix: `jobID` type discrepancies in JobAgent
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
Labels: alsoTargeting:integration

#7452 [8.0] fix: dirac-proxy-init should not print the group anymore
  src/DIRAC/FrameworkSystem/scripts/dirac_proxy_init.py
Labels: sweep:ignore

#7467 [8.0] fix: change location for BatchSystemInfo
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/TimeLeft.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
Labels: alsoTargeting:integration

#7465 [8.0] dmeta - Error message in case failure due to permission denied
  src/DIRAC/Interfaces/scripts/dmeta.py
Labels: alsoTargeting:integration

#7370 [v8.0] Add consistency check tools
  consistency_check/README.md
  consistency_check/consistency.py
  docs/diracdoctools/scripts/dirac-docs-get-release-notes.py
Labels: alsoTargeting:integration

#7472 [sweep:integration] dmeta - Error message in case failure due to permission denied
  src/DIRAC/Interfaces/scripts/dmeta.py
Labels: sweep:from rel-v8r0

#7474 [8.0] jobID type discrepancies in PushJobAgent
  src/DIRAC/WorkloadManagementSystem/Agent/PushJobAgent.py
Labels: alsoTargeting:integration

#7476 [8.0] Optimization of job deletion
  src/DIRAC/WorkloadManagementSystem/Agent/JobCleaningAgent.py
Labels: alsoTargeting:integration

#7479 [8.0] Download no-VOMS proxies for requests where VOMS is not required
  src/DIRAC/RequestManagementSystem/private/RequestTask.py
Labels: alsoTargeting:integration

#7478 [8.0] Fix DISET calls with proxy to be used passed as an argument
  src/DIRAC/Core/DISET/private/Transports/SSL/M2Utils.py
  src/DIRAC/Core/DISET/private/Transports/SSLTransport.py
Labels: alsoTargeting:integration

#7489 [8.0] fix: do not print group info when doing dirac-proxy-init
  src/DIRAC/FrameworkSystem/scripts/dirac_proxy_info.py
Labels: alsoTargeting:integration

#7466 [8.0] AccountingDB: fix insert statement
  src/DIRAC/AccountingSystem/DB/AccountingDB.py
Labels: alsoTargeting:integration, sweep:ignore
