Repository DIRACGrid/DIRAC, pull requests merged in 2024-04, with the labels that each got.

#7545 [sweep:integration] fix: cannot get time left because of a wrong method used
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/TimeLeft.py
  src/DIRAC/Resources/Computing/BatchSystems/TimeLeft/test/Test_TimeLeft.py
Labels: sweep:from rel-v8r0

#7550 [8.0] fix: type issue in JobCleaningAgent;
  src/DIRAC/WorkloadManagementSystem/Agent/JobCleaningAgent.py
Labels: alsoTargeting:integration

#7549 [8.0] feat: remove files from the RemoteRunner execution
  src/DIRAC/Resources/Computing/AREXComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Utilities/RemoteRunner.py
Labels: alsoTargeting:integration

#7542 [8.0] feat: add cwltool
  environment.yml
  setup.cfg
Labels: alsoTargeting:integration

#7557 [8.0] test: fix PilotWrapper test
  integration_tests.py
  src/DIRAC/Core/Security/ProxyFile.py
  src/DIRAC/Core/Security/m2crypto/X509CRL.py
  src/DIRAC/Core/Security/m2crypto/X509Chain.py
  src/DIRAC/Core/Utilities/File.py
  src/DIRAC/FrameworkSystem/private/authorization/utils/Tokens.py
  src/DIRAC/Interfaces/Utilities/DConfigCache.py
  src/DIRAC/WorkloadManagementSystem/Utilities/test/Test_PilotWrapper.py
  tests/CI/docker-compose.yml
  tests/CI/envs/elasticsearch:7.9.1.env
  tests/CI/envs/opensearchproject/opensearch:2.1.0.env
Labels: alsoTargeting:integration

#7560 [sweep:integration] test: fix PilotWrapper test
  integration_tests.py
  src/DIRAC/Core/Security/ProxyFile.py
  src/DIRAC/Core/Security/m2crypto/X509CRL.py
  src/DIRAC/Core/Security/m2crypto/X509Chain.py
  src/DIRAC/Core/Utilities/File.py
  src/DIRAC/FrameworkSystem/private/authorization/utils/Tokens.py
  src/DIRAC/Interfaces/Utilities/DConfigCache.py
  src/DIRAC/WorkloadManagementSystem/Utilities/test/Test_PilotWrapper.py
  tests/CI/docker-compose.yml
Labels: sweep:from rel-v8r0

#7561 [v8.0] Replace ROOT_All with ROOT
  src/DIRAC/Interfaces/API/Dirac.py
  src/DIRAC/Resources/Catalog/PoolXMLCatalog.py
  src/DIRAC/Resources/Catalog/PoolXMLFile.py
  src/DIRAC/WorkloadManagementSystem/Client/InputDataResolution.py
Labels: alsoTargeting:integration

#7563 [8.0] fix: make sure CVMFS_locations is a list
  src/DIRAC/WorkloadManagementSystem/Agent/SiteDirector.py
Labels: alsoTargeting:integration

#7568 [8.0] Support M2Crypto 0.40.0+
  src/DIRAC/Core/Security/m2crypto/X509CRL.py
  src/DIRAC/Core/Security/m2crypto/X509Certificate.py
  src/DIRAC/Core/Security/m2crypto/X509Chain.py
  src/DIRAC/Core/Security/m2crypto/X509Request.py
  src/DIRAC/Core/Tornado/Server/TornadoServer.py
Labels: alsoTargeting:integration

#7566 [sweep:integration] Replace ROOT_All with ROOT
  src/DIRAC/Interfaces/API/Dirac.py
  src/DIRAC/Resources/Catalog/PoolXMLCatalog.py
  src/DIRAC/Resources/Catalog/PoolXMLFile.py
  src/DIRAC/WorkloadManagementSystem/Client/InputDataResolution.py
Labels: sweep:from rel-v8r0

#7565 [8.0] fix: support `file:/path/to/pilot_files` as a location for the pilot files
  src/DIRAC/WorkloadManagementSystem/Utilities/PilotWrapper.py
Labels: alsoTargeting:integration

#7572 [8.0] fix: serverUtils: jit imports
  src/DIRAC/MonitoringSystem/Client/ServerUtils.py
  src/DIRAC/WorkloadManagementSystem/Client/ServerUtils.py
Labels: alsoTargeting:integration

#7574 [sweep:integration] fix: serverUtils: jit imports
  src/DIRAC/MonitoringSystem/Client/ServerUtils.py
  src/DIRAC/WorkloadManagementSystem/Client/ServerUtils.py
Labels: sweep:from rel-v8r0

#7334 [8.0] upload releases to CVMFS (deployment GA)
  .github/workflows/deployment.yml
Labels: alsoTargeting:integration, sweep:ignore

#7578 [8.0] fix getMonitoringDB returning None
  src/DIRAC/MonitoringSystem/Client/ServerUtils.py
  src/DIRAC/WorkloadManagementSystem/Client/ServerUtils.py
Labels: alsoTargeting:integration

#7583 [8.0]: Fix issue when using secureWrite in binary mode
  src/DIRAC/Core/Utilities/File.py
Labels: alsoTargeting:integration

#7592 [8.0] simple bump of actions versions
  .github/workflows/basic.yml
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/labeler.yml
  .github/workflows/nightly.yml
  .github/workflows/semantic.yml
Labels: alsoTargeting:integration

#7598 [sweep:integration] simple bump of actions versions
  .github/workflows/basic.yml
  .github/workflows/deployment.yml
  .github/workflows/integration.yml
  .github/workflows/labeler.yml
  .github/workflows/nightly.yml
  .github/workflows/semantic.yml
Labels: sweep:from rel-v8r0
