Repository DIRACGrid/DIRAC, pull requests merged in 2025-04, with the labels that each got.

#8114 [8.0] Fix AREX proxy pilotlog (alwaysIncludeProxy mode)
  src/DIRAC/Resources/Computing/AREXComputingElement.py
Labels: alsoTargeting:integration

#8113 [8.0] fix: avoid repeating optimization when job goes to STAGING
  src/DIRAC/WorkloadManagementSystem/Client/JobStatus.py
  src/DIRAC/WorkloadManagementSystem/Executor/JobScheduling.py
Labels: alsoTargeting:integration

#8118 [8.0] fix: Singularity issue with non existing SE + JobAgent issue with exception raised during submission
  src/DIRAC/Resources/Computing/SingularityComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
Labels: alsoTargeting:integration

#8141 [8.0] fix (test): fix s3Mock version
  tests/CI/docker-compose.yml
Labels: sweep:ignore

#8110 [8.0] Add cgroup2 limit support
  docs/source/AdministratorGuide/Resources/computingelements.rst
  src/DIRAC/Core/Utilities/CGroups2.py
  src/DIRAC/Core/Utilities/Subprocess.py
  src/DIRAC/Resources/Computing/InProcessComputingElement.py
  src/DIRAC/Resources/Computing/SingularityComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
Labels: alsoTargeting:integration

#8159 [sweep:integration] Add cgroup2 limit support
  docs/source/AdministratorGuide/Resources/computingelements.rst
  src/DIRAC/Core/Utilities/CGroups2.py
  src/DIRAC/Core/Utilities/Subprocess.py
  src/DIRAC/Resources/Computing/InProcessComputingElement.py
  src/DIRAC/Resources/Computing/SingularityComputingElement.py
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
Labels: sweep:from rel-v8r0

#8168 [8.0] fix: job agent fix endless loop finalize
  src/DIRAC/WorkloadManagementSystem/Agent/JobAgent.py
  src/DIRAC/WorkloadManagementSystem/Agent/test/Test_Agent_JobAgent.py
Labels: alsoTargeting:integration
